force-app/main/default/flows/API_SPAJK_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approval_Data</name>
        <label>Assign Approval Data</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ApprovalData.requesterx5fnik</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Review.Loan_Information__r.Owner.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.requesterx5fjobx5ftitlex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee.job_title_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.productx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.product_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.assetx5ftypex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.asset_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.otr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.reverse_otr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.downx5fpayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.initial_down_payment_amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.adminx5ffee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.admin_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.provisionx5ffee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.provision_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.provisionx5frate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.provision_rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.fiduciax5ffee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.fiducia_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.assetx5finsurancex5fpaidx5famountx5ffromx5fcustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.asset_insurance_premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.santunanx5finsurancex5fpaidx5famountx5ffromx5fcustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.santunan_insurance_premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.rsax5finsurancex5fpaidx5famountx5ffromx5fcustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.rsa_insurance_premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.surveyx5ffee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.survey_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.birthx5fdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaCustomerBirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.branchx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Review.Loan_Information__r.BranchId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalData.isx5flifex5fpremix5fcapitalized</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitalizedInsurance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Body_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_From_Employee_Service</name>
        <label>Assign Employee From Employee Service</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Employee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_By_NIK.OutputEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approval_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OutputHTTPCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>API_SPAJK_Approval_Flow.OutputHttpCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputApprovalID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>API_SPAJK_Approval_Flow.OutputApprovalID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrorMessage</name>
        <label>AssignErrorMessage</label>
        <locationX>270</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>OutputErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Body_Assignment</name>
        <label>Request Body Assignment</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>RequestBody.segmentx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.customerx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Review.Loan_Information__r.Account.Primary_Contact__r.customer_cif_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.customerx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Review.Loan_Information__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.applicationx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Review.Application_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.insurancex5fcompanyx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>75</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.insurancex5fcompanyx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pan Pacific Insurance, PT - KPR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.insurancex5fcalculationx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.life_insurance_calculation_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.tenor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Data_Calculator.tenor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.approvalx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEW_BUSINESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.approvalx5fcategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEW_APPLICATION_PBF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.requesterx5fnotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PLEASE APPROVE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.filex5fattachmentx5fdocumentx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputSPAJKDocID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBody.approvalx5fdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>API_SPAJK_Approval_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Insurance_Capitalized_to_False</name>
        <label>Set Insurance Capitalized to False</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CapitalizedInsurance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_By_NIK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Insurance_Capitalized_to_True</name>
        <label>Set Insurance Capitalized to True</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CapitalizedInsurance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_By_NIK</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_API_Error</name>
        <label>Check For API Error</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Save_Approval_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESERROR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>API_SPAJK_Approval_Flow.OutputApprovalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>API_SPAJK_Approval_Flow.OutputApprovalID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES ERROR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DP</name>
        <label>Is DP</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Insurance_Capitalized_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Insurance_Type_From_POT.AssetInsuranceTYpe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Insurance_Capitalized_to_False</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Set is_life_premi_capitalized based on asset insurance type from POT</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCustomerBirthDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Get_Application_Review.Lead__r.Date_of_Birth__c})) &amp; &quot;-&quot; &amp; 
LPAD(TEXT(MONTH({!Get_Application_Review.Lead__r.Date_of_Birth__c})), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp; 
LPAD(TEXT(DAY({!Get_Application_Review.Lead__r.Date_of_Birth__c})), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaNIKToText</name>
        <dataType>String</dataType>
        <expression>{!Get_Application_Review.Loan_Information__r.Owner.FederationIdentifier}</expression>
    </formulas>
    <interviewLabel>[API] SPAJK Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[API] SPAJK Submission</label>
    <loops>
        <name>Loop_to_Error</name>
        <label>Loop to Error</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <collectionReference>API_SPAJK_Approval_Flow.OutputErrorMessageList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignErrorMessage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_API_Error</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Approval_ID</name>
        <label>Save Approval ID</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_ID__c</field>
            <value>
                <elementReference>API_SPAJK_Approval_Flow.OutputApprovalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Document_ID__c</field>
            <value>
                <elementReference>InputSPAJKDocID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Document_Type__c</field>
            <value>
                <stringValue>INSURANCEAPPLICATIONFORM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>Get_Survey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPAJK__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Review</name>
        <label>Get Application Review</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Calculator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Calculator</name>
        <label>Get Calculator Data</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>related_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Review.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>API_Loan_Calculator_Non_KPR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Insurance_Type_From_POT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Review.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey</name>
        <label>Get Survey</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey</name>
        <label>Update Survey</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPAJK__c</field>
            <value>
                <elementReference>Save_Approval_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>API_SPAJK_Approval_Flow</name>
        <label>[API] SPAJK Approval Flow</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Assign_Result</targetReference>
        </connector>
        <flowName>API_SPAJK_Approval</flowName>
        <inputAssignments>
            <name>InputRequestBody</name>
            <value>
                <elementReference>RequestBody</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Asset_Insurance_Type_From_POT</name>
        <label>Get Asset Insurance Type From POT</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Is_DP</targetReference>
        </connector>
        <flowName>API_POTSV1_Get_Asset_Insurance_Type</flowName>
        <inputAssignments>
            <name>PackageID</name>
            <value>
                <elementReference>Get_Data_Calculator.package_id__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Employee_By_NIK</name>
        <label>Get Employee By NIK</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Employee_From_Employee_Service</targetReference>
        </connector>
        <flowName>API_Get_Employee_By_NIK</flowName>
        <inputAssignments>
            <name>InputNIK</name>
            <value>
                <elementReference>FormulaNIKToText</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ApprovalData</name>
        <apexClass>ExternalService__SPAJKSubmission_SPAJKx20Submission_IN_body_approvalx5fdata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CapitalizedInsurance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Employee_Service__c</objectType>
    </variables>
    <variables>
        <name>FileAttachmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputSPAJKDocID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputApprovalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OutputHTTPCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RequestBody</name>
        <apexClass>ExternalService__SPAJKSubmission_SPAJKx20Submission_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
