force-app/main/default/flows/API_Pefindo_Check_Summary_Status_And_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pefindo_Check_Summary_Status_And_Score</name>
        <label>Pefindo Check Summary Status And Score</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>PefindoCheckSummaryStatusAndScore.Pefindo Check Summary Status And Score</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_HTTP_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processid</name>
            <value>
                <elementReference>InputProcessId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processentityid</name>
            <value>
                <elementReference>InputProcessEntityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PefindoCheckSummaryStatusAndScore.Pefindo Check Summary Status And Score</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_1</name>
        <label>Assign Error</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pefindo_Check_Summary_Status_And_Score.defaultExc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_2</name>
        <label>Assign Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pefindo_Check_Summary_Status_And_Score.defaultExc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_HTTP_Code</name>
        <label>Assign HTTP Code</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>HttpCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pefindo_Check_Summary_Status_And_Score.responseCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HTTP_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>PefindoScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Pefindo_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PefindoScoreCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Pefindo_Score_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RiskScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Risk_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RiskScoreCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Risk_Score_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StatusCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Status_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Result_Check</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_HTTP_Code</name>
        <label>Check HTTP Code</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pefindo_Check_Summary_Status_And_Score.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Status_Check</targetReference>
            </connector>
            <label>200</label>
        </rules>
        <rules>
            <name>X400</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pefindo_Check_Summary_Status_And_Score.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_1</targetReference>
            </connector>
            <label>400</label>
        </rules>
    </decisions>
    <description>Ready to promote to QA Server</description>
    <environments>Default</environments>
    <interviewLabel>[API] Pefindo Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[API] Pefindo Check Summary Status And Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pefindo_Check_Summary_Status_And_Score</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Pefindo_Score</name>
        <label>Transform Pefindo Score</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Transform_Pefindo_Score_Category</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.pefindo.pefindox5fscore.score</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Pefindo_Score_Category</name>
        <label>Transform Pefindo Score Category</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Transform_Risk_Score</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.pefindo.pefindox5fscore.scorex5fcategory</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Result_Check</name>
        <label>Transform Result Check</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Pefindo_Score</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.resultx5fcheck</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Risk_Score</name>
        <label>Transform Risk Score</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Transform_Risk_Score_Category</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.pefindo.riskx5fscore.score</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Risk_Score_Category</name>
        <label>Transform Risk Score Category</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Result</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.pefindo.riskx5fscore.scorex5fcategory</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Status_Check</name>
        <label>Transform Status Check</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Transform_Result_Check</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Pefindo_Check_Summary_Status_And_Score.2XX.data.summary.statusx5fcheck</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HttpCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputProcessEntityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>InputProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PefindoScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PefindoScoreCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ResultCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RiskScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RiskScoreCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
