force-app/main/default/flows/Api_LoanCalculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>post_Loan_Calc</name>
        <label>[post] Loan Calc</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>LoanCalculation.Kalkulator</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varA_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoanCalculation.Kalkulator</nameSegment>
        <outputParameters>
            <assignToReference>outA_Result</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_Body</name>
        <label>set Body</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varA_Body.insurancex5fcompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FWD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_Body.jenisx5fasset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rumah</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>post_Loan_Calc</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Api] LoanCalculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Api] LoanCalculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_Body</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>outA_Result</name>
        <apexClass>ExternalService__LoanCalculation_Kalkulator_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varA_Body</name>
        <apexClass>ExternalService__LoanCalculation_Kalkulator_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
