force-app/main/default/flows/API_Pefindo_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>API_Pefindo_Check</name>
        <label>[API] Pefindo Check</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <actionName>PefindoCheckSubmission.Pefindo Check Submission</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_HTTP_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InputRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PefindoCheckSubmission.Pefindo Check Submission</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_1</name>
        <label>Assign Error</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>API_Pefindo_Check.defaultExc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Code_and_Message</name>
        <label>Assign Error Code and Message</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Error_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Error_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Info</name>
        <label>Assign Error Info</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ErrorInfoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Details_Fields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Details_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HTTP_Code</name>
        <label>Assign HTTP Code</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>HTTPCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>API_Pefindo_Check.responseCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_200_OK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_ID</name>
        <label>Assign Process ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ProcessID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Process_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_HTTP_Error_Code</name>
        <label>Check HTTP Error Code</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER HTTP CODES</defaultConnectorLabel>
        <rules>
            <name>HTTP_400</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Pefindo_Check.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Error_Code</targetReference>
            </connector>
            <label>HTTP 400</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_200_OK</name>
        <label>Is 200 OK</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_HTTP_Error_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>API_Pefindo_Check.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Process_ID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Ready to promote to QA Server</description>
    <environments>Default</environments>
    <interviewLabel>[API] Pefindo Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[API] Pefindo Check</label>
    <loops>
        <name>Loop_Details_Fields</name>
        <label>Loop Details Fields</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <collectionReference>Transform_Error_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Error_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Error_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Error_Details</name>
        <label>Loop Error Details</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <collectionReference>API_Pefindo_Check.400Exc.details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transform_Error_Info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>API_Pefindo_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Error_Code</name>
        <label>Transform Error Code</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Error_Message</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>API_Pefindo_Check.400Exc.code</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Error_Info</name>
        <label>Transform Error Info</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_Details_Fields</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_Error_Details.fields[$EachItem].info</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Error_Message</name>
        <label>Transform Error Message</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Error_Code_and_Message</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>API_Pefindo_Check.400Exc.message</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Process_ID</name>
        <label>Transform Process ID</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Process_ID</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>API_Pefindo_Check.2XX.data.processx5fid</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ErrorCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ErrorInfoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HTTPCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InputRequestBody</name>
        <apexClass>ExternalService__PefindoCheckSubmission_Pefindox20Checkx20Submission_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
