force-app/main/default/flows/Api_Bank_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Bank_Account</name>
        <label>[POST] Add Bank Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Bank_Account_Updated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BankService.addAccount</nameSegment>
        <outputParameters>
            <assignToReference>varA_ReturnAccount_201ok</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varA_ExistingAccount_409exc</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_Bank_Account_ID</name>
        <label>Assign Existing Bank Account ID</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outS_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varA_ExistingAccount_409exc.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outS_AccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varA_ExistingAccount_409exc.z0type</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bank_Account_Updated</name>
        <label>Bank Account Updated?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Bank_Account_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bank Account Found</defaultConnectorLabel>
        <rules>
            <name>Bank_Account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varA_ExistingAccount_409exc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bank Account Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Api] Bank Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Api] Bank Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bank</name>
        <label>Bank</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Thompson</stringValue>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Checking</stringValue>
            </defaultValue>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bank</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>outS_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outS_AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varA_ExistingAccount_409exc</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varA_ReturnAccount_201ok</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
