force-app/main/default/flows/Api_Pilih_Agent_AgencyPlatform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Agent</name>
        <label>Get Agent</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>AgencyPlatform.subagents</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ApexToAgency</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ao</name>
            <value>
                <elementReference>Cur_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgencyPlatform.subagents</nameSegment>
        <outputParameters>
            <assignToReference>varA_Agent</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <dynamicChoiceSets>
        <name>cboSOA</name>
        <collectionReference>SOA_Type.outC_PicklistValueInfo</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[Api] Pilih Agent - AgencyPlatform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Api] Pilih Agent - AgencyPlatform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Cur_Lead</name>
        <label>Cur Lead</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SOA_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SOA_Source__c</field>
            <value>
                <elementReference>AgencyPlatform.firstSelectedRow.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOA_Type__c</field>
            <value>
                <elementReference>Pilih_SOA</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Pilih_Agent</name>
        <label>Pilih Agent</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>AgencyPlatform</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Api_Agency__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>AgencyPlatform</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ApexToAgency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;agent_id__c&quot;,&quot;guid&quot;:&quot;column-1f64&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;agent_id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b2f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;agent_name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AO_BRO__c&quot;,&quot;guid&quot;:&quot;column-ba68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;AO/BRO&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;soa_type__c&quot;,&quot;guid&quot;:&quot;column-a768&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;soa_type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pilih</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pilih_SOA_Type</name>
        <label>Pilih SOA Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Agent</targetReference>
        </connector>
        <fields>
            <name>Pilih_SOA</name>
            <choiceReferences>cboSOA</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Agency</stringValue>
            </defaultValue>
            <fieldText>Pilih SOA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Pilih</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cur_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SOA_Type</name>
        <label>SOA_Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Pilih_SOA_Type</targetReference>
        </connector>
        <flowName>Gen_GetPicklist</flowName>
        <inputAssignments>
            <name>prmS_FieldName</name>
            <value>
                <stringValue>SOA_Type__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>prmS_ObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <name>ApexToAgency</name>
        <label>ApexToAgency</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pilih_Agent</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Api_Agency__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>agent_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varA_Agent.data.agentx5flist[$EachItem].agentx5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>varA_Agent.data.agentx5flist[$EachItem].agentx5fname</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_Agent</name>
        <apexClass>ExternalService__AgencyPlatform_subagents_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varC_Agent</name>
        <apexClass>ExternalService__AgencyPlatform_subagents_OUT_2XX_data_agentx5flist</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
