force-app/main/default/flows/Apr_Approval_Komite_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Komite_Survey_1</name>
        <label>Submit - Komite Survey 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>PI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Komite Survey - Cycle 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Komite_Survey_Persetujuan_1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_Recipient</name>
        <label>set Recipient</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>i.OriginalActorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>i</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cek_Cabang</name>
        <label>Cek Cabang</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Gak Ada</defaultConnectorLabel>
        <rules>
            <name>Ada_Cabang</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cur_Opty.Cabang__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Komite_Survey_1</targetReference>
            </connector>
            <label>Ada Cabang</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_NotifBody</name>
        <dataType>String</dataType>
        <expression>&quot;Mohon lakukan komite survey untuk Leads Id (&quot;&amp; {!curOpty.Account.Lead_ID__c} &amp;&quot;) atas nama (&quot; &amp; {!curOpty.Account.Name} &amp;&quot;), NTF (&quot; &amp; {!funcS_NTF_Currency} &amp; &quot;).&quot;</expression>
    </formulas>
    <formulas>
        <name>funcS_NTF_Currency</name>
        <dataType>String</dataType>
        <expression>
IF(ABS({!curOpty.NTF_Pengajuan__c}) &gt;= 1000000000, RIGHT(TEXT(FLOOR(ABS({!curOpty.NTF_Pengajuan__c}) / 1000000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!curOpty.NTF_Pengajuan__c}) &gt;= 1000000, RIGHT(TEXT(FLOOR(ABS({!curOpty.NTF_Pengajuan__c}) / 1000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!curOpty.NTF_Pengajuan__c}) &gt;= 1000, RIGHT(TEXT(FLOOR(ABS({!curOpty.NTF_Pengajuan__c}) / 1000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; RIGHT(TEXT(FLOOR(ABS({!curOpty.NTF_Pengajuan__c}))), 3)</expression>
    </formulas>
    <interviewLabel>[Apr] Approval Komite Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Apr] Approval Komite Survey</label>
    <loops>
        <name>i</name>
        <label>i</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>PIW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>curOpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>cur_Opty</name>
        <label>cur Opty</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Cabang</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>curOpty</name>
        <label>curOpty</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>curSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>curSurvey</name>
        <label>curSurvey</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mohon_Approval_Komite_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PI</name>
        <label>PI</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PIW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PIW</name>
        <label>PIW</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>i</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cur_Opty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Mohon_Approval_Komite_Survey</name>
        <label>Mohon Approval Komite Survey</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>funcS_NotifBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Approval Komite Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_RecipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>curSurvey.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>006MR00000682NnYAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>varC_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
