force-app/main/default/flows/Asset_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Asset_Code</name>
        <label>Asset Code</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>AssetCode.Asset Code</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_200_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_for_Unknown_API_Call_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>asset_type_id</name>
            <value>
                <elementReference>InputAssetTypeID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AssetCode.Asset Code</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsert Warning</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Debug_for_Http_Code_Other_Than_200</name>
        <label>Debug for Http Code Other Than 200</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Code.responseCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Debug_for_Unknown_API_Call_Error</name>
        <label>Debug for Unknown API Call Error</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown API Call Error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Put_Response_to_Object</name>
        <label>Put Response to Object</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ResultItem.is_final_level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.is_final_level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.is_special_collateral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsSpecialCollateralCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.door__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoorCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.max_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxYearCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.min_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MinYearCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.rank_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RankNumberCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.resale_value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.resale_value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.asset_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.asset_group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.asset_parent_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetParentCodeCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.asset_type_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.asset_type_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.brand_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrandDescriptionCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.category_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.category_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.category_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.category_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.commercial_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.commercial_description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.cylinder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.cylinder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.fuel_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.fuel_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.image_url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.image_url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.manufacturing_country_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.manufacturing_country_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.model_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModelDescriptionCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotesCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.parent_type_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentTypeGroupCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.price_on_the_road_flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.price_on_the_road_flag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.transmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.transmission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.type_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeGroupCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.variant_description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VariantDescriptionCheckNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.vehicle_type_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.vehicle_type_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultItem.vehicle_type_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response.vehicle_type_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResultItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment is required because we need to construct result object field by field</description>
        <name>Put_Transform_to_ResponseObjects</name>
        <label>Put Transform to ResponseObjects</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponseObjects</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_200_OK</name>
        <label>Is 200 OK</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Debug_for_Http_Code_Other_Than_200</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT 200 OK</defaultConnectorLabel>
        <rules>
            <name>YES_200_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Code.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Response</targetReference>
            </connector>
            <label>YES 200 OK</label>
        </rules>
    </decisions>
    <description>Flow Run as User or System Context (Default)</description>
    <environments>Default</environments>
    <formulas>
        <name>AssetParentCodeCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.asset_parent_code__c}), &quot;&quot;, {!Loop_Response.asset_parent_code__c})</expression>
    </formulas>
    <formulas>
        <name>BrandDescriptionCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.brand_description__c}), &quot;&quot;, {!Loop_Response.brand_description__c})</expression>
    </formulas>
    <formulas>
        <name>DoorCheckNull</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_Response.door__c}), 0, {!Loop_Response.door__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsSpecialCollateralCheckNull</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_Response.is_special_collateral__c} = true, true, false)</expression>
    </formulas>
    <formulas>
        <name>MaxYearCheckNull</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_Response.max_year__c}), 0, {!Loop_Response.max_year__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MinYearCheckNull</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_Response.min_year__c}), 0, {!Loop_Response.min_year__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ModelDescriptionCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.model_description__c}), &quot;&quot;, {!Loop_Response.model_description__c})</expression>
    </formulas>
    <formulas>
        <name>NotesCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.notes__c}), &quot;&quot;, {!Loop_Response.notes__c})</expression>
    </formulas>
    <formulas>
        <name>ParentTypeGroupCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.parent_type_group__c}), &quot;&quot;, {!Loop_Response.parent_type_group__c})</expression>
    </formulas>
    <formulas>
        <name>RankNumberCheckNull</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_Response.rank_number__c}), 0, {!Loop_Response.rank_number__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TypeGroupCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.type_group__c}), &quot;&quot;, {!Loop_Response.type_group__c})</expression>
    </formulas>
    <formulas>
        <name>VariantDescriptionCheckNull</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Response.variant_description__c}), &quot;&quot;, {!Loop_Response.variant_description__c})</expression>
    </formulas>
    <interviewLabel>Asset Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sync] Master Asset Code</label>
    <loops>
        <name>Loop_Response</name>
        <label>Loop Response</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>ResponseObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Put_Response_to_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Result</name>
        <label>Save Result</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Assignment_4</targetReference>
        </faultConnector>
        <inputReference>ResultList</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asset_Code</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Response</name>
        <label>Transform Response</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Put_Transform_to_ResponseObjects</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>API_Asset_Code_Master_Data__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>active__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].active</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>asset_group__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].assetx5fgroup</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>asset_parent_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].assetx5fparentx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>asset_type_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].assetx5ftypex5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>brand_description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].brandx5fdescription</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>category_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].categoryx5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>category_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].categoryx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>commercial_description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].commercialx5fdescription</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>cylinder__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].cylinder</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>door__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].door</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>fuel_type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].fuelx5ftype</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>image_url__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].imagex5furl</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>is_final_level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].isx5ffinalx5flevel</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>is_special_collateral__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].isx5fspecialx5fcollateral</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].level</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>manufacturing_country_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].manufacturingx5fcountryx5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>max_year__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].maxx5fyear</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>min_year__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].minx5fyear</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>model_description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].modelx5fdescription</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>notes__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].notes</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>parent_type_group__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].parentx5ftypex5fgroup</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>price_on_the_road_flag__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].pricex5fonx5fthex5froadx5fflag</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>rank_number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].rankx5fnumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>resale_value__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].resalex5fvalue</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>transmission__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].transmission</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>type_group__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].typex5fgroup</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>variant_description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].variantx5fdescription</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>vehicle_type_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].vehiclex5ftype.id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>vehicle_type_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Asset_Code.2XX.content[$EachItem].vehiclex5ftype.name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>DebugLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputAssetTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Asset_Code_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>ResultItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Asset_Code_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>ResultList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Asset_Code_Master_Data__c</objectType>
    </variables>
</Flow>
