force-app/main/default/flows/Assign_Default_Survey_Companion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Assign_Default_Survey_Companion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Default Survey Companion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cabang_Role_ID_Based_On_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Cabang_Role_ID_Based_On_Loan</name>
        <label>Get Cabang Role ID Based On Loan</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Default_Survey_Companion</targetReference>
        </connector>
        <flowName>Get_Cabang_Role_ID_Based_On_Loan</flowName>
        <inputAssignments>
            <name>InputLoanID</name>
            <value>
                <elementReference>InputLoanSFID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Default_Survey_Companion</name>
        <label>Get Default Survey Companion</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>Get_Default_Survey_Companion</flowName>
        <inputAssignments>
            <name>InputIDRoleBM</name>
            <value>
                <elementReference>Get_Cabang_Role_ID_Based_On_Loan.CabangRoleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputLoanSFID</name>
            <value>
                <elementReference>InputLoanSFID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>InputLoanSFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
