force-app/main/default/flows/CASE_FS_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner_Lama_dari_Case</name>
        <label>Assign Owner Lama dari Case</label>
        <locationX>437</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OwnerLama_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Owner:User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerLama_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Owner:User.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue</name>
        <label>Set Queue</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email to Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_1</name>
        <label>Set Queue 1</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social Media to Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_2</name>
        <label>Set Queue 2</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCC - Contact Center</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_3</name>
        <label>Set Queue 3</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cek_Queue</name>
        <label>Cek Queue</label>
        <locationX>825</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>DspError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Queue_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Email</targetReference>
            </connector>
            <label>Queue Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Area</name>
        <label>Check Area</label>
        <locationX>1337</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>From_Integration_OR_CC_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Pusat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CreatedBy.SCC_Area_Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kantor Pusat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Origin</targetReference>
            </connector>
            <label>Pusat</label>
        </rules>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CreatedBy.SCC_Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Branch</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>From_Integration_OR_CC_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Social_Media_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_1</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin_2</name>
        <label>Check Origin 2</label>
        <locationX>825</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Case</name>
        <label>Check Status Case</label>
        <locationX>437</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Origin_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenError</targetReference>
            </connector>
            <label>Not Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Integration_OR_CC_User</name>
        <label>From Integration OR CC User?</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Case_to_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other User</defaultConnectorLabel>
        <rules>
            <name>Integration_OR_CC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce API Only System Integrations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Queue_2</targetReference>
            </connector>
            <label>Integration OR CC</label>
        </rules>
    </decisions>
    <description>[12/02/2025 --vieri] - Adding update flag to report sla ola when case returned</description>
    <environments>Default</environments>
    <formulas>
        <name>ErrorFault</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage}, &quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;), 
            MID({!$Flow.FaultMessage}, 
                FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;, {!$Flow.FaultMessage}) + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;), 
                FIND(&quot;You can look up ExceptionCode&quot;, {!$Flow.FaultMessage}, FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;, {!$Flow.FaultMessage})) - FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;, {!$Flow.FaultMessage}) - LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;)
                ), 
            {!$Flow.FaultMessage})</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>OwnerLama</name>
        <dataType>String</dataType>
        <expression>{!OwnerLama_FirstName} &amp; &quot; &quot; &amp; {!OwnerLama_LastName}</expression>
    </formulas>
    <interviewLabel>[CASE]_FS_Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CASE]_FS_Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_Case_Reporting_Return_to_Queue</name>
        <label>Create Record Case Reporting - Return to Queue</label>
        <locationX>561</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Update_report_sla_ola_return_flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case.Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Date_Time_Perubahan_Owner__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Jenis_Automasi__c</field>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Jenis_Eskalasi_Perubahan__c</field>
            <value>
                <stringValue>Automasi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Owner_Baru__c</field>
            <value>
                <elementReference>Get_Queue_Email.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Owner_Lama__c</field>
            <value>
                <elementReference>OwnerLama</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Tiket__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SCC_Case_Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_Case_Reporting_Return_to_User</name>
        <label>Create Record Case Reporting - Return to User</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_report_sla_ola_return_flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case.Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Date_Time_Perubahan_Owner__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Jenis_Automasi__c</field>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Jenis_Eskalasi_Perubahan__c</field>
            <value>
                <stringValue>Automasi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Owner_Baru__c</field>
            <value>
                <elementReference>Case.CreatedBy.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Owner_Lama__c</field>
            <value>
                <elementReference>OwnerLama</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Tiket__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SCC_Case_Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>437</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Lama_dari_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch</name>
        <label>Get Branch</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BranchCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.CreatedBy.BranchCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Email</name>
        <label>Get Queue Email</label>
        <locationX>561</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_report_sla_ola_return_flag</name>
        <label>Copy 1 of Update report sla ola return flag</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>return_flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>561</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Create_Record_Case_Reporting_Return_to_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Returned_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Next_Escalation_Level__c</field>
            <value>
                <stringValue>SCC_Level1_Escalation_team__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Reject_Maker__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Remark__c</field>
            <value>
                <elementReference>Enter_The_Remark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Sub_Escalation_Level__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_User</name>
        <label>Update Case to User</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Record_Case_Reporting_Return_to_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Case.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Returned_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Next_Escalation_Level__c</field>
            <value>
                <stringValue>SCC_Level1_Escalation_team__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Reject_Maker__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Remark__c</field>
            <value>
                <elementReference>Enter_The_Remark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Sub_Escalation_Level__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_report_sla_ola_return_flag</name>
        <label>Update report sla ola return flag</label>
        <locationX>561</locationX>
        <locationY>2198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>return_flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Owner_Return_Flow</name>
        <label>Case Owner Return Flow</label>
        <locationX>437</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <fields>
            <name>Enter_The_Remark</name>
            <dataType>String</dataType>
            <fieldText>Enter The Remark</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DspError</name>
        <label>DspError</label>
        <locationX>1089</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Queue not found for return!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>825</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dsp1</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;Error : {!ErrorFault}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenError</name>
        <label>ScreenError</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errMess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Return hanya dapat dilakukan pada saat status escalated!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>311</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Owner_Return_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerLama_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerLama_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
