force-app/main/default/flows/CheckBranchID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Branch_Name</name>
        <label>Assign Branch Name</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_get_Branch_Name.worklocation_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_get_Branch_Name.worklocation_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchIDToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_Branch</name>
        <label>Assign Current User Branch</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserBranchID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.BranchName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Employee_Info</name>
        <label>Assign Employee Info</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>EmployeeInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Employee_Service_API_By_NIK.OutputEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Leads_Owner_Branch</name>
        <label>Assign Loan Owner Branch</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanOwnerBranchID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__r.Owner.BranchName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__r.Owner.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Branch_Name_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NIK_and_User_ID</name>
        <label>Assign NIK and User ID</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>NIK</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoggedUser_from_Session.VarR_LoggedUser.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionLogUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LoggedUser_from_Session.VarR_LoggedUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_BRO_NIK_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Branch_Name</name>
        <label>Copy 1 of Assign Branch Name</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_to_get_Branch_Name.worklocation_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_to_get_Branch_Name.worklocation_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchIDToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_User_Branch</name>
        <label>Copy 1 of Assign Current User Branch</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserBranchID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.BranchName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Employee_Service_API_By_NIK_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Employee_Info</name>
        <label>Copy 1 of Assign Employee Info</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EmployeeInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Employee_Service_API_By_NIK_2.OutputEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Branch_Name</name>
        <label>Copy 1 of Copy 1 of Assign Branch Name</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>AssignedBranchName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Copy_1_of_Loop_to_get_Branch_Name.worklocation_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Copy_1_of_Loop_to_get_Branch_Name.worklocation_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedBranchID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BranchIDToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_Employee_Info</name>
        <label>Copy 2 of Copy 1 of Assign Employee Info</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>EmployeeInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Employee_Service_API_By_NIK_3.OutputEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Loop_to_get_Branch_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Branch_Name_Null</name>
        <label>Is Branch Name Null</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>NOT NULL</defaultConnectorLabel>
        <rules>
            <name>YES_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignedBranchName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignedBranchName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Employee_Service_API_By_NIK</targetReference>
            </connector>
            <label>YES NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BRO_NIK_Available</name>
        <label>Is BRO NIK Available</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Yes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NIK</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Employee_Service_API_By_NIK_3</targetReference>
            </connector>
            <label>Yes Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Id_Blank</name>
        <label>Is Record Id Blank</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT BLANK</defaultConnectorLabel>
        <rules>
            <name>YES_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Current_User_Branch</targetReference>
            </connector>
            <label>YES BLANK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Still_Blank</name>
        <label>Is Still Blank</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Blank_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignedBranchName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssignedBranchName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LoggedUser_from_Session</targetReference>
            </connector>
            <label>YES Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Owner_Branch_ID_Null</name>
        <label>Is Loan Owner Branch ID Null</label>
        <locationX>1260</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_User_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Loan_Information__r.Owner.BranchId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Leads_Owner_Branch</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>update 2025-03-20 08:48</description>
    <environments>Default</environments>
    <formulas>
        <name>BranchIDToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!BranchID})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentUserBranchID</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$User.BranchId__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InputBranchIDToText</name>
        <dataType>String</dataType>
        <expression>TEXT({!InputBranchID})</expression>
    </formulas>
    <formulas>
        <name>LoanOwnerBranchID</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Application.Loan_Information__r.Owner.BranchId__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CheckBranchID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Branch ID</label>
    <loops>
        <name>Copy_1_of_Loop_to_get_Branch_Name</name>
        <label>Copy 1 of Loop to get Branch Name</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <collectionReference>EmployeeInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Branch_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Still_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_2_of_Copy_1_of_Loop_to_get_Branch_Name</name>
        <label>Copy 2 of Copy 1 of Loop to get Branch Name</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <collectionReference>EmployeeInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Branch_Name</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_to_get_Branch_Name</name>
        <label>Loop to get Branch Name</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <collectionReference>EmployeeInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Branch_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>1260</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Owner_Branch_ID_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Record_Id_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Employee_Service_API_By_NIK</name>
        <label>Call Employee Service API By NIK</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Employee_Info</targetReference>
        </connector>
        <flowName>Call_Employee_Service_API_By_NIK</flowName>
        <inputAssignments>
            <name>InputNIK</name>
            <value>
                <elementReference>Get_Application.Loan_Information__r.Owner.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_Employee_Service_API_By_NIK_2</name>
        <label>Call Employee Service API By NIK 2</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Employee_Info</targetReference>
        </connector>
        <flowName>Call_Employee_Service_API_By_NIK</flowName>
        <inputAssignments>
            <name>InputNIK</name>
            <value>
                <elementReference>$User.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_Employee_Service_API_By_NIK_3</name>
        <label>Call Employee Service API By NIK</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Assign_Employee_Info</targetReference>
        </connector>
        <flowName>Call_Employee_Service_API_By_NIK</flowName>
        <inputAssignments>
            <name>InputNIK</name>
            <value>
                <elementReference>NIK</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_LoggedUser_from_Session</name>
        <label>Get LoggedUser from Session</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_NIK_and_User_ID</targetReference>
        </connector>
        <flowName>Gen_Get_LoggedUser_from_Session</flowName>
        <inputAssignments>
            <name>varS_UserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AssignedBranchID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AssignedBranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BranchID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DebugLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Employee_Service__c</objectType>
    </variables>
    <variables>
        <description>Deprecated. No longer used.</description>
        <name>InputBranchID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NIK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionLogUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
