force-app/main/default/flows/Co_Insurer_Add_New_Co_Insurer_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Choice_Input_to_Variable</name>
        <label>Assign Choice Input to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLeaderMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leader_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Exchange_Rate_Master_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Choice_Input_to_Variable_1</name>
        <label>Assign Choice Input to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLeaderMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leader_Member_awt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Aswata_Share_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_isLeader</name>
        <label>Assign Flag isLeader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIsLeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id_for_Account_CoInsurance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Leader</name>
        <label>Assign Flag Leader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIsLeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Transaction_Data_AWT_as_Co_Insurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_Member</name>
        <label>Assign Flag Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIsLeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Transaction_Data_AWT_as_Co_Insurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Percent_Share_AWT</name>
        <label>Assign Percent Share AWT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Share_awt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_Aswata_As_Leader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_Var_Co_Insurer</name>
        <label>Assign to Collection Var Co Insurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoInsurerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Transaction_Data_Co_Insurer_Id.Co_Insurance_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Transaction_Data_Co_Insurer_Id.Member_Share__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_There_Aswata_in_Transaction_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_flag_AWT</name>
        <label>Assign to flag AWT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFlagAWT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Transaction_Data_Co_Insurer_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variable_and_Error_Message</name>
        <label>Reset Variable and Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLeaderErrMsg</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsLeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCoInsurerErrMsg</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCoInsurerErrMsg</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeaderMember</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Co_Insurer</name>
        <label>Set Error Message Co-Insurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoInsurerErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tidak Dapat Menambahkan Co-Insurer Karena Jumlah Share Telah Mencapai 100%</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>show_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Type_of_Business</name>
        <label>Set Error Message Type of Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errStartScreenMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaErrStartScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Leader_Error_Message</name>
        <label>Set Leader Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLeaderErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Leader telah terpilih dan hanya diperbolehkan sebanyak satu Co-Insurer Leader</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Input_Co_Insurer_Share_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Choosen_Co_Insurer_to_Var</name>
        <label>Store Choosen Co-Insurer to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoInsurer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_New_Co_Insurer.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CoInsurer_Detail_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aswata_Full_Covering</name>
        <choiceText>Aswata Full Covering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aswata</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_Insurance</name>
        <choiceText>Co-Insuring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-Insurance</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Check_Leader</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check Leader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Check_Leader</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Transaction_Data_CoInsurer</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Check_Leader.Leader_Member__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>L</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Leader_Found</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Aswata_already_as_CoInsurer</name>
        <label>Aswata already as CoInsurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Aswata_Share_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AWT_already_Co_Insurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlagAWT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>show_Screen</targetReference>
            </connector>
            <label>AWT already Co Insurer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Type_of_Business</name>
        <label>Check Current Type of Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Type_of_Business_Direct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Leader_Member_current</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Type_Of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Type_Of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve On Hold Binding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Binding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Quote_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contra Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Type_of_Business</targetReference>
            </connector>
            <label>Leader/Member &amp; Check Status Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_Aswata_As_Leader</name>
        <label>Check is Aswata As Leader</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Flag_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Member</defaultConnectorLabel>
        <rules>
            <name>AWT_Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Leader_Member_awt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_Leader</targetReference>
            </connector>
            <label>AWT Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_There_Aswata_in_Transaction_Data</name>
        <label>Check Is There Aswata in Transaction Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Transaction_Data_Co_Insurer_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>AWT_set_as_Co_Insurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Transaction_Data_Co_Insurer_Id.Co_Insurance_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CoInsurer_Aswata.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_flag_AWT</targetReference>
            </connector>
            <label>AWT set as Co Insurer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Leader_Can_Only_One</name>
        <label>Check Leader Can Only One</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Choice_Input_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aman</defaultConnectorLabel>
        <rules>
            <name>Leader_Validate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsLeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Leader_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Leader_Error_Message</targetReference>
            </connector>
            <label>Leader Validate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Transaction_Data_Co_Insurance</name>
        <label>Has Transaction Data Co-Insurance?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Start_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Co-Insurance Transaction Data</defaultConnectorLabel>
        <rules>
            <name>Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Transaction_Data_CoInsurer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leader_Transaction_Data_CoInsurer</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_CoInsurer_selection</name>
        <label>Is there a CoInsurer selection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoInsurer_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_New_Co_Insurer.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Percentage_Check</targetReference>
            </connector>
            <label>CoInsurer Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leader_Found</name>
        <label>Leader Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Id_for_Account_CoInsurance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Leader</defaultConnectorLabel>
        <rules>
            <name>Leader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leader_Transaction_Data_CoInsurer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_isLeader</targetReference>
            </connector>
            <label>Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_Percentage_Check</name>
        <label>Share Percentage Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Store_Choosen_Co_Insurer_to_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Under 100</defaultConnectorLabel>
        <rules>
            <name>Already_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPercentage</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Co_Insurer</targetReference>
            </connector>
            <label>Already 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Current_Type_of_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aswata Full Covering</defaultConnectorLabel>
        <rules>
            <name>Co_Insuring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insuring_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Co_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leader_Transaction_Data_CoInsurer</targetReference>
            </connector>
            <label>Co-Insuring</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Next_Action</name>
        <label>What Next Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_New_CoInsurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonNextAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Variable_and_Error_Message</targetReference>
            </connector>
            <label>Add New CoInsurer</label>
        </rules>
    </decisions>
    <description>adjustment error message when Leader/Member change to Direct</description>
    <dynamicChoiceSets>
        <name>CoInsurerCollection</name>
        <collectionReference>Get_CoInsurer_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>currecncyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Transaction_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>leaderMemberChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Leader_Member__c</picklistField>
        <picklistObject>Transaction_Data__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaCheckLeaderFound</name>
        <dataType>String</dataType>
        <expression>IF({!varIsLeader}, &apos;M&apos;, &apos;L&apos;)</expression>
    </formulas>
    <formulas>
        <name>formulaCountAmountAWTFromShare</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunity_Details.Total_Sum_Insured__c} * ( {!Share_awt} / 100 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaCountAmountFromShare</name>
        <dataType>Number</dataType>
        <expression>{!Get_Opportunity_Details.Total_Sum_Insured__c} * ( {!Share} / 100 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaCountShare</name>
        <dataType>Boolean</dataType>
        <expression>{!varPercentage}&gt;=100</expression>
    </formulas>
    <formulas>
        <name>formulaCountSisaPercentage</name>
        <dataType>Number</dataType>
        <expression>100-{!varPercentage}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaErrStartScreen</name>
        <dataType>String</dataType>
        <expression>&apos;Opportunity ini Memiliki Type of Business &apos;&amp;
CASE(TEXT({!Get_Opportunity_Details.Type_Of_Business__c}), &quot;L&quot;, &quot;Leader&quot;, &quot;M&quot;, &quot;Member&quot;, &quot;D&quot;, &quot;Direct&quot;, &quot;Other&quot;)
&amp;&apos; dan tidak dapat mengubah ke Direct/Full Covering&apos;</expression>
    </formulas>
    <formulas>
        <name>formulaLeaderMemberText</name>
        <dataType>String</dataType>
        <expression>IF({!varLeaderMember}=&apos;L&apos;, &apos;Leader&apos;, &apos;Member&apos;)</expression>
    </formulas>
    <interviewLabel>[Co-Insurer] Add New Co-Insurer Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Co-Insurer] Add New Co-Insurer Screen Flow</label>
    <loops>
        <name>Loop_for_Transaction_Data_Co_Insurer_Id</name>
        <label>Loop for Transaction Data Co-Insurer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Transaction_Data_CoInsurer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Collection_Var_Co_Insurer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CoInsurer_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Transaction_Data_AWT_as_Co_Insurer</name>
        <label>Save Transaction Data AWT as Co-Insurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>formulaCountAmountAWTFromShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_Insurance_Company__c</field>
            <value>
                <elementReference>Get_CoInsurer_Aswata.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency_awt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader_Member__c</field>
            <value>
                <elementReference>Leader_Member_awt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Share__c</field>
            <value>
                <elementReference>Share_awt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_CoInsurer_Aswata.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id_for_Transaction_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Transaction_Data_Co_Insurer</name>
        <label>Save Transaction Data Co-Insurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>formulaCountAmountFromShare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_Insurance_Company__c</field>
            <value>
                <elementReference>Get_CoInsurer_Detail_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leader_Member__c</field>
            <value>
                <elementReference>Leader_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Share__c</field>
            <value>
                <elementReference>Share</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_CoInsurer_Detail_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id_for_Transaction_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CoInsurer_Accounts</name>
        <label>Get CoInsurer Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aswata_already_as_CoInsurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id_for_Account_CoInsurance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varCoInsurerIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CoInsurer_Aswata</name>
        <label>Get CoInsurer Aswata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Master_Data_Exchange_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id_for_Account_CoInsurance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asuransi Wahana Tata</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CoInsurer_Detail_Record</name>
        <label>Get CoInsurer Detail Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Co_Insurer_Share_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCoInsurer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exchange_Rate_Master_Data</name>
        <label>Get Exchange Rate Master Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_of_Input_Co_Insurer_Share_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Master_Data_Exchange_Rate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CURRENCY_CODE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leader_Transaction_Data_CoInsurer</name>
        <label>Get Leader Transaction Data CoInsurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id_for_Transaction_Data.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Leader_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Id_for_Transaction_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id_for_Account_CoInsurance</name>
        <label>Get Record Type Id for Account CoInsurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CoInsurer_Aswata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id_for_Transaction_Data</name>
        <label>Get Record Type Id for Transaction Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Transaction_Data_CoInsurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Data__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoInsurer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Master_Data_Exchange_Rate</name>
        <label>Get Record Type Master Data Exchange Rate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Transaction_Data_Co_Insurer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exchange_Rate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Transaction_Data_CoInsurer</name>
        <label>Get Related Transaction Data CoInsurer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Transaction_Data_Co_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id_for_Transaction_Data.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update Type of Business based on Aswata Leader / Member, and update Handling Fee</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Handling_Fee__c</field>
            <value>
                <elementReference>Handling_Fee_percent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Of_Business__c</field>
            <value>
                <elementReference>Leader_Member_awt</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Type_of_Business_Direct</name>
        <label>Update Opportunity Type of Business Direct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aswata_Full_Covering_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type_Of_Business__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Aswata_Full_Covering_Screen</name>
        <label>Aswata Full Covering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>aswataFullCoveringMsg</name>
            <fieldText>&lt;p&gt;Opportunity ini menggunakan Aswata Full Covering (100% Insured by Aswata / Direct)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selesai</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aswata_Share_Input</name>
        <label>Aswata Share Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Handling_Fee_Screen</targetReference>
        </connector>
        <fields>
            <name>Aswata_Insurance</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CoInsurer_Aswata.Name</elementReference>
            </defaultValue>
            <fieldText>Aswata Insurance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Leader_Member_awt</name>
            <choiceReferences>leaderMemberChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Leader/Member ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Share_awt</name>
            <dataType>Number</dataType>
            <fieldText>Share (in %)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>4</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Persentase tidak boleh melebihi 100%!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Share_awt} &lt;= {!formulaCountSisaPercentage}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Currency_awt</name>
            <choiceReferences>currecncyChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>confirmToNext</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Pastikan data&lt;/span&gt; &lt;strong&gt;Asuransi Wahana Tata&lt;/strong&gt; sebagai Co-Insurance telah terisi dengan tepat&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Berikutnya</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_of_Input_Co_Insurer_Share_Detail</name>
        <label>Confirmation of Input Co Insurer Share Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Save_Transaction_Data_Co_Insurer</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Co_Insurer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CoInsurer_Detail_Record.Name</elementReference>
            </defaultValue>
            <fieldText>Co-Insurer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Leader_Member_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaLeaderMemberText</elementReference>
            </defaultValue>
            <fieldText>Leader/Member ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Share</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Share</elementReference>
            </defaultValue>
            <fieldText>Share (in %)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Persentase tidak boleh lebih dari 100!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Share} &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Currency_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Currency</elementReference>
            </defaultValue>
            <fieldText>Currency</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfirmMsg</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Apakah data Co-Insurer dan Share di atas sudah sesuai? Klik tombol &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Simpan&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; untuk melanjutkan&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Simpan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Aswata_Share_Input</name>
        <label>Copy 1 of Aswata Share Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Assign_Percent_Share_AWT</targetReference>
        </connector>
        <fields>
            <name>Aswata_Co_Insurer_Detail</name>
            <fieldText>Aswata Co-Insurer Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Aswata_Co_Insurer_Detail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Aswata_Insurance</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CoInsurer_Aswata.Name</elementReference>
                    </defaultValue>
                    <fieldText>Aswata Insurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Leader_Member_confirm</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>formulaLeaderMemberText</elementReference>
                    </defaultValue>
                    <fieldText>Leader/Member ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Share_awt_confirm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Share_awt</elementReference>
                    </defaultValue>
                    <fieldText>Share (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Persentase tidak boleh melebihi 100%!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Share_awt} &lt;= {!formulaCountSisaPercentage}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Currency_awt_confirm</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Currency_awt</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Handling_Fee_Detail</name>
            <fieldText>Handling Fee Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Handling_Fee_Detail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Handling_Fee_confirm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Handling_Fee_percent</elementReference>
                    </defaultValue>
                    <fieldText>Handling Fee (in %)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_confirmToNext</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Pastikan data di atas telah terisi dengan benar. &lt;/span&gt;Klik tombol &lt;strong&gt;Lanjutkan&lt;/strong&gt; untuk menyimpan data &lt;strong&gt;Asuransi Wahana Tata&lt;/strong&gt; sebagai Co-Insurance dan Handling Fee.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Berikutnya</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Handling_Fee_Screen</name>
        <label>Handling Fee Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Assign_Choice_Input_to_Variable_1</targetReference>
        </connector>
        <fields>
            <name>Handling_Fee_percent</name>
            <dataType>Number</dataType>
            <fieldText>Handling Fee (in %)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>4</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Persentase tidak boleh lebih dari 100%!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Handling_Fee_percent} &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Berikutnya</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Co_Insurer_Share_Detail</name>
        <label>Input Co Insurer Share Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Check_Leader_Can_Only_One</targetReference>
        </connector>
        <fields>
            <name>Co_Insurer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_CoInsurer_Detail_Record.Name</elementReference>
            </defaultValue>
            <fieldText>Co-Insurer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Leader_Member</name>
            <choiceReferences>leaderMemberChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>formulaCheckLeaderFound</elementReference>
            </defaultValue>
            <fieldText>Leader/Member ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ShowLeaderErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;{!varLeaderErrMsg}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varLeaderErrMsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Share</name>
            <dataType>Number</dataType>
            <fieldText>Share (in %)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>4</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Persentase tidak boleh melebihi {!formulaCountSisaPercentage}%!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Share} &lt;= {!formulaCountSisaPercentage}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Currency</name>
            <choiceReferences>currecncyChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Berikutnya</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>show_Screen</name>
        <label>show Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Is_there_a_CoInsurer_selection</targetReference>
        </connector>
        <fields>
            <name>Co_Insurer_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Transaction_Data__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Co-Insurer List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Transaction_Data_CoInsurer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Transaction_Data__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Related_Transaction_Data_CoInsurer&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Co_Insurance_Company_Name__c&quot;,&quot;guid&quot;:&quot;column-0397&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Co-Insurer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Co Insurance Company Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Leader_Member__c&quot;,&quot;guid&quot;:&quot;column-b8a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Leader/Member&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Leader/Member&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Member_Share__c&quot;,&quot;guid&quot;:&quot;column-d42a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Share&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Member Share&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Currency__c&quot;,&quot;guid&quot;:&quot;column-b40f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Currency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-a260&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Transaction_Data__c&quot;,&quot;fieldReferences&quot;:[&quot;Co_Insurance_Company_Name__c&quot;,&quot;Leader_Member__c&quot;,&quot;Member_Share__c&quot;,&quot;Currency__c&quot;,&quot;Amount__c&quot;],&quot;elementReference&quot;:&quot;Get_Related_Transaction_Data_CoInsurer&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_New_Co_Insurer</name>
            <choiceReferences>CoInsurerCollection</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Add New Co-Insurer</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>formulaCountShare</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search New Co-Insurer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>coInsurerErrMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 11px;&quot;&gt;{!varCoInsurerErrMsg}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCoInsurerErrMsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Lanjutkan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Start_Decision</targetReference>
        </connector>
        <fields>
            <name>Insuring_Type</name>
            <choiceReferences>Aswata_Full_Covering</choiceReferences>
            <choiceReferences>Co_Insurance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Insuring Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>errorStartScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(175, 0, 0); font-size: 12px;&quot;&gt;{!errStartScreenMsg}&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Pilih &quot;Co-Insuring&quot; untuk menambahkan Co-Insurance Account&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Lanjutkan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_Next_Action</targetReference>
        </connector>
        <fields>
            <name>SuccessMessageAddCoInsurer</name>
            <fieldText>&lt;p&gt;Co-Insurer Telah Berhasil Ditambahkan!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ButtonNextAction</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Tambah Co-Insurer&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Berikutnya</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Check_Leader</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Data__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Aswata_Insurance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>errStartScreenMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCoInsurer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoInsurerErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCoInsurerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlagAWT</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIsLeader</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLeaderErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeaderMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTransactionDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Data__c</objectType>
    </variables>
</Flow>
