force-app/main/default/flows/DMS_Get_File.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Document_From_DMS</name>
        <label>Get Document From DMS</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>GetDocumentFromDMS.Get Document From DMS</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_200_OK</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>document_id</name>
            <value>
                <elementReference>DocumentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetDocumentFromDMS.Get Document From DMS</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Incrementing_Counter</name>
        <label>Incrementing Counter</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Counter</name>
        <label>Initiate Counter</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Current_File</name>
        <label>Save Current File</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>File</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Current_File_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Current_File_URL</name>
        <label>Save Current File URL</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>FileURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File.document_url__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementing_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_200_OK</name>
        <label>Is 200 OK</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>NOT 200 OK</defaultConnectorLabel>
        <rules>
            <name>YES_200_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_From_DMS.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Response</targetReference>
            </connector>
            <label>YES 200 OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Counter_1</name>
        <label>Is Counter 1</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Incrementing_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT_1</defaultConnectorLabel>
        <rules>
            <name>YES_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Current_File</targetReference>
            </connector>
            <label>YES_1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DMS Get File {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DMS Get File</label>
    <loops>
        <name>Loop_Response</name>
        <label>Loop Response</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Transform_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Counter_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_From_DMS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Response</name>
        <label>Transform Response</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Initiate_Counter</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>DMS_File__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>created_at__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].createdx5fat</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>document_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].documentx5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>document_sequence__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].documentx5fsequence</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>document_type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].documentx5ftype</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>document_url__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].documentx5furl</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>filename__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].filename</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Hash__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].hash</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>id_type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].idx5ftype</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ref_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].refx5fid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>scan_status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].scanx5fstatus</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>size__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].size</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>source_system__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].sourcex5fsystem</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].status</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>version__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].version</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>updated_at__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Document_From_DMS.2XX[$EachItem].updatedx5fat</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DMS_File__c</objectType>
    </variables>
    <variables>
        <name>Files</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DMS_File__c</objectType>
    </variables>
    <variables>
        <name>FileURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DMS_File__c</objectType>
    </variables>
</Flow>
