force-app/main/default/flows/Employee_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Employee_Service</name>
        <label>Employee Service</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>EmployeeService.Employee Service</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_200_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Result_Object_For_Unknown_HTTP_Errors</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emp_no</name>
            <value>
                <elementReference>InputNIK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emp_name</name>
            <value>
                <elementReference>InputEmployeeName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sort</name>
            <value>
                <stringValue>asc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>ACTIVE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>size</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>EmployeeService.Employee Service</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Debug_Log_1</name>
        <label>Debug Log 1</label>
        <locationX>182</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultObject.http_code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Result</name>
        <label>Debug Result</label>
        <locationX>182</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultObject.worklocation_name__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Save_Response_to_Result_Object</name>
        <label>Save Response to Result Object</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ResultObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Response_Result</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_sure_loop_is_only_once</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Object_For_Non_200_OK</name>
        <label>Set Result Object For Non 200 OK</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ResultObject.http_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Service.responseCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Log_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Object_For_Unknown_HTTP_Errors</name>
        <label>Set Result Object For Unknown HTTP Errors</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DebugLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown HTTP Errors</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultObject.http_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Debug_Log_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_200_OK</name>
        <label>Is 200 OK</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Result_Object_For_Non_200_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT 200 OK</defaultConnectorLabel>
        <rules>
            <name>YES_200_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Service.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Response</targetReference>
            </connector>
            <label>YES 200 OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_sure_loop_is_only_once</name>
        <label>Make sure loop is only once</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Response_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Debug_Log_1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Employee Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Service</label>
    <loops>
        <name>Loop_Response_Result</name>
        <label>Loop Response Result</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Transform_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Response_to_Result_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Debug_Log_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Response</name>
        <label>Transform Response</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_Response_Result</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>API_Employee_Service__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>corporate_email__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].corporatex5femail</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>department_catalog_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].departmentx5fcatalogx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>department_catalog_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].departmentx5fcatalogx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>department_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].departmentx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>department_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].departmentx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>directorate_catalog_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].directoratex5fcatalogx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>directorate_catalog_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].directoratex5fcatalogx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>directorate_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].directoratex5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>directorate_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].directoratex5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>division_catalog_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].divisionx5fcatalogx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>division_catalog_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].divisionx5fcatalogx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>division_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].divisionx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>division_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].divisionx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dt_join__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].dtx5fjoin</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dt_last_career_eff__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].dtx5flastx5fcareerx5feff</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>dt_resign__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].dtx5fresign</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>emp_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].empx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>emp_no__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].empx5fno</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>emp_status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].empx5fstatus</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>flag_cuti__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].flagx5fcuti</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>flag_permit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].flagx5fpermit</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>homebase_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].homebasex5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>homebase_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].homebasex5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>job_title_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].jobx5ftitlex5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>job_title_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].jobx5ftitlex5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>mobile_phone_no__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].mobilex5fphonex5fno</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>personal_email__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].personalx5femail</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>position_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].positionx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>position_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].positionx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>satuan_kerja_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].satuanx5fkerjax5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>satuan_kerja_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].satuanx5fkerjax5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>section_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].sectionx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>section_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].sectionx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>subdepartment_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].subdepartmentx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>subdepartment_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].subdepartmentx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>superior_emp_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].superiorx5fempx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>superior_emp_no__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].superiorx5fempx5fno</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>unit_catalog_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].unitx5fcatalogx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>unit_catalog_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].unitx5fcatalogx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>worklocation_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].worklocationx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>worklocation_name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.2XX.data[$EachItem].worklocationx5fname</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>http_code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Employee_Service.responseCode</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>DebugLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputEmployeeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputNIK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResultObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>API_Employee_Service__c</objectType>
    </variables>
</Flow>
