force-app/main/default/flows/Expose_API_Agreement_Golive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>error_4xx</name>
        <label>error 4xx</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fail_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>agreement_id not found!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_2xx</name>
        <label>Set 2xx</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message_success</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validation_Agreement_ID</name>
        <label>Validation Agreement ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>error_4xx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Agreement_Number_Formula__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Status</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>&apos;{&quot;errors&quot;:[{&quot;statusCode&quot;: &quot;&apos;+{!response_status}+&apos;&quot;,&quot;message&quot;: &quot;&apos; +{!fail_text}+&apos;&quot;}],&quot;isSuccess&quot;: false,&quot;outputValues&quot;: null,&quot;version&quot;: 1}&apos;</description>
        <name>errorText</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;errors&quot;:[{&quot;statusCode&quot;: &quot;&apos;+{!response_status}+&apos;&quot;,&quot;message&quot;: &quot;&apos; +{!fail_text}+&apos;&quot;}],&quot;isSuccess&quot;: false,&quot;outputValues&quot;: null,&quot;version&quot;: 1}&apos;</expression>
    </formulas>
    <formulas>
        <name>message_success</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;errors&quot;: null, &quot;isSuccess&quot;: true, &quot;outputValues&quot;: {&quot;message&quot;: &quot;Success!&quot;, &quot;version&quot;: 1}}&apos;</expression>
    </formulas>
    <interviewLabel>Expose API Agreement Golive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expose API Agreement Golive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Agreement_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>agreement_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan_Status</name>
        <label>Update Loan Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_2xx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <stringValue>Golive</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreement_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fail_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>response_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
