force-app/main/default/flows/Expose_Data_Leads_Loans_Using_Leads_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>arrayText</name>
        <label>arrayText</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_address&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_Address__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_rt&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_RT__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_rw&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_RW__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_kelurahan&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_Kelurahan__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_kecamatan&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_Kecamatan__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_city_kabupaten&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_City_Kabupaten__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_province&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_Province__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;domicile_zipcode&quot;: &quot;{!Check_Leads_ID.Primary_Contact__r.Domicile_Zip_Code__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;full_name&quot;: &quot;{!Check_Leads_ID.Name}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;mobile_phone_1&quot;: &quot;{!Check_Leads_ID.Mobile_Phone_1__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;national_id_number&quot;: &quot;{!Check_Leads_ID.ID_Number__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;loan_information&quot;: [</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>arrayTextLooping</name>
        <label>arrayTextLooping</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_address&quot;:&quot;{!Loop_1.Asset_Address__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_rt&quot;: &quot;{!Loop_1.Asset_RT__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_rw&quot;: &quot;{!Loop_1.Asset_RW__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_kelurahan&quot;:&quot;{!Loop_1.Asset_Kelurahan__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_kecamatan&quot;:&quot;{!Loop_1.Asset_Kecamatan__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_city_kabupaten&quot;:&quot;{!Loop_1.Asset_City_Kabupaten__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_province&quot;:&quot;{!Loop_1.Asset_Provinces__r.name__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_zipcode&quot;:&quot;{!Loop_1.Asset_Zip_Code__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_code&quot;: &quot;{!Loop_1.Asset_Code__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_est_price&quot;: &quot;{!Loop_1.Market_Price_Estimation__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_owner&quot;: &quot;{!Loop_1.Owner_Asset__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;asset_type&quot;: &quot;{!Loop_1.Asset_Type__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;building_value&quot;: &quot;{!Get_Records_Calculator.building_value__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;funding_amount&quot;: &quot;{!Loop_1.Survey__r.Funding_Amount__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;monthly_installment&quot;: &quot;{!Loop_1.Survey__r.Monthly_Installment__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;risk_occupation_code&quot;: &quot;{!Loop_1.Risk_Occupation_Code__c}&quot;,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;tenor&quot;: &quot;{!Loop_1.Tenor__c}&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>arrayText</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>arraySuccessText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X200</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_Expose</name>
        <label>Data Expose</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>funding_amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Survey__r.Funding_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthly_installment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Survey__r.Monthly_Installment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tenor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Tenor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>risk_occupation_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Risk_Occupation_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Owner_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_est_price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Market_Price_Estimation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Calculator.building_value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_RT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_rw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_RW__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_kelurahan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Kelurahan__r.name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_kecamatan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Kecamatan__r.name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_city_kabupaten</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_City_Kabupaten__r.name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Provinces__r.name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset_zipcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Asset_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>arrayTextLooping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X200</name>
        <label>200</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>arraySuccessText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X400_Empty</name>
        <label>400 Empty</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fail_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead ID must not be empty.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X400_Invalid</name>
        <label>400 Invalid</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fail_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead ID must be valid.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Empty_LeadsID</name>
        <label>Empty Leads ID?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>X400_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leads_id_mandatory_formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Leads_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Leads_ID</name>
        <label>Valid Leads ID?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>X400_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Leads_ID.Agency_Leads_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Contact</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>asset_address_full</name>
        <dataType>String</dataType>
        <expression>{!Loop_1.Asset_Address__c} + &quot; RT &quot; + {!Loop_1.Asset_RT__c} + &quot; RW &quot; + {!Loop_1.Asset_RW__c} + &quot; Des/Kel &quot; + {!Loop_1.Asset_Kelurahan__r.name__c} + &quot; Kec &quot; + {!Loop_1.Asset_Kecamatan__r.name__c} + &quot; Kab/Kota &quot; + {!Loop_1.Asset_City_Kabupaten__r.name__c} + &quot; Prov &quot; + {!Loop_1.Asset_Provinces__r.name__c} + &quot; &quot;+ {!Loop_1.Asset_Zip_Code__c}</expression>
    </formulas>
    <formulas>
        <name>domicile_address_full</name>
        <dataType>String</dataType>
        <expression>{!Check_Leads_ID.Primary_Contact__r.Domicile_Address__c} + &quot; RT &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_RT__c} + &quot; RW &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_RW__c} + &quot; Des/Kel &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_Kelurahan__r.name__c} + &quot; Kec &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_Kecamatan__r.name__c} + &quot; Kab/Kota &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_City_Kabupaten__r.name__c} + &quot; Prov &quot; + {!Check_Leads_ID.Primary_Contact__r.Domicile_Province__r.name__c} + &quot; &quot;+ {!Check_Leads_ID.Primary_Contact__r.Domicile_Zip_Code__c}</expression>
    </formulas>
    <formulas>
        <name>errorText</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;errors&quot;:[{&quot;statusCode&quot;: &quot;&apos;+{!response_status}+&apos;&quot;,&quot;message&quot;: &quot;&apos; +{!fail_text}+&apos;&quot;}],&quot;isSuccess&quot;: false,&quot;outputValues&quot;: null,&quot;version&quot;: 1}&apos;</expression>
    </formulas>
    <formulas>
        <name>leads_id_mandatory_formula</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!agency_leads_id}))</expression>
    </formulas>
    <interviewLabel>Expose Data Loans Using Leads ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expose Data Leads &amp; Loans Using Leads ID</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Records_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Records_Calculator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Leads_ID</name>
        <label>Check Leads ID</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Leads_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Leads_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agency_leads_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Calculator</name>
        <label>Get Records Calculator</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Expose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>related_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Application__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>API_Loan_Calculator_Non_KPR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Contact</name>
        <label>Get Records Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Leads_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Opportunity</name>
        <label>Get Records Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>arrayText</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Leads_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Empty_LeadsID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agency_leads_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arraySuccessText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_city_kabupaten</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_est_price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_kecamatan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_kelurahan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_rt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_rw</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>asset_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset_zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>domicile_address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fail_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>full_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>funding_amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leads_expose</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>market_price_est</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mobile_phone_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>monthly_installment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>national_id_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>response_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>risk_occupation_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
