force-app/main/default/flows/Gen_Send_FKD_Marketing_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_FKD_Marketing</name>
        <label>send FKD_Marketing</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>PIx</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId_FKD_Marketing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>funcS_RequestComment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>FKD_Marketing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_Error_Generate_FKD</name>
        <label>set Error Generate FKD</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gen_Generate_FKD_Marketing_Legal.Error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Error_Locked</name>
        <label>set Error Locked</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[ {!cur_FKD_Marketing.Id} ] FKD Marketing Record Is Locked</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Recipient</name>
        <label>set Recipient</label>
        <locationX>490</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>i.OriginalActorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>i</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_recordId_FKD_Marketing</name>
        <label>set recordId_FKD_Marketing</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId_FKD_Marketing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cur_FKD_Marketing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_FKD_Marketing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cek_Error</name>
        <label>cek Error</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>cur_FKD_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>aman</defaultConnectorLabel>
        <rules>
            <name>ada_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gen_Generate_FKD_Marketing_Legal.Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Error_Generate_FKD</targetReference>
            </connector>
            <label>ada Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_IsLocked</name>
        <label>cek IsLocked</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>set_Error_Locked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Locked</defaultConnectorLabel>
        <rules>
            <name>Aman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cur_FKD_Marketing.IsLocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Submitter</targetReference>
            </connector>
            <label>Aman</label>
        </rules>
    </decisions>
    <description>Add Process Generate Data FKD Marketing PDF</description>
    <environments>Default</environments>
    <formulas>
        <name>funcS_NotifBody</name>
        <dataType>String</dataType>
        <expression>&quot;Halo Bapak/Ibu, Mohon tindak lanjut untuk proses Final Approval FKD Marketing atas nama Debitur (&quot; &amp; {!cur_Ops.Loan_Information__r.Account.Name} &amp;&quot;) dan APP ID (&quot;&amp; {!cur_Ops.Loan_Information__r.Account.Lead_ID__c}&amp;&quot;). Silakan melakukan review dan approval pada sistem.&quot;</expression>
    </formulas>
    <formulas>
        <name>funcS_NTF_Currency</name>
        <dataType>String</dataType>
        <expression>IF(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) &gt;= 1000000000, RIGHT(TEXT(FLOOR(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) / 1000000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) &gt;= 1000000, RIGHT(TEXT(FLOOR(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) / 1000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) &gt;= 1000, RIGHT(TEXT(FLOOR(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}) / 1000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; RIGHT(TEXT(FLOOR(ABS({!cur_Ops.Loan_Information__r.NTF_Pengajuan__c}))), 3)</expression>
    </formulas>
    <formulas>
        <name>funcS_RequestComment</name>
        <dataType>String</dataType>
        <expression>&apos;Mohon Approval FKD Marketing&apos;</expression>
    </formulas>
    <interviewLabel>[Gen] Send FKD Marketing Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Send FKD Marketing Request</label>
    <loops>
        <name>i</name>
        <label>i</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <collectionReference>PIWx</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Data_FKD_Marketing_PDF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>cur_FKD_Marketing</name>
        <label>cur FKD_Marketing [Shadow]</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_IsLocked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Ops</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FKD_Marketing__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>cur_Ops</name>
        <label>cur Ops</label>
        <locationX>292</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gen_Generate_FKD_Marketing_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Ops</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PIWx</name>
        <label>PIWx</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>i</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PIx.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PIx</name>
        <label>PIx</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PIWx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_FKD_Marketing</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>set_Submitter</name>
        <label>set Submitter</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>set_recordId_FKD_Marketing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cur_FKD_Marketing.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_By__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Result__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FKD_Marketing__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cur_Ops</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gen_Generate_FKD_Marketing_Legal</name>
        <label>[Gen] Generate FKD Marketing &amp; Legal</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>cek_Error</targetReference>
        </connector>
        <flowName>Gen_Generate_FKD_Marketing_Legal</flowName>
        <inputAssignments>
            <name>recordId_Ops</name>
            <value>
                <elementReference>recordId_Ops</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Generate_Data_FKD_Marketing_PDF</name>
        <label>Generate Data FKD Marketing PDF</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Mohon_Approval_FKD_Marketing</targetReference>
        </connector>
        <flowName>FKD_Marketing_PDF</flowName>
        <inputAssignments>
            <name>opperation_id</name>
            <value>
                <elementReference>recordId_Ops</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Mohon_Approval_FKD_Marketing</name>
        <label>Mohon Approval FKD Marketing</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>funcS_NotifBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Approval FKD Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_RecipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>cur_Ops.Application__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId_FKD_Marketing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Ops</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1DMR00000016sz2AA</stringValue>
        </value>
    </variables>
    <variables>
        <name>varC_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
