force-app/main/default/flows/Gen_Get_Address_Data_by_District_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Data</name>
        <label>Set Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_Province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Kecamatan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Kecamatan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Kelurahan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Kelurahan</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Gen] Get Address Data by District Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Get Address Data by District Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_City</name>
        <label>Get City</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Province</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Kecamatan.city_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City_Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Kecamatan</name>
        <label>Get Kecamatan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_City</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Kelurahan.district_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>District_Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Kelurahan</name>
        <label>Get Kelurahan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Kecamatan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subdistrict_code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sub_District_Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Province</name>
        <label>Get Province</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_City.province_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Province_Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Kelurahan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>subdistrict_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_City</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>City_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>varR_Kecamatan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>District_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>varR_Kelurahan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Sub_District_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>varR_Province</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Province_Master_Data__c</objectType>
    </variables>
</Flow>
