force-app/main/default/flows/Gen_API_Approval_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Approval_History</name>
        <label>Call Approval History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>APIApprovalHistory.API Approval History</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreement_number</name>
            <value>
                <stringValue>4012306885</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>var_RecordBodyApprovalHistory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APIApprovalHistory.API Approval History</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CAA_Step</name>
        <label>Add CAA Step</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_caasteplist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Term_Condition.CAA_Step__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_caa_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalize_Body_Funding</name>
        <label>Finalize Body Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_CCO_Created_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalize_Body_TC</name>
        <label>Finalize Body TC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Multiuser_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Body_Funding</name>
        <label>Initialize Body Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Body_TC</name>
        <label>Initialize Body TC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Term_and_Condition_By_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Body_Funding</name>
        <label>set Body Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding.Funding_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding.Funding_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding.Bank_Account_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding.Keterangan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Funding</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_lastCreatedDateFunding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Funding.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreateByIDFunding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Funding.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bodyfunding.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Funding.Funding_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bodyfunding.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Funding.Funding_Value_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_bodyfundings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Bodyfunding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Body_Term_Condition</name>
        <label>set Body Term Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Term_and_Condition_By_Step.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;TC Type :</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Term_and_Condition_By_Step.TC_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;TC Value :</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Term_and_Condition_By_Step.TC_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;Keterangan :</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Term_and_Condition_By_Step.Keterangan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreatedByID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Term_and_Condition_By_Step.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Term_and_Condition_By_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Funding_to_Body_Request</name>
        <label>Set Funding to Body Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_seq</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.sequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_seq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.tcx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.termx5fconditions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Funding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APPROVED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.reviewer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>func_CreateByNameFunding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.notes</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.actionx5fdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_lastCreatedDateFunding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.tcx5ffundings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_bodyfundings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.detail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BodyDetailApprovalHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecordBodyApprovalHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ApprovalHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Approval_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TC_to_Body_Request</name>
        <label>Set TC to Body Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_seq</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.sequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_seq</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.tcx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.termx5fconditions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APPROVED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Multiuser_Application.Review_Hasil_Analisa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.actionx5fdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Multiuser_Application.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BodyDetailApprovalHistory.reviewer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>func_ReviewerName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ApprovalHistory.detail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BodyDetailApprovalHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecordBodyApprovalHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ApprovalHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CAA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist_CAA</name>
        <label>Exist CAA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_CAA_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add</defaultConnectorLabel>
        <rules>
            <name>Ada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_caa_step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Term_Condition.CAA_Step__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_caa_step</targetReference>
            </connector>
            <label>Ada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jika_TC_Kosong</name>
        <label>Jika TC Kosong</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_User_Created_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kosong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Multiuser_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CAA</targetReference>
            </connector>
            <label>Kosong</label>
        </rules>
    </decisions>
    <description>Content switch from table to list</description>
    <environments>Default</environments>
    <formulas>
        <name>func_CreateByNameFunding</name>
        <dataType>String</dataType>
        <expression>{!Get_User_CCO_Created_By.FirstName} &amp; &apos; &apos; &amp; {!Get_User_CCO_Created_By.LastName}</expression>
    </formulas>
    <formulas>
        <name>func_ReviewerName</name>
        <dataType>String</dataType>
        <expression>{!Get_User_Created_By.FirstName} &amp; &apos; &apos; &amp; {!Get_User_Created_By.LastName}</expression>
    </formulas>
    <interviewLabel>[Gen] API Approval History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] API Approval History</label>
    <loops>
        <name>Loop_CAA</name>
        <label>Loop CAA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_caasteplist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Term_and_Condition_By_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Initialize_Body_Funding</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_caa_step</name>
        <label>loop caa step</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_caasteplist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exist_CAA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Term_Condition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Funding</name>
        <label>Loop Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Body_Funding</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Body_Funding</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Term_and_Condition_By_Step</name>
        <label>Loop Term and Condition By Step</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Term_and_Condition_By_Step</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Body_Term_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Body_TC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Term_Condition</name>
        <label>Loop Term Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Term_and_Condition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_caa_step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_CAA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApplicationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding</name>
        <label>Get Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Term_and_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Operation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Operation_Split_Funding__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Multiuser_Application</name>
        <label>Get Multiuser Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jika_TC_Kosong</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApplicationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedByID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_multiuser__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_and_Condition</name>
        <label>Get Term and Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Term_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApplicationID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Term_And_Condition__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_and_Condition_By_Step</name>
        <label>Get Term and Condition By Step</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Body_TC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ApplicationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CAA_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_CAA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Term_And_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_CCO_Created_By</name>
        <label>Get User CCO Created By</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Funding_to_Body_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreateByIDFunding</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Created_By</name>
        <label>Get User Created By</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_TC_to_Body_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedByID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApprovalHistory</name>
        <apexClass>ExternalService__APIApprovalHistory_APIx20Approvalx20History_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_BodyDetailApprovalHistory</name>
        <apexClass>ExternalService__APIApprovalHistory_APIx20Approvalx20History_IN_body_detail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Bodyfunding</name>
        <apexClass>ExternalService__APIApprovalHistory_APIx20Approvalx20History_IN_body_tcx5ffundings</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_bodyfundings</name>
        <apexClass>ExternalService__APIApprovalHistory_APIx20Approvalx20History_IN_body_tcx5ffundings</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_caasteplist</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_CreateByIDFunding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedByName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Funding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_lastCreatedDateFunding</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MsgOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordBodyApprovalHistory</name>
        <apexClass>ExternalService__APIApprovalHistory_APIx20Approvalx20History_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_seq</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
