force-app/main/default/flows/Gen_OnChange_Approval_Result_LO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_recipient_AO</name>
        <label>Add recipient [AO]</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varC_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Application.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Spv_AO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient_LAO</name>
        <label>Add recipient [LAO]</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varC_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_LO_Approval.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recipient_Spv_AO</name>
        <label>Add recipient [Spv AO]</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varC_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_LO_Approval.Spv_AO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Push_Notif_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Error_Belum_Submit</name>
        <label>set Error Belum Submit</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mohon request Legal Opini Approval terlebih dahulu.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Error_SPV_AO</name>
        <label>set Error [SPV AO]</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SPV AO Tidak ditemukan</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_IsLocked_False</name>
        <label>set IsLocked = False</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>get_LO_Approval.IsLocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ok</description>
        <name>set_Notes</name>
        <label>set Notes</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>get_LO_Approval.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_LO_Approval.Approval_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varS_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_LO_Approval.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_LO_Approval.Actual_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Notes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_recipient_Spv_AO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AO</defaultConnectorLabel>
        <rules>
            <name>Spv_AO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LO_Approval.Spv_AO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_LO_Approval.Application__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notif_Approval</targetReference>
            </connector>
            <label>Spv AO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Spv_AO</name>
        <label>Check Spv AO</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>set_Error_SPV_AO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kosong</defaultConnectorLabel>
        <rules>
            <name>Ada_Spv_AO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LO_Approval.Spv_AO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Owner</targetReference>
            </connector>
            <label>Ada Spv AO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Approval</name>
        <label>Status Approval</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>set_Error_Belum_Submit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lainnya</defaultConnectorLabel>
        <rules>
            <name>yes_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varS_PIS_StepStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Application</targetReference>
            </connector>
            <label>yes, Approved</label>
        </rules>
        <rules>
            <name>no_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varS_PIS_StepStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Notif_Rejection</targetReference>
            </connector>
            <label>no, Rejected</label>
        </rules>
    </decisions>
    <description>9 July 2024
1. Update approval notif if approved</description>
    <environments>Default</environments>
    <formulas>
        <name>approval_notif</name>
        <dataType>String</dataType>
        <expression>&quot;Legal Opini untuk Application ID (&quot; &amp; {!get_LO_Approval.Application__r.Application_ID__c} &amp; &quot; - &quot; &amp; {!get_LO_Approval.Application__r.Customer_Name__c} &amp; 
&quot;) telah disetujui oleh &quot; &amp;  {!Get_User_Approval_Assigned.FirstName} &amp; &quot; &quot; &amp; {!Get_User_Approval_Assigned.LastName} &amp; 
&quot; (&quot; &amp;{!Get_User_Role_Approval_Assigned.Name} &amp; &quot;). Silakan generate Legal Opini&quot;</expression>
    </formulas>
    <formulas>
        <name>funcS_UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>rejection_notif</name>
        <dataType>String</dataType>
        <expression>&quot;Legal Opini untuk Application ID (&quot; &amp; {!get_LO_Approval.Application__r.Application_ID__c} &amp; &quot; - &quot; &amp; {!get_LO_Approval.Application__r.Customer_Name__c} &amp; 
&quot;) telah ditolak oleh &quot; &amp; {!Get_User_Approval_Assigned.FirstName} &amp; &quot; &quot; &amp; {!Get_User_Approval_Assigned.LastName} &amp; 
&quot; (&quot; &amp; {!Get_User_Role_Approval_Assigned.Name} &amp; &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>[Gen_OnChange_Approval_Result_LO] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] OnChange Approval Result - LO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Application</name>
        <label>get Application</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_recipient_AO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LO_Approval.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_LO_Approval</name>
        <label>get LO Approval</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Approval_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_LO_Approval</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legal_Opini_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Approval_Assigned</name>
        <label>Get User Approval Assigned</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Role_Approval_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_LO_Approval.Approval_Assigned__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Role_Approval_Assigned</name>
        <label>Get User Role Approval Assigned</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_recipient_LAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Approval_Assigned.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Notes</name>
        <label>Update Approval Notes</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <inputReference>get_LO_Approval</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_LO_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Push_Notif_Approval</name>
        <label>Push Notif Approval</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>set_Notes</targetReference>
        </connector>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>approval_notif</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Legal Opini Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_Recipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>get_LO_Approval.Application__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Push_Notif_Rejection</name>
        <label>Push Notif Rejection</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>set_IsLocked_False</targetReference>
        </connector>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>rejection_notif</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Legal Opini Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_Recipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>get_LO_Approval.Application__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Actual_Approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_LO_Approval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_PIS_StepStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
