force-app/main/default/flows/Gen_Early_Termination_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Early_Termination_V2</name>
        <label>Call Early Termination V2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EarlyTerminationV2.EarlyTerminationV2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Set_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EarlyTerminationV2.EarlyTerminationV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Early_Termination_V2.defaultExc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Variable</name>
        <label>Set Output Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_AmountToBePaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Early_Termination_V2.2XX.detailx5fearlyx5ftermination.totalx5fremainingx5fbilledx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Response</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Request_Body</name>
        <label>Set Request Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>requestBody.effectivex5fdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.agreementx5fnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBody.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO_DISCOUNT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Early_Termination_V2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>funcS_TodayDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) &amp; &quot;-&quot; &amp; 
IF(LEN(TEXT(MONTH(TODAY()))) = 1, &quot;0&quot; &amp; TEXT(MONTH(TODAY())), TEXT(MONTH(TODAY()))) &amp; &quot;-&quot; &amp;
IF(LEN(TEXT(DAY(TODAY()))) = 1, &quot;0&quot; &amp; TEXT(DAY(TODAY())), TEXT(DAY(TODAY())))</expression>
    </formulas>
    <interviewLabel>[Gen] Early Termination Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Early Termination Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Request_Body</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreement_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__EarlyTerminationV2_EarlyTerminationV2_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_AmountToBePaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varR_Response</name>
        <apexClass>ExternalService__EarlyTerminationCalculation_Earlyx20Terminationx20Calculation_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
