force-app/main/default/flows/Gen_OnChange_Komite_Survey_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_Error_Role</name>
        <label>set Error Role</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mohon maaf role anda [{!funcS_UserRole}] tidak bisa memberikan approval ini</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_varS_AssignedUserId</name>
        <label>set varS_AssignedUserId</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varS_AssignedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cur_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cek_role</name>
        <label>cek role</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>set_Error_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SPV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Spv_AO</targetReference>
            </connector>
            <label>SPV</label>
        </rules>
        <rules>
            <name>CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_CA_Cabang</targetReference>
            </connector>
            <label>CA</label>
        </rules>
        <rules>
            <name>LAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_LAO</targetReference>
            </connector>
            <label>LAO</label>
        </rules>
        <rules>
            <name>BM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_BM</targetReference>
            </connector>
            <label>BM</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_varS_AssignedUserId</name>
        <label>cek varS_AssignedUserId</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>set_varS_AssignedUserId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kosong</defaultConnectorLabel>
        <rules>
            <name>ada_varS_AssignedUserId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varS_AssignedUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cur_User</targetReference>
            </connector>
            <label>ada varS_AssignedUserId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_NotifBody</name>
        <dataType>String</dataType>
        <expression>&quot;Mohon lakukan komite survey untuk Leads Id (&quot;&amp; {!cur_Opty.Account.Lead_ID__c} &amp;&quot;) atas nama (&quot; &amp; {!cur_Opty.Account.Name} &amp;&quot;), NTF (&quot; &amp; {!funcS_NTF_Currency} &amp; &quot;).&quot;</expression>
    </formulas>
    <formulas>
        <name>funcS_NTF_Currency</name>
        <dataType>String</dataType>
        <expression>IF(ABS({!cur_Opty.NTF_Pengajuan__c}) &gt;= 1000000000, RIGHT(TEXT(FLOOR(ABS({!cur_Opty.NTF_Pengajuan__c}) / 1000000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!cur_Opty.NTF_Pengajuan__c}) &gt;= 1000000, RIGHT(TEXT(FLOOR(ABS({!cur_Opty.NTF_Pengajuan__c}) / 1000000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; 
IF(ABS({!cur_Opty.NTF_Pengajuan__c}) &gt;= 1000, RIGHT(TEXT(FLOOR(ABS({!cur_Opty.NTF_Pengajuan__c}) / 1000)), 3) &amp; &quot;.&quot;, &quot;&quot;) &amp; RIGHT(TEXT(FLOOR(ABS({!cur_Opty.NTF_Pengajuan__c}))), 3)</expression>
    </formulas>
    <formulas>
        <name>funcS_UserRole</name>
        <dataType>String</dataType>
        <expression>{!cur_User.UserRole.DeveloperName}</expression>
    </formulas>
    <interviewLabel>[Gen] OnChange Komite_Survey_Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] OnChange Komite_Survey_Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>cur_Opty</name>
        <label>cur Opty</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_varS_AssignedUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>cur_User</name>
        <label>cur User</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varS_AssignedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_BM</name>
        <label>Save BM</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Gen_Keputusan_Komite_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BM_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BM_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BM_Notes2__c</field>
            <value>
                <elementReference>varS_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BM_Result__c</field>
            <value>
                <elementReference>varS_PIS_StepStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_CA_Cabang</name>
        <label>Save CA_Cabang</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Gen_Resorting_Komite_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Notes2__c</field>
            <value>
                <elementReference>varS_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Result__c</field>
            <value>
                <elementReference>varS_PIS_StepStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_LAO</name>
        <label>Save LAO</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Gen_Resorting_Komite_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LAO_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAO_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAO_Notes2__c</field>
            <value>
                <elementReference>varS_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAO_Result__c</field>
            <value>
                <elementReference>varS_PIS_StepStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Spv_AO</name>
        <label>Save Spv_AO</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Gen_Resorting_Komite_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SPV_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_Notes2__c</field>
            <value>
                <elementReference>varS_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_Result__c</field>
            <value>
                <elementReference>varS_PIS_StepStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cur_Opty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gen_Keputusan_Komite_Survey</name>
        <label>[Gen] Keputusan Komite Survey</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <flowName>Gen_Keputusan_Komite_Survey</flowName>
        <inputAssignments>
            <name>recordId_Opty</name>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gen_Resorting_Komite_Survey</name>
        <label>[Gen] Resorting Komite Survey</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Gen_Send_Komite_Survey_Request</targetReference>
        </connector>
        <flowName>Gen_Resorting_Komite_Survey</flowName>
        <inputAssignments>
            <name>recordId_Opty</name>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varS_AssignedUserId</name>
            <value>
                <elementReference>varS_AssignedUserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gen_Send_Komite_Survey_Request</name>
        <label>[Gen] Send Komite_Survey Request</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <flowName>Gen_Send_Komite_Survey_Request</flowName>
        <inputAssignments>
            <name>recordId_Opty</name>
            <value>
                <elementReference>recordId_Opty</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId_Opty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_AssignedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_PIS_StepStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
