force-app/main/default/flows/Gen_Generate_Legal_Document_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Document_CA_List</name>
        <label>Set Document CA List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PAYSLIP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SPOUSEPAYSLIP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EMPLOYMENTLETTER</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BANKSTATEMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FINANCINGPURPOSEDOCUMENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FINANCIALREPORT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DOMICILEPHOTO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FPP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PEFINDODISCLAIMER</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BUSINESSPHOTO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BUSINESSLOCATIONMAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DOMICILELOCATIONMAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>APPRAISALREPORT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BKRPROOF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MARKETINGMEMO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CREDITREVIEW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HOUSEBLUEPRINTPHOTO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DEBTORSURVEYPHOTO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EMPLOYMENTCONTRACTCOPY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PURCHASEORDERINVOICE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ANNUALTAXRETURN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_DocumentCA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ANNUALTAXRETURN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Legal_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Group</name>
        <label>Set Document Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Documents_BFI.Document_Group__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Application.LO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Documents_BFI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents_BFI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Types</name>
        <label>Set Document Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_DocumentTypeId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Legal_Document.Document_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Legal_Document</targetReference>
        </connector>
    </assignments>
    <description>Remove update document (avoid mapping document to legal document if user cancel the popup)</description>
    <environments>Default</environments>
    <interviewLabel>[Gen] Generate Legal Document Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Generate Legal Document Checklist</label>
    <loops>
        <name>Loop_Documents_BFI</name>
        <label>Loop Documents BFI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Group</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Legal_Document</name>
        <label>Loop Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Legal_Document</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Document_CA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Documents_BFI</targetReference>
        </connector>
        <filterLogic>1 AND (2) AND NOT(3)</filterLogic>
        <filters>
            <field>Document_Type_Lookup__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_DocumentTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Group__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Application.LO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Document</name>
        <label>Get Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Legal_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Legal_Opini_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_DocumentCA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_BFI__c</objectType>
    </variables>
    <variables>
        <name>varC_DocumentTypeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
