force-app/main/default/flows/Gen_Process_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>spdf__MergeSimplePDFInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Calculator_Result_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_opportunityProductBFI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnPDFContent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simplePdfName</name>
            <value>
                <stringValue>Calculator Result For Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>spdf__MergeSimplePDFInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Calculator_Result_PDF</name>
        <label>Set Calculator Result PDF</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_newCalculatorResultPdf</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_PDF.pdfContent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Product_BFI</name>
        <label>Set Opportunity Product BFI</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NamaPemohon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Alamat_Rumah_Ruko_Yang_Dijaminkan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AlamatRumah</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Nama_Sertipikat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NamaSertipikat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Jenis_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_JenisAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Kepemilikan_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_KepemilikanAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Perkiraan_Harga_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PerkiraanHargaRumah</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.NTF_Pengajuan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NTFPengajuan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Tenor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Tenor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Bunga_Flat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.bunga_flat_in_arrears__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Angsuran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.angsuran__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Administrasi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.biaya_admin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Provisi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.biaya_provisi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Other_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.other_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Asuransi_Jiwa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.asuransi_jiwa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Asuransi_Kebakaran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatorResult.asuransi_kebakaran__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Perkiraan_Biaya_Notaris__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PerkiraanBiayaNotaris</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Total_Pencairan_ke_Pemohon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EstimasiPencairan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Product_BFI_Already_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Product_BFI_Id</name>
        <label>Set Opportunity Product BFI Id</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_opportunityProductBFI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Product_Id</name>
        <label>Set Opportunity Product Id</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_opportunityProductBFI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Opportunity_Product_BFI_Already_Exist</name>
        <label>Opportunity Product BFI Already Exist</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Still Empty</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Product_BFI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_or_Form</name>
        <label>Result or Form</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Back / Form</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_PDF</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Hitung</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hitung</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Calculator</targetReference>
            </connector>
            <label>Hitung</label>
        </rules>
    </decisions>
    <description>Update</description>
    <environments>Default</environments>
    <formulas>
        <name>var_EstimasiPencairan</name>
        <dataType>Number</dataType>
        <expression>{!var_NTFPengajuan} - {!CalculatorResult.biaya_admin__c} - {!CalculatorResult.biaya_provisi__c} - {!CalculatorResult.other_fee__c} - {!CalculatorResult.asuransi_jiwa__c} - {!CalculatorResult.asuransi_kebakaran__c} - {!var_PerkiraanBiayaNotaris}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Gen] Process Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Process Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Product</name>
        <label>Create Opportunity Product</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Opportunity_Product_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Administrasi__c</field>
            <value>
                <elementReference>CalculatorResult.biaya_admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alamat_Rumah_Ruko_Yang_Dijaminkan__c</field>
            <value>
                <elementReference>var_AlamatRumah</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Angsuran__c</field>
            <value>
                <elementReference>CalculatorResult.angsuran__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asuransi_Jiwa__c</field>
            <value>
                <elementReference>CalculatorResult.asuransi_jiwa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asuransi_Kebakaran__c</field>
            <value>
                <elementReference>CalculatorResult.asuransi_kebakaran__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bunga_Flat__c</field>
            <value>
                <elementReference>CalculatorResult.bunga_flat_in_arrears__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jenis_Asset__c</field>
            <value>
                <elementReference>var_JenisAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kepemilikan_Asset__c</field>
            <value>
                <elementReference>var_KepemilikanAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>var_LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Information__c</field>
            <value>
                <elementReference>var_LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NTF_Pengajuan__c</field>
            <value>
                <elementReference>var_NTFPengajuan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nama_Sertipikat__c</field>
            <value>
                <elementReference>var_NamaSertipikat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_NamaPemohon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Fee__c</field>
            <value>
                <elementReference>CalculatorResult.other_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Perkiraan_Biaya_Notaris__c</field>
            <value>
                <elementReference>var_PerkiraanBiayaNotaris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Perkiraan_Harga_Asset__c</field>
            <value>
                <elementReference>var_PerkiraanHargaRumah</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisi__c</field>
            <value>
                <elementReference>CalculatorResult.biaya_provisi__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenor__c</field>
            <value>
                <elementReference>var_Tenor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Pencairan_ke_Pemohon__c</field>
            <value>
                <elementReference>var_EstimasiPencairan</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Product_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Product_BFI_By_Lead_And_Loan</name>
        <label>Get Opportunity Product BFI By Lead And Loan</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Product_BFI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_LoanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Product_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Product_BFI</name>
        <label>Update Opportunity Product BFI</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Opportunity_Product_BFI_Id</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Result_or_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Process_Calculator</name>
        <label>Process Calculator</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Opportunity_Product_BFI_By_Lead_And_Loan</targetReference>
        </connector>
        <flowName>Mockup_Loan_NJOP_Calculator</flowName>
        <inputAssignments>
            <name>jenis_asset</name>
            <value>
                <elementReference>var_JenisAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>kepemilikan_asset</name>
            <value>
                <elementReference>var_KepemilikanAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>life_insurance_company</name>
            <value>
                <elementReference>var_LifeInsuranceCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>njop_terbaru</name>
            <value>
                <elementReference>var_NJOPTerbaru</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ntf_pengajuan</name>
            <value>
                <elementReference>var_NTFPengajuan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paket_pembiayaan</name>
            <value>
                <elementReference>var_PaketPembiayaan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>perkiraan_biaya_notaris</name>
            <value>
                <elementReference>var_PerkiraanBiayaNotaris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>perkiraan_harga_rumah</name>
            <value>
                <elementReference>var_PerkiraanHargaRumah</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rate</name>
            <value>
                <elementReference>var_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>tenor</name>
            <value>
                <elementReference>var_Tenor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>usia_pemohon</name>
            <value>
                <elementReference>var_UsiaPemohon</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CalculatorResult</assignToReference>
            <name>CalculationResult</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Action_Datetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Action_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CalculatorResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan_NJOP_Calculator_Result__c</objectType>
    </variables>
    <variables>
        <name>CalculatorResultPDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AlamatRumah</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_JenisAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_JenisSertipikat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_KepemilikanAsset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LifeInsuranceCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NamaPemohon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NamaSertipikat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_newCalculatorResultPdf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NJOPTerbaru</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_NTFPengajuan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_opportunity_product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_opportunityProductBFI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PaketPembiayaan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PerkiraanBiayaNotaris</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_PerkiraanHargaRumah</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Tenor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_UsiaPemohon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
