force-app/main/default/flows/Gen_Notify_New_Uploaded_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit_Transaction</name>
        <label>Commit Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UUIDV4Generator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Document_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>UUIDV4Generator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Recipient_Ids</name>
        <label>Copy 1 of Set Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_3_of_Get_LAO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Recipient_Ids</name>
        <label>Set Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Get_LAO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Recipient_Ids</name>
        <label>Set Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PBF_Sales_Processing.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Recipient_Ids</name>
        <label>Copy 4 of Set Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CCO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Operation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Ids</name>
        <label>Set Recipient Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_LAO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Document_Group</name>
        <label>Check Document Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Legal_Opini</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Group__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Application.DocCheck.LO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Check_Sesuai__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_LAO</targetReference>
            </connector>
            <label>In Legal Opini</label>
        </rules>
        <rules>
            <name>In_Legal_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Group__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Application.LO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Check_Sesuai__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_LAO</targetReference>
            </connector>
            <label>In Legal Document</label>
        </rules>
        <rules>
            <name>In_FKD_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Group__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Application.FKD.Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Check_Sesuai__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_PBF_Sales_Processing</targetReference>
            </connector>
            <label>In FKD Marketing</label>
        </rules>
        <rules>
            <name>In_FKD_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Group__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Application.FKD.Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Check_Sesuai__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_LAO</targetReference>
            </connector>
            <label>In FKD Legal</label>
        </rules>
        <rules>
            <name>In_CCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Group__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>operation.CCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Check_Sesuai__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document_BFI.Document_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_CCO</targetReference>
            </connector>
            <label>In CCO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recipient_Id</name>
        <label>Check Recipient Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Push_Notif_LO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC_RecipientIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_NotifikasiReupload</name>
        <dataType>String</dataType>
        <expression>&quot;Dokumen &quot; &amp; {!Get_Document_BFI.Name} &amp; &quot; pada aplikasi &quot; &amp; {!Get_Document_BFI.Loan__r.Application__r.Name} &amp; &quot; sudah direupload. Mohon lakukan pengecekan&quot;</expression>
    </formulas>
    <interviewLabel>[Gen] Notify Uploaded Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Gen] Notify Uploaded Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commit_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Legal_Document_Approval__c</queriedFields>
        <queriedFields>Legal_Opini_Approval_Id__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_BFI</name>
        <label>Get Document BFI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_BFI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_2_of_Get_LAO</name>
        <label>Copy 2 of Get LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_Recipient_Ids</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T2441</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
            <value>
                <stringValue>LAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.BranchId_formula__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_3_of_Get_LAO</name>
        <label>Copy 3 of Get LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_Recipient_Ids</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T2441</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
            <value>
                <stringValue>LAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.BranchId_formula__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_CCO</name>
        <label>Get CCO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_4_of_Set_Recipient_Ids</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T3469</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <stringValue>999</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_LAO</name>
        <label>Get LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Recipient_Ids</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T2441</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
            <value>
                <stringValue>LAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <elementReference>Get_Document_BFI.Loan__r.BranchId_formula__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_PBF_Sales_Processing</name>
        <label>Get PBF Sales Processing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_3_of_Set_Recipient_Ids</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T3294</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <stringValue>999</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Push_Notif_LO</name>
        <label>Push Notif LO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>funcS_NotifikasiReupload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Document Reupload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_RecipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>targetId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
