force-app/main/default/flows/Get_Approver_User_Per_Cabang.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Role_Name</name>
        <label>Store Role Name</label>
        <locationX>660</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Roles.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_For_Selected_Child_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_User_ID_of_CA_Cabang</name>
        <label>Store User ID of CA Cabang</label>
        <locationX>792</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UserIDCACabang</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_User_ID_of_SPV_AO</name>
        <label>Store User ID of SPV AO</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UserIDSPVAO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_User_ID_of_SPV_BRO</name>
        <label>Store User ID of SPV BRO</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>UserIDSPVBRO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check which user : CA Cabang or SPV AO or SPV BRO</description>
        <name>Check_Which_User</name>
        <label>Check Which User</label>
        <locationX>660</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT ONE OF THEM</defaultConnectorLabel>
        <rules>
            <name>SPV_AO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>spv ao</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_ID_of_SPV_AO</targetReference>
            </connector>
            <label>SPV AO</label>
        </rules>
        <rules>
            <name>SPV_BRO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>spv bro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_ID_of_SPV_BRO</targetReference>
            </connector>
            <label>SPV BRO</label>
        </rules>
        <rules>
            <name>CA_Cabang</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LowerCaseRoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca cabang</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_ID_of_CA_Cabang</targetReference>
            </connector>
            <label>CA Cabang</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LowerCaseRoleName</name>
        <dataType>String</dataType>
        <expression>LOWER({!RoleName})</expression>
    </formulas>
    <interviewLabel>Get User Per CA Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Approver User Per Cabang</label>
    <loops>
        <name>Loop_Child_Roles</name>
        <label>Loop Child Roles of BM</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>ChildRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Role_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_to_Cabang</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_to_Cabang</name>
        <label>Save to Cabang</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>BM__c</field>
            <value>
                <elementReference>UserIDBM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Area__c</field>
            <value>
                <elementReference>UserIDCAArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Cabang__c</field>
            <value>
                <elementReference>UserIDCACabang</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BMRoleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_AO__c</field>
            <value>
                <elementReference>UserIDSPVAO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_BRO__c</field>
            <value>
                <elementReference>UserIDSPVBRO</elementReference>
            </value>
        </inputAssignments>
        <object>Cabang__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Roles_For_Selected_BM</name>
        <label>Get Child Roles For Selected BM</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDRoleBM</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputReference>ChildRoles</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_ID_for_BM</name>
        <label>Get Role ID for BM</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_ID_For_CA_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BMRoleName</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>IDRoleBM</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDRoleCAArea</assignToReference>
            <field>ParentRoleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID_BM</name>
        <label>Get User ID BM</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Roles_For_Selected_BM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDRoleBM</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserIDBM</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID_For_CA_Area</name>
        <label>Get User ID For CA Area</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_ID_BM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDRoleCAArea</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserIDCAArea</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_For_Selected_Child_Role</name>
        <label>Get Users For Selected Child Role</label>
        <locationX>660</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Which_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Roles.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Role_ID_for_BM</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BMRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserRole</objectType>
    </variables>
    <variables>
        <name>IDRoleBM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDRoleCAArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDBM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDCAArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDCACabang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDSPVAO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDSPVBRO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
