force-app/main/default/flows/Guarantor_ID_Flow_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Address_List</name>
        <label>Set Address List</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResidenceAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LegalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompanyAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Address</name>
        <label>Set Company Address</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CompanyAddress.addressx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMPANY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.addressx5fdetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.addressx5fdetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.subdistrictx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.subdistrictx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.subdistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.subdistrict</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.districtx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.districtx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.district</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.district</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.cityx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.cityx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.provincex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.provincex5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.zipx5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.zipx5fcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.rt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.rw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.rw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.addressx5fphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.addressx5fphone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.lat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.lat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompanyAddress.lng</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.lng</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Address_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Legal_Address</name>
        <label>Set Legal Address</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LegalAddress.addressx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LEGAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.addressx5fdetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.addressx5fdetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.subdistrictx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.subdistrictx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.subdistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.subdistrict</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.districtx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.districtx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.district</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.district</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.cityx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.cityx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.provincex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.provincex5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.zipx5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.zipx5fcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.rt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.rw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.rw</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.addressx5fphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.addressx5fphone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.lat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.lat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalAddress.lng</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidenceAddress.lng</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Company_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Main_Data</name>
        <label>Set Main Data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MainData.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yahya Faikar Hanif</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.legalx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yahya Faikar Hanif</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.idx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KTP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.idx5fnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3251409308120001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.customerx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INDIVIDUAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.mobilex5fphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6281232219811</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.birthx5fdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1980-12-31</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.npwpx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NPWP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.npwp</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3251409308120001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.nationality</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WNI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.maritalx5fstatusx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.maritalx5fstatusx5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.companyx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PT BFI Finance Indonesia, Tbk.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.occupation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.occupationx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1467</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.occupationx5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PNSBPKAGTU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.industryx5ftypex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1231</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.industryx5ftypex5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>601000-1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MainData.monthlyx5fincome</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0E7</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Residence_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Residence_Address</name>
        <label>Set Residence Address</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ResidenceAddress.addressx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RESIDENCE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.address</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jl. Kapten Soebijanto Djojohadikusumo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.addressx5fdetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> kav A-10</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.subdistrictx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36.74.01.1005</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.subdistrict</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lengkong Wetan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.districtx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36.74.01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.district</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Serpong</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.cityx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36.74</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tangerang Selatan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.provincex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>36</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.province</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Banten</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.zipx5fcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15310</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.rt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.rw</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.addressx5fphone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>62210000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.lat</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-6.686728396235081</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResidenceAddress.lng</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>106.95842750237873</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Legal_Address</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Guarantor ID Flow Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guarantor ID Flow Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Main_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Guarantor</name>
        <label>Guarantor</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <flowName>Guarantor</flowName>
        <inputAssignments>
            <name>AddressList</name>
            <value>
                <elementReference>AddressList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MainData</name>
            <value>
                <elementReference>MainData</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AddressList</name>
        <apexClass>ExternalService__Guarantor_Guarantor_IN_body_address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyAddress</name>
        <apexClass>ExternalService__Guarantor_Guarantor_IN_body_address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalAddress</name>
        <apexClass>ExternalService__Guarantor_Guarantor_IN_body_address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MainData</name>
        <apexClass>ExternalService__Guarantor_Guarantor_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResidenceAddress</name>
        <apexClass>ExternalService__Guarantor_Guarantor_IN_body_address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
