force-app/main/default/flows/Init_Assign_User_to_PermSetGrp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_PermSetGrpAssign</name>
        <label>add PermSetGrpAssign</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varC_PermSetGrpAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_PermSetGrpAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>u</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_PermSetGrpAssign</name>
        <label>create PermSetGrpAssign</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varR_PermSetGrpAssign.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>u.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_PermSetGrpAssign.PermissionSetGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varS_curPermSetGrp_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_PermSetGrpAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeDup</name>
        <label>DeDup</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varC_Tmp</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>varC_PermSetGrpAssign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_PermSetGrpAssign</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varC_Tmp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cek_User</name>
        <label>cek User</label>
        <locationX>334</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>r</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>ada_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rst_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>u</targetReference>
            </connector>
            <label>ada User</label>
        </rules>
    </decisions>
    <decisions>
        <name>tmp</name>
        <label>tmp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>tmp</defaultConnectorLabel>
        <rules>
            <name>normal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cur_PermSetGrp</targetReference>
            </connector>
            <label>normal</label>
        </rules>
    </decisions>
    <description>02.[Init] Assign User to PermSetGrp</description>
    <environments>Default</environments>
    <interviewLabel>[Init] Assign User to PermSetGrp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Init] Assign User to PermSetGrp</label>
    <loops>
        <name>r</name>
        <label>r</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>rst_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rst_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>rst_PermSetAssigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>u</name>
        <label>u</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <collectionReference>rst_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_PermSetGrpAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>r</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>save</name>
        <label>save</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <inputReference>varC_PermSetGrpAssign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>cur_PermSetGrp</name>
        <label>cur PermSetGrp</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rst_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rst_PermSetAssigned</name>
        <label>rst PermSetAssigned</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>varC_Tmp</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <queriedFields>PermissionSetGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rst_Role</name>
        <label>rst Role</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>r</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rst_User</name>
        <label>rst User</label>
        <locationX>334</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tmp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>varC_Tmp</name>
        <label>varC_Tmp</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>DeDup</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>PermissionSetAssignment</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AssigneeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rst_PermSetAssigned[$EachItem].AssigneeId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PermissionSetGroupId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>rst_PermSetAssigned[$EachItem].PermissionSetGroupId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_col</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>currentItem_col_PermSetGrp_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetGroup</objectType>
    </variables>
    <variables>
        <name>currentItem_col_User_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varC_PermSetGrpAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varR_PermSetGrpAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varS_curPermSetGrp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
