force-app/main/default/flows/ITMS_Request_Unhold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unhold_Tiket_ITSM_Action_1</name>
        <label>Unhold Tiket ITSM Action 1</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>SCC_UnholdTiketITSM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BRI_SApp_UnHold_Justification</name>
            <value>
                <elementReference>Unhold_Justification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IncidentId</name>
            <value>
                <elementReference>Get_Incident.Nomor_tiket_iRIS__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCC_UnholdTiketITSM</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Bri_CategorySystem</assignToReference>
            <name>BRI_CategorySystem</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_CIDITEMUKAN</assignToReference>
            <name>BRI_CIDITEMUKAN</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_DetectedTime</assignToReference>
            <name>BRI_DetectedTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_FormatTicketIncident</assignToReference>
            <name>BRI_FormatTiketIncident</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_isUnHoldFromIntegration</assignToReference>
            <name>BRI_isUnHoldFromIntegration</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_LayananTerdampak</assignToReference>
            <name>BRI_LayananTerdampak</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_Detail</assignToReference>
            <name>BRI_SApp_Detail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_TicketNumber</assignToReference>
            <name>BRI_SApp_TicketNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_UnHold_Justification</assignToReference>
            <name>BRI_SApp_UnHold_Justification</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_UnHold_RejectJustification</assignToReference>
            <name>BRI_SApp_UnHold_RejectJustification</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_UnHold_Status</assignToReference>
            <name>BRI_SApp_UnHold_Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SourceKey</assignToReference>
            <name>BRI_SourceKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Impact</assignToReference>
            <name>Impact</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>LastModDateTime</assignToReference>
            <name>LastModDateTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RecId</assignToReference>
            <name>RecId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>error2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Sukses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BRI_SApp_UnHold_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Incident</targetReference>
            </connector>
            <label>Check Sukses</label>
        </rules>
    </decisions>
    <description>add require field unhold</description>
    <environments>Default</environments>
    <interviewLabel>[ITMS] Request Unhold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ITMS] Request Unhold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Unhold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_unhold_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Incident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Un_Hold_Justification__c</field>
            <value>
                <elementReference>BRI_SApp_UnHold_Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Un_Hold_Status__c</field>
            <value>
                <elementReference>BRI_SApp_UnHold_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_unhold_case</name>
        <label>Update unhold case</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unhold_Incident__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>error2</name>
        <label>error</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Tidak dapat membuka request unhold&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Unhold</name>
        <label>Request Unhold</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unhold_Tiket_ITSM_Action_1</targetReference>
        </connector>
        <fields>
            <name>Unhold_Justification</name>
            <dataType>String</dataType>
            <fieldText>Unhold Justification</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Bri_CategorySystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_CIDITEMUKAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_DetectedTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_FormatTicketIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_isUnHoldFromIntegration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_LayananTerdampak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_Detail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_TicketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_UnHold_Justification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_UnHold_RejectJustification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_UnHold_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SourceKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastModDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
