force-app/main/default/flows/ITSM_Incident_Create_Reopen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Invocable_ITSM</name>
        <label>Invocable ITSM</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <actionName>SCC_Create_Ticket_ITSM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Succes_Create_Ticket</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BRI_LayananTerdampak</name>
            <value>
                <elementReference>map_layanan_terdampak_itsm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BRI_SApp_Detail</name>
            <value>
                <elementReference>NasabahInformasi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BRI_SApp_OLA</name>
            <value>
                <elementReference>getCase.Total_SLA_2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BRI_SApp_TicketNumber</name>
            <value>
                <elementReference>getCase.Case_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BRI_SourceKey</name>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>subjectStaticVal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Symptom</name>
            <value>
                <elementReference>Penjelasan_Detail_Permasalahan_IT</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCC_Create_Ticket_ITSM</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Bri_CategorySystem</assignToReference>
            <name>BRI_CategorySystem</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_CIDITEMUKAN</assignToReference>
            <name>BRI_CIDITEMUKAN</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_DetectedTime</assignToReference>
            <name>BRI_DetectedTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_FormatTicketIncident</assignToReference>
            <name>BRI_FormatTiketIncident</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_LayananTerdampak</assignToReference>
            <name>BRI_LayananTerdampak</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_Detail</assignToReference>
            <name>BRI_SApp_Detail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_OLA</assignToReference>
            <name>BRI_SApp_OLA</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_TicketNumber</assignToReference>
            <name>BRI_SApp_TicketNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SourceKey</assignToReference>
            <name>BRI_SourceKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Impact</assignToReference>
            <name>Impact</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Incident_Number2</assignToReference>
            <name>IncidentNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RecId</assignToReference>
            <name>RecId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status_Inicident</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Symptom</assignToReference>
            <name>Symptom</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Urgency</assignToReference>
            <name>Urgency</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invocable_Reopen_ITSM_Action_1</name>
        <label>Invocable Reopen ITSM Action 1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>SCC_Reopent_Ticket_ITSM</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Reopen_Incident</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BRI_SApp_Reopen_Justification</name>
            <value>
                <elementReference>Alasan_Membuka_Kembali_Tiket_IT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IncidentId</name>
            <value>
                <elementReference>GetIncident.Nomor_tiket_iRIS__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SCC_Reopent_Ticket_ITSM</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Bri_CategorySystem</assignToReference>
            <name>BRI_CategorySystem</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_CIDITEMUKAN</assignToReference>
            <name>BRI_CIDITEMUKAN</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_DetectedTime</assignToReference>
            <name>BRI_DetectedTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_FormatTicketIncident</assignToReference>
            <name>BRI_FormatTiketIncident</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_isReopen</assignToReference>
            <name>BRI_isReopenFromIntegration</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_LayananTerdampak</assignToReference>
            <name>BRI_LayananTerdampak</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_Detail</assignToReference>
            <name>BRI_SApp_Detail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_Justification</assignToReference>
            <name>BRI_SApp_Reopen_Justification</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SApp_TicketNumber</assignToReference>
            <name>BRI_SApp_TicketNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BRI_SourceKey</assignToReference>
            <name>BRI_SourceKey</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Impact</assignToReference>
            <name>Impact</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Last_Mod_TIme</assignToReference>
            <name>LastModDateTime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RecId</assignToReference>
            <name>RecId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Source</assignToReference>
            <name>Source</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Subject</assignToReference>
            <name>Subject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Symptom</assignToReference>
            <name>Symptom</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Tipe_Incident</assignToReference>
            <name>TipeIncident</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Urgency</assignToReference>
            <name>Urgency</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>GetLayananTerdampak</name>
        <choiceText>{!getCase.SCC_Channel_Transaksi__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Case_Type</name>
        <label>Check Case Type</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CaseTypeNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCase.SCC_Call_Type__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.SCC_Call_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIncident</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Incident_Found</name>
        <label>Check Incident Found</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ScreenITSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIncident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Ticket</targetReference>
            </connector>
            <label>found resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Ticket</name>
        <label>Check Status Ticket</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Aktif_TIket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TIcket_ON</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetIncident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIncident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIncident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ScreenITSM</targetReference>
            </connector>
            <label>TIcket ON</label>
        </rules>
    </decisions>
    <decisions>
        <name>Succes_Create_Ticket</name>
        <label>Succes Create Ticket</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CreateIncident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Create_Ticket</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>penambahan mapping layanan terdampak iris dan channel pengaduan</description>
    <dynamicChoiceSets>
        <name>CategoryIncident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sistem_Kategori__c</picklistField>
        <picklistObject>Incident</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LayananTerdampak</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITSM_Layanan_Terdampak__c</picklistField>
        <picklistObject>Incident</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipeIncident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipe_Insiden__c</picklistField>
        <picklistObject>Incident</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>map_layanan_terdampak</name>
        <dataType>String</dataType>
        <expression>CASE({!Layanan_Terdampak},
  &quot;EDC BRILINK &amp; UKO&quot;, &quot;EDC BRI&quot;,
  &quot;EDC Merchant&quot;, &quot;EDC BRI&quot;,
  &quot;ATM / CRM BRI&quot;, &quot;ATM / CRM BRI&quot;,
  &quot;ATM Bank Lain&quot;, &quot;ATM Bank Lain&quot;,
   &quot;Third Party - ATM jalin&quot; , &quot;ATM Bank Lain&quot;,
   &quot;QRIS BRI&quot;, &quot;QRIS BRI&quot;,
    &quot;BRIMO&quot;, &quot;BRIMO&quot;,
    &quot;CERIA&quot; , &quot;CERIA&quot;,
    &quot;BRI Credit Card Mobile&quot; , &quot;BRI Credit Card Mobile&quot;,
    &quot;IBBIZ&quot; , &quot;IBBIZ&quot;,
    &quot;QLOLA&quot; , &quot;QLOLA&quot;,
    &quot;BRILINK NON EDC&quot; , &quot;Agen BRILink&quot;,
     &quot; &quot;
)</expression>
    </formulas>
    <formulas>
        <name>map_layanan_terdampak_itsm</name>
        <dataType>String</dataType>
        <expression>CASE({!Layanan_Terdampak},
  &quot;EDC BRILINK &amp; UKO&quot;, &quot;EDC Controller BRILINK &amp; UKO&quot;,
  &quot;EDC Merchant&quot;, &quot;EDC Controller Merchant&quot;,
  &quot;ATM / CRM BRI&quot;, &quot;ATM Controller BRI&quot;,
  &quot;ATM Bank Lain&quot;, &quot;ATM Controller MP&quot;,
  &quot;Third Party - ATM jalin&quot;, &quot;Third Party - ATM jalin&quot;,
  &quot;QRIS BRI&quot;, &quot;QRIS Core System&quot;,
  &quot;BRIMO&quot;, &quot;BRImo&quot;,
  &quot;CERIA&quot;, &quot;Ceria&quot;,
  &quot;BRI Credit Card Mobile&quot;, &quot;BRI Credit Card Mobile&quot;,
  &quot;IBBIZ&quot;, &quot;IBBIZ (Internet Banking Bisnis)&quot;,
  &quot;QLOLA&quot;, &quot;Qlola&quot;,
  &quot;BRILINK NON EDC&quot;, &quot;BRILINK&quot;,
  &quot;Undefined&quot;  
)</expression>
    </formulas>
    <interviewLabel>[ITSM]Incident Create/ Reopen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ITSM]Incident Create/ Reopen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateIncident</name>
        <label>CreateIncident</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>CI_Ditemukan__c</field>
            <value>
                <stringValue>Tidak</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Symptom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IRIS_Number2__c</field>
            <value>
                <elementReference>BRI_FormatTicketIncident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITSM_Total_SLA_Iris__c</field>
            <value>
                <elementReference>getCase.Total_SLA_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact</field>
            <value>
                <stringValue>Minor / Localized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informasi_Detail_Nasabah__c</field>
            <value>
                <elementReference>NasabahInformasi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Layanan_Terdampak__c</field>
            <value>
                <elementReference>BRI_LayananTerdampak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nomor_tiket_iRIS__c</field>
            <value>
                <elementReference>RecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penjelasan_detail_permasalahan_IT__c</field>
            <value>
                <elementReference>Symptom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistem_Kategori__c</field>
            <value>
                <stringValue>Not Yet Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>BRICare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_Inicident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectStaticVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipe_Insiden__c</field>
            <value>
                <stringValue>Not Yet Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_SLA__c</field>
            <value>
                <elementReference>BRI_SApp_OLA</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncident</name>
        <label>GetIncident</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Incident_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>update Case</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SCC_Channel_Transaksi__c</field>
            <value>
                <elementReference>map_layanan_terdampak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tiket_ITSM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reopen_Incident</name>
        <label>Update Reopen Incident</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIncident.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alasan_kembali_membuka_tiket_IT__c</field>
            <value>
                <elementReference>BRI_SApp_Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_Date__c</field>
            <value>
                <elementReference>Last_Mod_TIme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_Ticket__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordUpdates>
    <screens>
        <name>CaseTypeNull</name>
        <label>CaseTypeNull</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextNullCaseType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Harap Mengisi Case Type sebelum melakukan pembuatan Tiket ke IT!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ScreenITSM</name>
        <label>ScreenITSM Re Open</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invocable_Reopen_ITSM_Action_1</targetReference>
        </connector>
        <fields>
            <name>Alasan_Membuka_Kembali_Tiket_IT</name>
            <fieldText>Alasan Membuka Kembali Tiket IT</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Aktif_TIket</name>
        <label>Error Aktif TIket</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_active_tiket</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Tidak bisa membuka tiket IT baru karena tiket IT lama masih dalam aktif.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selesai</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Create_Ticket</name>
        <label>Error Screen Create Ticket</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(251, 0, 0);&quot;&gt;Gagal Membuat Tiket ITSM&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>err_cause</name>
            <fieldText>&lt;p&gt;Error : {!Err_Mssg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenITSM</name>
        <label>ScreenITSM</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invocable_ITSM</targetReference>
        </connector>
        <fields>
            <name>InformasiDetailNasabah</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Informasi Detail Nasabah﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Nama Nasabah : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getCase.SCC_Nama_Pelapor__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Nomor Rekening : {!getCase.SCC_Account_Number__c}&lt;/p&gt;&lt;p&gt;Nomor kartu: {!getCase.SCC_Card_Number__c}&lt;/p&gt;&lt;p&gt;Waktu Transaksi: {!getCase.SCC_Waktu_Transaksi__c}&lt;/p&gt;&lt;p&gt;Total SLA : {!getCase.Total_SLA_2__c} Hari&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Layanan_Terdampak</name>
            <choiceReferences>LayananTerdampak</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Layanan Terdampak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Penjelasan_Detail_Permasalahan_IT</name>
            <fieldText>Penjelasan Detail Permasalahan IT</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NasabahInformasi</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nama Nasabah : {!getCase.SCC_Nama_Pelapor__c}
Nomor Rekening : {!getCase.SCC_Account_Number__c}
Nomor kartu: {!getCase.SCC_Card_Number__c}
Waktu Transaksi: {!getCase.SCC_Waktu_Transaksi__c}</text>
    </textTemplates>
    <textTemplates>
        <name>subjectStaticVal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!getCase.Case_Number__c}  -  {!getCase.SSC_Call_Type_Description__c}</text>
    </textTemplates>
    <variables>
        <name>Bri_CategorySystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_CIDITEMUKAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_DetectedTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_FormatTicketIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_isReopen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BRI_LayananTerdampak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_Detail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_Justification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SApp_OLA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BRI_SApp_TicketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BRI_SourceKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Err_Mssg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Impact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Incident_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Incident_Number2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Mod_TIme</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status_Inicident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tipe_Incident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Urgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
