force-app/main/default/flows/Logged_In_User_Key_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Empty_Branch</name>
        <label>Assign Empty Branch</label>
        <locationX>842</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>userUnitKerja</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Cost_Center</name>
        <label>Assign Empty Cost Center</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>userUnitKerja</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Jabatan</name>
        <label>Assign Empty Jabatan</label>
        <locationX>776</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>userJabatan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Unit_Kerja</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_PN</name>
        <label>Assign Empty PN</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>userPN</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Jabatan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Branch_User</name>
        <label>Assign for Branch User</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>userUnitKerja</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoggedInUserInfo.Branch_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_HQ_User</name>
        <label>Assign for HQ User</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>userUnitKerja</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoggedInUserInfo.SCC_Cost_Center_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jabatan</name>
        <label>Assign Jabatan</label>
        <locationX>512</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>userJabatan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoggedInUserInfo.SCC_HTEXT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Unit_Kerja</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PN</name>
        <label>Assign PN</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>userPN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoggedInUserInfo.EmployeeNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Jabatan</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AreaDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Kantor Pusat</stringValue>
        </value>
    </constants>
    <constants>
        <name>BranchProfile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Branch</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Empty_Branch</name>
        <label>Check Empty Branch</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Branch Empty</defaultConnectorLabel>
        <rules>
            <name>Branch_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.SCC_Cost_Center_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_Branch_User</targetReference>
            </connector>
            <label>Branch Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Empty_Cost_Center</name>
        <label>Check Empty Cost Center</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Cost_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.SCC_Cost_Center_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_HQ_User</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Jabatan</name>
        <label>Check Jabatan</label>
        <locationX>644</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_Jabatan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Jabatan is Blank</defaultConnectorLabel>
        <rules>
            <name>Jabatan_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.SCC_HTEXT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Jabatan</targetReference>
            </connector>
            <label>Jabatan is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if logged in user PN is blank</description>
        <name>Check_PN</name>
        <label>Check PN</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Empty_PN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PN is Blank</defaultConnectorLabel>
        <rules>
            <name>PN_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.EmployeeNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PN</targetReference>
            </connector>
            <label>PN is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the User is HQ user or branch user and assign Divisi accordingly</description>
        <name>Check_Unit_Kerja</name>
        <label>Check Unit Kerja</label>
        <locationX>644</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>User_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_HQ_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.SCC_Tipe_Unit_Kerja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.SCC_Tipe_Unit_Kerja__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Empty_Cost_Center</targetReference>
            </connector>
            <label>Check HQ user</label>
        </rules>
        <rules>
            <name>Check_Branch_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLoggedInUserInfo.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Empty_Branch</targetReference>
            </connector>
            <label>Check Branch User</label>
        </rules>
    </decisions>
    <description>[29/10/2024 - RKYN] Update logic to show data</description>
    <environments>Default</environments>
    <interviewLabel>Logged In User Key Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCC_Logged In User Key Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLoggedInUserInfo</name>
        <label>getLoggedInUserInfo</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Info</name>
        <label>User Info</label>
        <locationX>644</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 1, 1); background-color: rgb(255, 255, 255);&quot;&gt;Username&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PN_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;strong&gt;PN / Jabatan&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unit_label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Unit Kerja&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>User_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>userNameValue</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getLoggedInUserInfo.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PN_email_Value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!userPN} / {!userJabatan}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>divisiValue</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!userUnitKerja}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLoggedInUserInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Hold User Jabatan</description>
        <name>userJabatan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds User&apos;s PN</description>
        <name>userPN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userUnitKerja</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
