force-app/main/default/flows/LoginFlow_Revoke.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Session</name>
        <label>Session</label>
        <locationX>558</locationX>
        <locationY>256</locationY>
        <apexClass>SessionPlugin</apexClass>
        <connector>
            <targetReference>Cek_Session</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>session_no</assignToReference>
            <name>CONCURRENT_NO</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>session_id</assignToReference>
            <name>SESSION_ID</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cek_Session</name>
        <label>Cek Session</label>
        <locationX>527</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Cek_Session_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session_no</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Session_Id</name>
        <label>Cek Session Id</label>
        <locationX>332</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>First Login</defaultConnectorLabel>
        <rules>
            <name>Session_Block</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>session_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Session</targetReference>
            </connector>
            <label>Session Block</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[LoginFlow]_Revoke {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[LoginFlow]_Revoke</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Session</name>
        <label>Delete Session</label>
        <locationX>406</locationX>
        <locationY>588</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>session_id</elementReference>
            </value>
        </filters>
        <object>AuthSession</object>
    </recordDeletes>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>session_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>session_no</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
