force-app/main/default/flows/ME_Sosmed_Highlight_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Highlight_Box</name>
        <label>Check Highlight Box</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Highlight_Customer_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Social_Persona_Update_Highlight</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Highlight_Customer_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Social_Persona_Update_Highlight</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ME_Sosmed_Highlight Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ME_Sosmed_Highlight Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Remove_Social_Persona_Update_Highlight</name>
        <label>Remove Social Persona Update Highlight</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sprout_Social_Persona__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Highlight_Customer_Notes__c</field>
        </inputAssignments>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Social_Persona_Update_Highlight</name>
        <label>Social Persona Update Highlight</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sprout_Social_Persona__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Highlight_Customer_Notes__c</field>
            <value>
                <elementReference>$Record.Highlight_Customer_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>SproutSocialApp__Sprout_Social_Persona__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Highlight_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Highlight_Customer_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
