force-app/main/default/flows/Pefindo_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Personal_Pefindo_Process_ID</name>
        <label>Check Personal Pefindo Process ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Spouse_Pefindo_Process_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_personal_pefindon_process_id_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads.Pefindo_Process_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Personal_Pefindo_PDF_Report</targetReference>
            </connector>
            <label>if personal pefindon process id not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Spouse_Pefindo_Process_ID</name>
        <label>Check Spouse Pefindo Process ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_spouse_pefindo_process_id_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads.Pefindo_Spouse_Process_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Spouse_Pefindo_PDF_Report</targetReference>
            </connector>
            <label>if spouse pefindo process id not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Pefindo_PDF_Personal</name>
        <label>Existing Pefindo PDF Personal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Personal_Pefindo_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pefindo_PDF_Personal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_Personal</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Pefindo_PDF_Spouse</name>
        <label>Existing Pefindo PDF Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Spouse_Pefindo_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pefindo_PDF_Spouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_Spouse</targetReference>
            </connector>
            <label>Delete Spouse</label>
        </rules>
    </decisions>
    <description>Update field type into url</description>
    <environments>Default</environments>
    <interviewLabel>Pefindo PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pefindo PDF</label>
    <loops>
        <name>Loop_Personal_Pefindo_PDF</name>
        <label>Loop Personal Pefindo PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Personal_Pefindo_PDF_Report.list_url</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Personal_Pefindo_PDF_Report</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Spouse_Pefindo_Process_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Spouse_Pefindo_PDF</name>
        <label>Loop Spouse Pefindo PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Spouse_Pefindo_PDF_Report.list_url</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Spouse_Pefindo_PDF_Report</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Personal_Pefindo_PDF_Report</name>
        <label>Create Personal Pefindo PDF Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Personal_Pefindo_PDF</targetReference>
        </connector>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>personal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pefindo_doc_url__c</field>
            <value>
                <elementReference>Loop_Personal_Pefindo_PDF</elementReference>
            </value>
        </inputAssignments>
        <object>Pefindo_PDF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Spouse_Pefindo_PDF_Report</name>
        <label>Create Spouse Pefindo PDF Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Spouse_Pefindo_PDF</targetReference>
        </connector>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>spouse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pefindo_doc_url__c</field>
            <value>
                <elementReference>Loop_Spouse_Pefindo_PDF</elementReference>
            </value>
        </inputAssignments>
        <object>Pefindo_PDF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_Personal</name>
        <label>Delete Records Personal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Personal_Pefindo_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>personal</stringValue>
            </value>
        </filters>
        <object>Pefindo_PDF__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Records_Spouse</name>
        <label>Delete Records Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Spouse_Pefindo_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>spouse</stringValue>
            </value>
        </filters>
        <object>Pefindo_PDF__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Personal_Pefindo_Process_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pefindo_PDF_Personal</name>
        <label>Get Pefindo PDF Personal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Pefindo_PDF_Personal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>personal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pefindo_PDF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pefindo_PDF_Spouse</name>
        <label>Get Pefindo PDF Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Pefindo_PDF_Spouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>spouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pefindo_PDF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Personal_Pefindo_PDF_Report</name>
        <label>Get Personal Pefindo PDF Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pefindo_PDF_Personal</targetReference>
        </connector>
        <flowName>Get_Pefindo_PDF_Report</flowName>
        <inputAssignments>
            <name>input_process_entity_id</name>
            <value>
                <elementReference>Get_Leads.Pefindo_Process_Entity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_process_id</name>
            <value>
                <elementReference>Get_Leads.Pefindo_Process_ID__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Spouse_Pefindo_PDF_Report</name>
        <label>Get Spouse Pefindo PDF Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pefindo_PDF_Spouse</targetReference>
        </connector>
        <flowName>Get_Pefindo_PDF_Report</flowName>
        <inputAssignments>
            <name>input_process_entity_id</name>
            <value>
                <elementReference>Get_Leads.Pefindo_Spouse_Process_Entity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_process_id</name>
            <value>
                <elementReference>Get_Leads.Pefindo_Spouse_Process_ID__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ExistingPefindoPDFSpouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pefindo_PDF__c</objectType>
    </variables>
    <variables>
        <name>InputRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personal_pefindo_url</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spouse_pefindo_url</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
