force-app/main/default/flows/QA_Update_Case_penilaian_QA_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_Tiket_exists</name>
        <label>check Tiket exists</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>update_flag_isCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Tiket_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_flag_penialain_QA_di_CASE</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <description>[27/12/2024] - Update flag to QA Response record
[15/1/2024] - update flag untuk cek apakah tiket exists or not</description>
    <environments>Default</environments>
    <interviewLabel>[QA] Update Case penilaian QA Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[QA] Update Case penilaian QA Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_flag_isCreated</name>
        <label>update flag isCreated</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>isCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_flag_penialain_QA_di_CASE</name>
        <label>update flag penialain QA di CASE</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>update_flag_isCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.No_Tiket_New__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>is_Penilaian_QA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Tiket_exists</targetReference>
        </connector>
        <object>QA_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
