force-app/main/default/flows/Quote_Screen_Create_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notif</name>
        <label>Notif</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Transform_Opportunity_to_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Run_Quote_Approval</name>
        <label>Run Quote Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Aswata_ApprovalProcess_Logic</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Submit_Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Transform_Opportunity_to_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aswata_ApprovalProcess_Logic</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Busreq_When_Quote_Created</name>
        <label>Send Busreq When Quote Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VlocityMappingFlowBridge</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Status_From_SFAWT_01</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ipName</name>
            <value>
                <stringValue>SFAWT01_CreateBusreq</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonInput</name>
            <value>
                <elementReference>jsonInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VlocityMappingFlowBridge</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>User_Limit_Action_1</name>
        <label>User Limit Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClsUserLimit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_User_Available</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>Transform_Opportunity_to_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClsUserLimit</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>userId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_List_User</name>
        <label>Assignment List User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Name</name>
        <label>Set Quote Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuoteName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Opportunity_to_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Account_From_Partner</name>
        <label>Use Account From Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner.AccountToId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Existing_Account</name>
        <label>Use Existing Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType_Quote</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Cek_Update</name>
        <label>Cek Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Use_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Account_From_Partner</targetReference>
            </connector>
            <label>If Partner not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Facultative</name>
        <label>Check Facultative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Quotation_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Facultative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facultative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Busreq_When_Quote_Created</targetReference>
            </connector>
            <label>Not Facultative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Opportunity</name>
        <label>Check Stage Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ShowErrorStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Opportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Quote_Name</targetReference>
            </connector>
            <label>Stage Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_From_SFAWT_01</name>
        <label>Check Status From SFAWT-01</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Integration_SFAWT01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStatusResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records</targetReference>
            </connector>
            <label>Status Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Available</name>
        <label>Check User Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_UW_not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>User Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_Result</name>
        <label>Submit Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_Quote_Approval.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notif</targetReference>
            </connector>
            <label>Result</label>
        </rules>
    </decisions>
    <description>04/12/2025 : add update opportunity =&gt; assigned underwriting
09/12/2025 : add get primary partner Id and update to opty
17/12/2025 : add call IP SFAWT-17
18/12/2025: move callouts after DML</description>
    <dynamicChoiceSets>
        <name>stampDutyOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <object>Master_Data__c</object>
        <outputAssignments>
            <assignToReference>administrationCost</assignToReference>
            <field>Administration_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>stampDuty</assignToReference>
            <field>Stamp_Duty__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>getStatusResponse</name>
        <dataType>Number</dataType>
        <expression>VALUE(
 MID(
   {!Send_Busreq_When_Quote_Created.resultJson},
   FIND(&apos;&quot;status&quot;:&quot;&apos;, {!Send_Busreq_When_Quote_Created.resultJson}) + 10,
   FIND(&apos;&quot;&apos;, {!Send_Busreq_When_Quote_Created.resultJson}, FIND(&apos;&quot;status&quot;:&quot;&apos;, {!Send_Busreq_When_Quote_Created.resultJson}) + 10) - 
   (FIND(&apos;&quot;status&quot;:&quot;&apos;, {!Send_Busreq_When_Quote_Created.resultJson}) + 10)
 )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NotifBody</name>
        <dataType>String</dataType>
        <expression>&apos;You have 1 approval for Quote No. &apos; + {!Transform_Opportunity_to_Quote.QuoteNumber}</expression>
    </formulas>
    <formulas>
        <name>NotifTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Approval Quote&apos;</expression>
    </formulas>
    <formulas>
        <name>recordTypeNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>[Quote] Screen Create Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Screen Create Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_UW_to_Opportunity_Teams</name>
        <label>Add UW to Opportunity Teams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Quote</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Underwriting User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quotation_Only</name>
        <label>Create Quotation Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Facultative_Opportunity_Stage</targetReference>
        </connector>
        <inputReference>Transform_Opportunity_to_Quote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Limit_Action_1</targetReference>
        </connector>
        <inputReference>Transform_Opportunity_to_Quote</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Quote</name>
        <label>Delete Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Transform_Opportunity_to_Quote</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Notif</name>
        <label>Get Notif</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Quote_Approval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Quote</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aswata</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master_Data__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other_Expenses</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Quote</name>
        <label>Get RecordType Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stage_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeNameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Facultative_Opportunity_Stage</name>
        <label>Update Facultative Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_UW_to_Opportunity_Teams</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Quote</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Underwriting__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming_Request_Approval__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Status__c</field>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Underwriting Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_List_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Quote</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Transform_Opportunity_to_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Underwriting__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Error_Integration_SFAWT01</name>
        <label>Error Integration SFAWT01</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextErrorSFAWT_01</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Unable to get Request Number, Please Contact Administrator for The Detail !!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Error fault exception, please contact admin!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Quote_Name</name>
        <label>Input Quote Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Quote_Name</targetReference>
        </connector>
        <fields>
            <name>Quote_Name</name>
            <dataType>String</dataType>
            <fieldText>Quotation Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stamp_Duty</name>
            <choiceReferences>stampDutyOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Policy Cost</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Failed</name>
        <label>Screen Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Quote</targetReference>
        </connector>
        <fields>
            <name>textFailed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Failed to Submit the Quote, Please Contact Admin !!&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;The Quote has been submitted !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Run_Quote_Approval.message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The Quote has been submitted !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_UW_not_Found</name>
        <label>Screen UW not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Quote</targetReference>
        </connector>
        <fields>
            <name>uwNotFountDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Underwriter user cannot be find, please contact admin!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowErrorStage</name>
        <label>Show Error Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_KCYDisplay</name>
            <fieldText>&lt;p&gt;Request harus berada didalam stage : &lt;strong&gt;Opportunity atau Quote&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>jsonInput</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;recordId&quot;: &quot;{!recordId}&quot;}</text>
    </textTemplates>
    <transforms>
        <name>Transform_Opportunity_to_Quote</name>
        <label>Transform Opportunity to Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Facultative</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Quote</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>The_Insured_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity.The_Insured_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>The_Insured_Address__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity.The_Insured_Address__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Coverage_Group__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity.Coverage_Group_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Insurance_Period_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity.Insurance_Period_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opportunity.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>QuoteName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Administration_Cost__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>administrationCost</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Stamp_Duty__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>stampDuty</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_RecordType_Quote.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>newAccountId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>administrationCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>errorMessageSFAWT1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jsonResponseSFAWT1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stampDuty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
