force-app/main/default/flows/Report_SLA_OLA_Returned.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agent_Ola_Var</name>
        <label>Assign Agent Ola Var</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AgentOlaMilestoneTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Milestone_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Milestone_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Service_Var</name>
        <label>Assign Customer Service Var</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CustomerServiceMilestoneTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Milestone_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Milestone_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_SLA_var</name>
        <label>Assign Total SLA var</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalSLAMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Milestone_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Milestone_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_var</name>
        <label>Assign values to var</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varTotalTargetSLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTanggalTotalTargetSLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaTanggalTargetTotalSLA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTanggalTargetAgentOla</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaTargetTanggalAgentSLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Report_Sla_Ola_report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Milestone_Type_name</name>
        <label>Check Milestone Type name</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Milestone_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Milestone_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_SLA_var</targetReference>
            </connector>
            <label>Total SLA</label>
        </rules>
        <rules>
            <name>Agent_OLA_Kanpus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Milestone_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent OLA (Kanpus)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agent_Ola_Var</targetReference>
            </connector>
            <label>Agent OLA (Kanpus)</label>
        </rules>
        <rules>
            <name>Customer_Service_OLA_Uker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Milestone_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service OLA (Uker)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Service_Var</targetReference>
            </connector>
            <label>Customer Service OLA (Uker)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaTanggalTargetTotalSLA</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>FormulaTargetTanggalAgentSLA</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Agent_Ola_Uker.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Agent_Ola_Uker.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Agent_Ola_Uker.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Agent_Ola_Uker.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <interviewLabel>[Report SLA OLA] Returned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Report SLA OLA] Returned</label>
    <loops>
        <name>Loop_All_Milestone_Type</name>
        <label>Loop All Milestone Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Milestone_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Milestone_Type_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_Milestone_Total_SLA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Milestone_Type</name>
        <label>Get All Milestone Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Milestone_Type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Agent_Ola_Uker</name>
        <label>Get Case Milestone Agent Ola / Uker</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_var</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgentOlaMilestoneTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerServiceMilestoneTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Total_SLA</name>
        <label>Get Case Milestone Total SLA</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Milestone_Agent_Ola_Uker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TotalSLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Report_Sla_Ola_report</name>
        <label>Update Report Sla Ola report</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>return_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_Agent_SLA__c</field>
            <value>
                <elementReference>varTanggalTargetAgentOla</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>FormulaTanggalTargetTotalSLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <elementReference>varTotalTargetSLA</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Milestone_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Call_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1150</triggerOrder>
    <variables>
        <name>AgentOlaMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerServiceMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSLAMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTanggalTargetAgentOla</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTanggalTotalTargetSLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalTargetSLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
