force-app/main/default/flows/Sabrina_Get_Acess_Token_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Access_Token</name>
        <label>Get Access Token</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AuthenticationToken.Authentication</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_Access_Token</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>grant_type</name>
            <value>
                <stringValue>password</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <stringValue>3MVG9Za5EbktTiWbnKaYMqjpETWIFGmM6OfrJ168cE.se1VB8mNqz9PBJGwh4kxfUpJF0zBJDiMuEkuF5kgeb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <stringValue>671DD16C1C662B9498C543042E03300B60E8421C74263AB6073DC6DBD7DC0D11</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>brigate.integration@bri.co.id.uat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>Brichm2024wArCuWp3n61UPr7JKu4C5OZli</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AuthenticationToken.Authentication</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Access_Token</name>
        <label>Assign Access Token</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AccessToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Access_Token.2XX.accessx5ftoken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Token</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Sabrina] Get Acess Token Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sabrina] Get Acess Token Authentication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Token</name>
        <label>Update Token</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sabrina</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Token__c</field>
            <value>
                <elementReference>AccessToken</elementReference>
            </value>
        </inputAssignments>
        <object>BRIMO__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Access_Token</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccessToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
