force-app/main/default/flows/SCC_UpdateMilestoneCompletionDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AgentOLAMilestoneTypeId</name>
        <label>AgentOLAMilestoneTypeId</label>
        <locationX>3592</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>agentOLAMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AgentOLAReturnedMilestoneTypeId</name>
        <label>AgentOLAReturnedMilestoneTypeId</label>
        <locationX>3856</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>agentOLAReturnedMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Milestone_Id_not_completed</name>
        <label>Assign Case Milestone Id not completed</label>
        <locationX>2822</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>collectionIDCasemilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CaseMilestone_Not_Completed.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CaseMilestone_Not_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sum_level_1</name>
        <label>Assign sum level 1</label>
        <locationX>3834</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>sumLevel1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Waktu_Penyelesaian_level_1.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_level_1_complete</name>
        <label>Assign Sum level 1 complete</label>
        <locationX>3130</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>sumWaktuPenyelesaianAllLevel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Level_1_Complete.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Level_1_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_level_2</name>
        <label>Assign Sum level 2</label>
        <locationX>4714</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>sumLevel2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Waktu_Penyelesaian_level_2.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_Level_2_Complete</name>
        <label>Assign Sum Level 2 Complete</label>
        <locationX>3482</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>sumWaktuPenyelesaianAllLevel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Level_2_complete.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Level_2_complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_level_3</name>
        <label>Assign Sum level 3</label>
        <locationX>5594</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>sumLevel3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_Waktu_Penyelesaian_level_3.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_Level_3_Complete</name>
        <label>Assign Sum Level 3 Complete</label>
        <locationX>3834</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>sumWaktuPenyelesaianAllLevel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Level_3_Complete.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Level_3_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sum_Level_4_Complete</name>
        <label>Assign Sum Level 4 Complete</label>
        <locationX>4186</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>sumWaktuPenyelesaianAllLevel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_level_4_complete.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_level_4_complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tanggal_Penyelesaan_Waiting_doc_null</name>
        <label>Assign Tanggal Penyelesaan Waiting doc null</label>
        <locationX>3372</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>tanggalPenyelesaianWaitingDocVar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Total_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tanggal_Penyelesaian_Waiting_Doc</name>
        <label>Assign Tanggal Penyelesaian Waiting Doc</label>
        <locationX>3108</locationX>
        <locationY>4295</locationY>
        <assignmentItems>
            <assignToReference>tanggalPenyelesaianWaitingDocVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tanggal_penyelesaian_waitingDoc_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tanggal_Penyelesaian_Waiting_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tanggal_Target_Level_1</name>
        <label>Assign Tanggal Target Level 1</label>
        <locationX>2217</locationX>
        <locationY>5759</locationY>
        <assignmentItems>
            <assignToReference>Tanggal_Target_Level_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Milestone_Level_1.TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Report_SLA_OLA_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tanggal_Target_Levle_1_Null</name>
        <label>Assign Tanggal Target Levle 1 Null</label>
        <locationX>2481</locationX>
        <locationY>5759</locationY>
        <assignmentItems>
            <assignToReference>Tanggal_Target_Level_1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Report_SLA_OLA_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_tanggal_target_waiting_doc</name>
        <label>assign tanggal target waiting doc</label>
        <locationX>3108</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>tanggalTargetWaitingDocVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tanggal_target_waiting_doc_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Report_for_Complete_Uker_or_Agent_OLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_tanggal_target_waiting_doc_null</name>
        <label>assign tanggal target waiting doc null</label>
        <locationX>3372</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>tanggalTargetWaitingDocVar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Report_for_Complete_Uker_or_Agent_OLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_target_total_SLA_dan_Level_1</name>
        <label>Assign target total SLA dan Level 1</label>
        <locationX>4076</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>TotalSLAVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tanggal_target_total_sla_1_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetLevel1Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tanggal_target_level_1_completed_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CaseMilestone_level_1_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Target_SLA</name>
        <label>Assign Total Target SLA</label>
        <locationX>2613</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>Tanggal_Total_Target_SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tanggal_target_Total_SLA_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Milestone_Agent_Ola</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Target_SLA_null</name>
        <label>Assign Total Target SLA null</label>
        <locationX>2877</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>Tanggal_Total_Target_SLA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Milestone_Agent_Ola</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_28</name>
        <label>Assign total Penyelesaian Agent Ola</label>
        <locationX>3328</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>sumAgentOla</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Agent_OLA_dan_UKER.ElapsedTimeInMins</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Agent_OLA_dan_UKER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerServiceOLAMilestoneTypeId</name>
        <label>CustomerServiceOLAMilestoneTypeId</label>
        <locationX>5440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>customerServiceMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerServiceOLAReturnMilestoneTypeId</name>
        <label>CustomerServiceOLAReturnMilestoneTypeId</label>
        <locationX>5704</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>customerServiceReturnMilestoneTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Level1MilestoneTypeId</name>
        <label>Level1MilestoneTypeId</label>
        <locationX>4384</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>level1MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Level2MilesteonTypeId</name>
        <label>Level2MilesteonTypeId</label>
        <locationX>4648</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>level2MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Level3MilestoneTypeId</name>
        <label>Level3MilestoneTypeId</label>
        <locationX>4912</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>level3MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Level4MilestoneTypeId</name>
        <label>Level4MilestoneTypeId</label>
        <locationX>5176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>level4MilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalSLAMilestoneTypeId</name>
        <label>TotalSLAMilestoneTypeId</label>
        <locationX>3328</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>totalSLAMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WaitingDocumentOLAMilestoneTypeId</name>
        <label>WaitingDocumentOLAMilestoneTypeId</label>
        <locationX>4120</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>WaitingDocumentMilestoneId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Milestone_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Milestone_Type</name>
        <label>Assign Milestone Type</label>
        <locationX>4648</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_SLA_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TotalSLAMilestoneTypeId</targetReference>
            </connector>
            <label>Total SLA Milestone Type Id</label>
        </rules>
        <rules>
            <name>Agent_OLA_MIlestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent OLA (Kanpus)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgentOLAMilestoneTypeId</targetReference>
            </connector>
            <label>Agent OLA MIlestone Type Id</label>
        </rules>
        <rules>
            <name>Agent_OLA_Returned_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent OLA (Kanpus) Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgentOLAReturnedMilestoneTypeId</targetReference>
            </connector>
            <label>Agent OLA Returned Milestone Type Id</label>
        </rules>
        <rules>
            <name>Waiting_Document_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitingDocumentOLAMilestoneTypeId</targetReference>
            </connector>
            <label>Waiting Document Milestone Type Id</label>
        </rules>
        <rules>
            <name>Level_1_OLA_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 1 OLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Level1MilestoneTypeId</targetReference>
            </connector>
            <label>Level 1 OLA Milestone Type Id</label>
        </rules>
        <rules>
            <name>Level_2_OLA_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 2 OLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Level2MilesteonTypeId</targetReference>
            </connector>
            <label>Level 2 OLA Milestone Type Id</label>
        </rules>
        <rules>
            <name>Level_3_OLA_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 3 OLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Level3MilestoneTypeId</targetReference>
            </connector>
            <label>Level 3 OLA Milestone Type Id</label>
        </rules>
        <rules>
            <name>Level_4_OLA_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Level 4 OLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Level4MilestoneTypeId</targetReference>
            </connector>
            <label>Level 4 OLA Milestone Type Id</label>
        </rules>
        <rules>
            <name>Customer_Service_OLA_Uker_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service OLA (Uker)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerServiceOLAMilestoneTypeId</targetReference>
            </connector>
            <label>Customer Service OLA (Uker) Milestone Type Id</label>
        </rules>
        <rules>
            <name>Customer_Service_OLA_Uker_Return_Milestone_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_All_Milestone_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service OLA (Uker) Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerServiceOLAReturnMilestoneTypeId</targetReference>
            </connector>
            <label>Customer Service OLA (Uker) Return Milestone Type Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CaseMilestone_level_1_Completed</name>
        <label>Check CaseMilestone level 1 Completed</label>
        <locationX>4076</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_1_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone_level_1_completed.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agent_Accept_level_1</targetReference>
            </connector>
            <label>level 1 completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CaseMilestone_level_2_Completed</name>
        <label>Check CaseMilestone level 2 Completed</label>
        <locationX>4956</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_2_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone_level_2_completed.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agent_Accept_level_2</targetReference>
            </connector>
            <label>level 2 completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CaseMilestone_level_3_completed</name>
        <label>Check CaseMilestone level 3 completed</label>
        <locationX>5836</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_3_competed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone_level_3_completed.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agent_Accept_level_3</targetReference>
            </connector>
            <label>level 3 competed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_last_report_not_returned</name>
        <label>Check if last report not returned</label>
        <locationX>2547</locationX>
        <locationY>6167</locationY>
        <defaultConnector>
            <targetReference>Create_Report_SLA_OLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_report_sla_last_updated_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_Last_updated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Report_SLA_OLA</targetReference>
            </connector>
            <label>check if report sla last updated null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_waiting_document_or_not</name>
        <label>Check if waiting document or not</label>
        <locationX>3240</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>assign_tanggal_target_waiting_doc_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>waiting_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WaitingDocumentMilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Case_Milestone_Waiting_Document</targetReference>
            </connector>
            <label>waiting document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_1</name>
        <label>Check Level 1</label>
        <locationX>2745</locationX>
        <locationY>5435</locationY>
        <defaultConnector>
            <targetReference>Check_Report_SLA_OLA_Exists_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>level1MilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Milestone_Level_1</targetReference>
            </connector>
            <label>if level 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_1_Exists</name>
        <label>Check Level 1 Exists</label>
        <locationX>2349</locationX>
        <locationY>5651</locationY>
        <defaultConnector>
            <targetReference>Assign_Tanggal_Target_Levle_1_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Level_1_Exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone_Level_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tanggal_Target_Level_1</targetReference>
            </connector>
            <label>if Level 1 Exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_2</name>
        <label>Check Level 2</label>
        <locationX>3878</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>update_Report_SLA_OLA_level_1_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_2_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>level2MilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Milestone_level_2</targetReference>
            </connector>
            <label>level 2 exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_level_3</name>
        <label>check level 3</label>
        <locationX>4758</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>update_Report_SLA_OLA_level_2_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_3_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>level3MilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_case_milestone_level_3</targetReference>
            </connector>
            <label>level 3 exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Level_4</name>
        <label>Check Level 4</label>
        <locationX>5638</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Update_Report_SLA_OLA_level_3_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>level_4_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>level4MilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_case_milestone_level_4</targetReference>
            </connector>
            <label>level 4 exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_level_not_complete</name>
        <label>Check level not complete</label>
        <locationX>3526</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_SLA_Not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Case_Milestone_not_complete.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>totalSLAMilestoneId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_SLA_Not_Complete</targetReference>
            </connector>
            <label>Total SLA Not Complete</label>
        </rules>
        <rules>
            <name>Level_1_Not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Case_Milestone_not_complete.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>level1MilestoneId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_level_1_Accept</targetReference>
            </connector>
            <label>Level 1 Not Complete</label>
        </rules>
        <rules>
            <name>level_2_not_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Case_Milestone_not_complete.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>level2MilestoneId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_level_2_Accept</targetReference>
            </connector>
            <label>level 2 not complete</label>
        </rules>
        <rules>
            <name>level_3_not_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Case_Milestone_not_complete.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>level3MilestoneId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Level_3_Accept</targetReference>
            </connector>
            <label>level 3 not complete</label>
        </rules>
        <rules>
            <name>level_4_not_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Case_Milestone_not_complete.MilestoneTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>level4MilestoneId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Level_4_Accept</targetReference>
            </connector>
            <label>level 4 not complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_Case_Milestone</name>
        <label>Check List Case Milestone</label>
        <locationX>2734</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionIDCasemilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_case_Milestone_after_update_completionDate</targetReference>
            </connector>
            <label>Check if not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OLA_is_Draft</name>
        <label>Check OLA is Draft</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Create_Report_SLA_OLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft_And_Case_type_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_draft.Case_Type_Ticket__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_draft</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Draft And Case type same</label>
        </rules>
        <rules>
            <name>Draft_and_Case_Type_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_draft.Case_Type_Ticket__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_draft</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Report_SLA_OLA_Draft</targetReference>
            </connector>
            <label>Draft and Case Type change</label>
        </rules>
        <rules>
            <name>Get_Report_SLA_OLA_is_Draft_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA_draft</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Report_SLA_OLA</targetReference>
            </connector>
            <label>Get Report SLA OLA is Draft Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Report_SLA_OLA_Existing</name>
        <label>Check Report SLA OLA Existing</label>
        <locationX>2349</locationX>
        <locationY>5951</locationY>
        <defaultConnector>
            <targetReference>Get_Report_SLA_OLA_Last_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Report_SLA_OLA</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Report_SLA_OLA_Exists_1</name>
        <label>Check Report SLA OLA Exists 1</label>
        <locationX>3141</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Report_SLA_OLA_Last_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing</defaultConnectorLabel>
        <rules>
            <name>existing_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Report_SLA_OLA_1</targetReference>
            </connector>
            <label>existing 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_change_to_escalated_from_waiting_doc</name>
        <label>Check status change to escalated from waiting doc</label>
        <locationX>3240</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>Assign_Tanggal_Penyelesaan_Waiting_doc_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_target_waiting_doc_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Report_SLA_OLA.Tanggal_Target_Waiting_Document__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tanggal_Penyelesaian_Waiting_Doc</targetReference>
            </connector>
            <label>if target waiting doc exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_SLA</name>
        <label>Check Total SLA</label>
        <locationX>3240</locationX>
        <locationY>4595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalSLAMilestoneId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Milestone_Total_SLA</targetReference>
            </connector>
            <label>exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_SLA_exists</name>
        <label>Check Total SLA exists</label>
        <locationX>2745</locationX>
        <locationY>4811</locationY>
        <defaultConnector>
            <targetReference>Assign_Total_Target_SLA_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_SLA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone_Total_SLA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Target_SLA</targetReference>
            </connector>
            <label>Total SLA Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_last_report_not_returned</name>
        <label>Copy 1 of Check if last report not returned</label>
        <locationX>3339</locationX>
        <locationY>5759</locationY>
        <defaultConnector>
            <targetReference>Create_Report_SLA_OLA_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_last_updated_sla_ola_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Report_SLA_OLA_Last_updated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Report_SLA_OLA_1</targetReference>
            </connector>
            <label>check last updated sla ola not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCaseMilestoneCompetionDate</name>
        <label>UpdateCaseMilestoneCompetionDate</label>
        <locationX>3240</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Case_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Milestone_Uker_or_Agent_OLA_Draft</targetReference>
            </connector>
            <label>Case Draft</label>
        </rules>
        <rules>
            <name>Case_Closed_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Milestone_not_completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Closed Milestone</label>
        </rules>
        <rules>
            <name>Case_Returned_Milestone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Open_Milestone</targetReference>
            </connector>
            <label>Case Returned Milestone</label>
        </rules>
        <rules>
            <name>Level_1_Milestone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Level 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Agent_OLA_Milestone</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Level 1 Milestone</label>
        </rules>
        <rules>
            <name>Level_2_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Level_1_Milestone</targetReference>
            </connector>
            <label>Level 2 Milestone</label>
        </rules>
        <rules>
            <name>Level_3_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Level 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Level_2_Milestone</targetReference>
            </connector>
            <label>Level 3 Milestone</label>
        </rules>
        <rules>
            <name>Level_4_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Level 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Level_3_Milestone</targetReference>
            </connector>
            <label>Level 4 Milestone</label>
        </rules>
    </decisions>
    <description>The Purpose of this flow is to update milestone completion date based on status
[17/01/2025] - Development untuk reporting SLA OLA
[22/01/2025] - Development untuk Reporting SLA OLA status Returned
[23/01/2025] - Development untuk penggantian Case Type
[9/02/2025] - Development untuk penambahan Waiting Docs dan Agent OLA</description>
    <environments>Default</environments>
    <formulas>
        <name>INTwaktuPenyelesaianWaitingDoc</name>
        <dataType>Number</dataType>
        <expression>DATETIMEVALUE(
    MID({!tanggalPenyelesaianWaitingDocVar}, 7, 4) &amp; &quot;-&quot; &amp; 
    MID({!tanggalPenyelesaianWaitingDocVar}, 4, 2) &amp; &quot;-&quot; &amp; 
    LEFT({!tanggalPenyelesaianWaitingDocVar}, 2) &amp; &quot; &quot; &amp;
    MID({!tanggalPenyelesaianWaitingDocVar}, 12, 8)
) - 
DATETIMEVALUE(
    MID({!tanggal_penyelesaian_agentOLA_formula}, 7, 4) &amp; &quot;-&quot; &amp; 
    MID({!tanggal_penyelesaian_agentOLA_formula}, 4, 2) &amp; &quot;-&quot; &amp; 
    LEFT({!tanggal_penyelesaian_agentOLA_formula}, 2) &amp; &quot; &quot; &amp;
    MID({!tanggal_penyelesaian_agentOLA_formula}, 12, 8)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>tanggal_penyelesaian_agentOLA_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA.CompletionDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA.CompletionDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA.CompletionDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA.CompletionDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_penyelesaian_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Loop_All_Case_Milestone_not_complete.CompletionDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Loop_All_Case_Milestone_not_complete.CompletionDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Loop_All_Case_Milestone_not_complete.CompletionDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Loop_All_Case_Milestone_not_complete.CompletionDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_penyelesaian_level_1_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_level_1_completed.CompletionDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_level_1_completed.CompletionDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_level_1_completed.CompletionDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_level_1_completed.CompletionDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_penyelesaian_level_2_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_level_2_completed.CompletionDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_level_2_completed.CompletionDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_level_2_completed.CompletionDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_level_2_completed.CompletionDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_Penyelesaian_level_3_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_level_3_completed.CompletionDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_level_3_completed.CompletionDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_level_3_completed.CompletionDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_level_3_completed.CompletionDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_penyelesaian_waitingDoc_Formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!$Flow.CurrentDateTime} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_target_level_1_completed_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_level_1_completed.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_level_1_completed.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_level_1_completed.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_level_1_completed.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_target_level_1_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Level_1.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Level_1.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Level_1.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Level_1.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_target_level_2_Formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_level_2.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_level_2.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_level_2.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_level_2.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_target_level_3_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!get_case_milestone_level_3.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!get_case_milestone_level_3.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!get_case_milestone_level_3.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!get_case_milestone_level_3.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_target_level_4_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!get_case_milestone_level_4.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!get_case_milestone_level_4.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!get_case_milestone_level_4.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!get_case_milestone_level_4.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_target_total_sla_1_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Total_SLA_1.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Total_SLA_1.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Total_SLA_1.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Total_SLA_1.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_target_total_SLA_Draft</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Total_Target_SLA_when_Draft.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Total_Target_SLA_when_Draft.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Total_Target_SLA_when_Draft.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Total_Target_SLA_when_Draft.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>Tanggal_target_Total_SLA_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Total_SLA.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggal_target_waiting_doc_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!get_Case_Milestone_Waiting_Document.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!get_Case_Milestone_Waiting_Document.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!get_Case_Milestone_Waiting_Document.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!get_Case_Milestone_Waiting_Document.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>tanggaTargetAgentSLAFormula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA_Draft.TargetDate} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA_Draft.TargetDate} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA_Draft.TargetDate} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!Get_Case_Milestone_Uker_or_Agent_OLA_Draft.TargetDate} + (7/24)), 12, 8)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_1_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!sumLevel1} &gt;= 1440,
    TEXT(FLOOR({!sumLevel1} / 1440)) &amp; &quot; hari &quot; &amp;
    TEXT(FLOOR(MOD({!sumLevel1}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
    TEXT(MOD({!sumLevel1}, 60)) &amp; &quot; menit&quot;,
    IF(
        {!sumLevel1} &gt;= 60,
        TEXT(FLOOR({!sumLevel1} / 60)) &amp; &quot; jam &quot; &amp;
        TEXT(MOD({!sumLevel1}, 60)) &amp; &quot; menit&quot;,
        TEXT({!sumLevel1}) &amp; &quot; menit&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_2_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!sumLevel2} &gt;= 1440,
    TEXT(FLOOR({!sumLevel2} / 1440)) &amp; &quot; hari &quot; &amp;
    TEXT(FLOOR(MOD({!sumLevel2}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
    TEXT(MOD({!sumLevel2}, 60)) &amp; &quot; menit&quot;,
    IF(
        {!sumLevel2} &gt;= 60,
        TEXT(FLOOR({!sumLevel2} / 60)) &amp; &quot; jam &quot; &amp;
        TEXT(MOD({!sumLevel2}, 60)) &amp; &quot; menit&quot;,
        TEXT({!sumLevel2}) &amp; &quot; menit&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_3_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!sumLevel3} &gt;= 1440,
    TEXT(FLOOR({!sumLevel3} / 1440)) &amp; &quot; hari &quot; &amp;
    TEXT(FLOOR(MOD({!sumLevel3}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
    TEXT(MOD({!sumLevel3}, 60)) &amp; &quot; menit&quot;,
    IF(
        {!sumLevel3} &gt;= 60,
        TEXT(FLOOR({!sumLevel3} / 60)) &amp; &quot; jam &quot; &amp;
        TEXT(MOD({!sumLevel3}, 60)) &amp; &quot; menit&quot;,
        TEXT({!sumLevel3}) &amp; &quot; menit&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_agentOLA_formula</name>
        <dataType>String</dataType>
        <expression>IF(
{!sumAgentOla} &gt;= 1440,
TEXT(FLOOR({!sumAgentOla} / 1440)) &amp; &quot; hari &quot; &amp;
TEXT(FLOOR(MOD({!sumAgentOla}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
TEXT(MOD({!sumAgentOla}, 60)) &amp; &quot; menit&quot;,
IF(
{!sumAgentOla} &gt;= 60,
TEXT(FLOOR({!sumAgentOla} / 60)) &amp; &quot; jam &quot; &amp;
TEXT(MOD({!sumAgentOla}, 60)) &amp; &quot; menit&quot;,
TEXT({!sumAgentOla}) &amp; &quot; menit&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_all_Level_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!sumWaktuPenyelesaianAllLevel} &gt;= 1440,
    TEXT(FLOOR({!sumWaktuPenyelesaianAllLevel} / 1440)) &amp; &quot; hari &quot; &amp;
    TEXT(FLOOR(MOD({!sumWaktuPenyelesaianAllLevel}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
    TEXT(MOD({!sumWaktuPenyelesaianAllLevel}, 60)) &amp; &quot; menit&quot;,
    IF(
        {!sumWaktuPenyelesaianAllLevel} &gt;= 60,
        TEXT(FLOOR({!sumWaktuPenyelesaianAllLevel} / 60)) &amp; &quot; jam &quot; &amp;
        TEXT(MOD({!sumWaktuPenyelesaianAllLevel}, 60)) &amp; &quot; menit&quot;,
        TEXT({!sumWaktuPenyelesaianAllLevel}) &amp; &quot; menit&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins} &gt;= 1440,
    TEXT(FLOOR({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins} / 1440)) &amp; &quot; hari &quot; &amp;
    TEXT(FLOOR(MOD({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins}, 1440) / 60)) &amp; &quot; jam &quot; &amp;
    TEXT(MOD({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins}, 60)) &amp; &quot; menit&quot;,
    IF(
        {!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins} &gt;= 60,
        TEXT(FLOOR({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins} / 60)) &amp; &quot; jam &quot; &amp;
        TEXT(MOD({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins}, 60)) &amp; &quot; menit&quot;,
        TEXT({!Loop_All_Case_Milestone_not_complete.ElapsedTimeInMins}) &amp; &quot; menit&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>waktu_penyelesaian_WaitingDoc_formula</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 9, 2) &amp; &quot;-&quot; &amp; 
MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 6, 2) &amp; &quot;-&quot; &amp; 
LEFT(TEXT({!$Flow.CurrentDateTime} + (7/24)), 4) &amp; &quot; &quot; &amp;
MID(TEXT({!$Flow.CurrentDateTime} + (7/24)), 12, 8)</expression>
    </formulas>
    <interviewLabel>UpdateMilestoneCompletionDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateMilestoneCompletionDate</label>
    <loops>
        <name>Loop_Agent_OLA_dan_UKER</name>
        <label>Loop Agent OLA dan UKER</label>
        <locationX>3240</locationX>
        <locationY>3371</locationY>
        <collectionReference>Get_Case_Milestone_Uker_or_Agent_OLA_completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_28</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_waiting_document_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Case_Milestone_not_complete</name>
        <label>Loop All Case Milestone not complete</label>
        <locationX>2602</locationX>
        <locationY>1871</locationY>
        <collectionReference>get_case_Milestone_after_update_completionDate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_level_not_complete</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_CaseMilestone_Not_Completed</name>
        <label>Loop CaseMilestone Not Completed</label>
        <locationX>2734</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Case_Milestone_not_completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Milestone_Id_not_completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Complete_All_Open_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Level_1_Complete</name>
        <label>loop Level 1 Complete</label>
        <locationX>3042</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_All_CaseMilestone_Level_1_complete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_level_1_complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Level_1_Not_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Level_2_complete</name>
        <label>loop Level 2 complete</label>
        <locationX>3394</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_All_CaseMilestone_Level_2_complete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_Level_2_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Level_2_Not_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Level_3_Complete</name>
        <label>loop Level 3 Complete</label>
        <locationX>3746</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_All_CaseMilestone_Level_3_complete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_Level_3_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Level_3_Not_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_level_4_complete</name>
        <label>loop level 4 complete</label>
        <locationX>4098</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_All_CaseMilestone_Level_4_Complete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_Level_4_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Level_4_Not_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_All_Milestone_Types</name>
        <label>Loop Over All Milestone Types</label>
        <locationX>3240</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Milestone_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Milestone_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Report_SLA_OLA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sum_Waktu_Penyelesaian_level_1</name>
        <label>Sum Waktu Penyelesaian level 1</label>
        <locationX>3746</locationX>
        <locationY>2111</locationY>
        <collectionReference>Get_All_Case_Milestone_level_1_completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_sum_level_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Report_SLA_OLA_level_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sum_Waktu_Penyelesaian_level_2</name>
        <label>Sum Waktu Penyelesaian level 2</label>
        <locationX>4626</locationX>
        <locationY>1895</locationY>
        <collectionReference>Get_All_Case_Milestone_level_2_completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_level_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Report_SLA_OLA_level_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sum_Waktu_Penyelesaian_level_3</name>
        <label>Sum Waktu Penyelesaian level 3</label>
        <locationX>5506</locationX>
        <locationY>1895</locationY>
        <collectionReference>Get_All_Case_Milestone_Level_3_Completed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sum_level_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Report_SLA_OLA_Level_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_Report_SLA_OLA</name>
        <label>Copy 1 of Copy 1 of Create Report SLA OLA</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>Copy_1_of_get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>$Record.Owner:User.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_Agent_SLA__c</field>
            <value>
                <elementReference>tanggaTargetAgentSLAFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>tanggal_target_total_SLA_Draft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Report_SLA_OLA</name>
        <label>Copy 1 of Create Report SLA OLA</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>Copy_1_of_get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>$Record.Owner:User.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_Agent_SLA__c</field>
            <value>
                <elementReference>tanggaTargetAgentSLAFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>tanggal_target_total_SLA_Draft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Report_SLA_OLA</name>
        <label>Create Report SLA OLA</label>
        <locationX>2679</locationX>
        <locationY>6275</locationY>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_1_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level1_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_1__c</field>
            <value>
                <elementReference>Tanggal_Target_Level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_1__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level1_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Report_SLA_OLA_1</name>
        <label>Create Report SLA OLA 1</label>
        <locationX>3471</locationX>
        <locationY>5867</locationY>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_Milestone_Type_Agent_Ola_Customer_Service</name>
        <label>Copy 1 of get Milestone Type Agent Ola/Customer Service</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Report_SLA_OLA_draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Milestone_Uker_or_Agent_OLA_Draft.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Report_SLA_OLA_Last_updated</name>
        <label>Copy 1 of Get Report SLA OLA Last updated</label>
        <locationX>3339</locationX>
        <locationY>5651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_if_last_report_not_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>return_flag__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_OLA__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Agent_Accept_level_1</name>
        <label>get Agent Accept level 1</label>
        <locationX>3878</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Level_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_1_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Agent_Accept_level_2</name>
        <label>get Agent Accept level 2</label>
        <locationX>4758</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_level_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_2_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Agent_Accept_level_3</name>
        <label>get Agent Accept level 3</label>
        <locationX>5638</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Level_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_3_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Before_enter_level_1</name>
        <label>Get Agent Before enter level 1</label>
        <locationX>2745</locationX>
        <locationY>5327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Baru__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_1_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_level_1_Accept</name>
        <label>Get Agent level 1 Accept</label>
        <locationX>3042</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_CaseMilestone_Level_1_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_1_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_level_2_Accept</name>
        <label>Get Agent level 2 Accept</label>
        <locationX>3394</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_CaseMilestone_Level_2_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_2_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Level_3_Accept</name>
        <label>Get Agent Level 3 Accept</label>
        <locationX>3746</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_CaseMilestone_Level_3_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_3_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Level_4_Accept</name>
        <label>Get Agent Level 4 Accept</label>
        <locationX>4098</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_CaseMilestone_Level_4_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Tiket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SCC_Jenis_Automasi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Owner_Lama__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Report_SLA_OLA.Level_4_Escalation_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SCC_Case_Reporting__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Case_Milestone_level_1_completed</name>
        <label>Get All Case Milestone level 1 completed</label>
        <locationX>3746</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Case_Milestone_level_2_completed</name>
        <label>Get All Case Milestone level 2 completed</label>
        <locationX>4626</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Case_Milestone_Level_3_Completed</name>
        <label>Get All Case Milestone Level 3 Completed</label>
        <locationX>5506</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_Waktu_Penyelesaian_level_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CaseMilestone_Level_1_complete</name>
        <label>Get All CaseMilestone Level 1 complete</label>
        <locationX>3042</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Level_1_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CaseMilestone_Level_2_complete</name>
        <label>Get All CaseMilestone Level 2 complete</label>
        <locationX>3394</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Level_2_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CaseMilestone_Level_3_complete</name>
        <label>Get All CaseMilestone Level 3 complete</label>
        <locationX>3746</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Level_3_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CaseMilestone_Level_4_Complete</name>
        <label>Get All CaseMilestone Level 4 Complete</label>
        <locationX>4098</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_level_4_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level4MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Milestone_Types</name>
        <label>Get All Milestone Types</label>
        <locationX>3240</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_All_Milestone_Types</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case_Milestone_after_update_completionDate</name>
        <label>get case Milestone after update completionDate</label>
        <locationX>2602</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collectionIDCasemilestone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Agent_Ola</name>
        <label>Get Case Milestone Agent Ola / Customer Service</label>
        <locationX>2745</locationX>
        <locationY>5111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Milestone_Type_Agent_Ola_Customer_Service</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Level_1</name>
        <label>Get Case Milestone Level 1</label>
        <locationX>2349</locationX>
        <locationY>5543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Level_1_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1MilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_level_1_completed</name>
        <label>Get Case Milestone level 1 completed</label>
        <locationX>4076</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Milestone_Total_SLA_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_level_2</name>
        <label>Get Case Milestone level 2</label>
        <locationX>3746</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Case_Milestone_level_1_completed</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_level_2_completed</name>
        <label>Get Case Milestone level 2 completed</label>
        <locationX>4956</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CaseMilestone_level_2_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case_milestone_level_3</name>
        <label>get case milestone level 3</label>
        <locationX>4626</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Case_Milestone_level_2_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_level_3_completed</name>
        <label>Get Case Milestone level 3 completed</label>
        <locationX>5836</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CaseMilestone_level_3_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case_milestone_level_4</name>
        <label>get case milestone level 4</label>
        <locationX>5506</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Case_Milestone_Level_3_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level4MilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_not_completed</name>
        <label>Get Case Milestone not completed</label>
        <locationX>2734</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CaseMilestone_Not_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Total_SLA</name>
        <label>Get Case Milestone Total SLA</label>
        <locationX>2745</locationX>
        <locationY>4703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Total_SLA_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>totalSLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Total_SLA_1</name>
        <label>Get Case Milestone Total SLA 1</label>
        <locationX>4076</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_target_total_SLA_dan_Level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>totalSLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Uker_or_Agent_OLA</name>
        <label>Get Case Milestone Uker or Agent OLA</label>
        <locationX>3240</locationX>
        <locationY>3155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Milestone_Uker_or_Agent_OLA_completed</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Uker_or_Agent_OLA_completed</name>
        <label>Get Case Milestone Uker or Agent OLA completed</label>
        <locationX>3240</locationX>
        <locationY>3263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Agent_OLA_dan_UKER</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Milestone_Uker_or_Agent_OLA_Draft</name>
        <label>Get Case Milestone Uker or Agent OLA Draft</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_get_Milestone_Type_Agent_Ola_Customer_Service</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case_Milestone_Waiting_Document</name>
        <label>get Case Milestone Waiting Document</label>
        <locationX>3108</locationX>
        <locationY>3779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_tanggal_target_waiting_doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaitingDocumentMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Milestone_Type_Agent_Ola_Customer_Service</name>
        <label>get Milestone Type Agent Ola/Customer Service</label>
        <locationX>2745</locationX>
        <locationY>5219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_Before_enter_level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Milestone_Agent_Ola.MilestoneTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Report_SLA_OLA</name>
        <label>Get Report SLA OLA</label>
        <locationX>3240</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseMilestoneCompetionDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Report_SLA_OLA_draft</name>
        <label>Get Report SLA OLA draft</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Target_SLA_when_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_OLA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Report_SLA_OLA_Last_updated</name>
        <label>Get Report SLA OLA Last updated</label>
        <locationX>2547</locationX>
        <locationY>6059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_last_report_not_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>return_flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_OLA__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Target_SLA_when_Draft</name>
        <label>Get Total Target SLA when Draft</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OLA_is_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>totalSLAMilestoneId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Agent_OLA_Milestone</name>
        <label>Complete Agent OLA Milestone</label>
        <locationX>3394</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_Uker_or_Agent_OLA</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 5 OR 6 OR 7) AND 4</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agentOLAReturnedMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceMilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerServiceReturnMilestoneTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WaitingDocumentMilestoneId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_All_Open_Milestones</name>
        <label>Complete All Open Milestones</label>
        <locationX>2734</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Check_List_Case_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Level_1_Milestone</name>
        <label>Complete Level 1 Milestone</label>
        <locationX>4076</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_level_1_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level1MilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Level_2_Milestone</name>
        <label>Complete Level 2 Milestone</label>
        <locationX>4956</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_level_2_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level2MilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Level_3_Milestone</name>
        <label>Complete Level 3 Milestone</label>
        <locationX>5836</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_level_3_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>level3MilestoneId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Open_Milestone</name>
        <label>Complete Open Milestone</label>
        <locationX>3130</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Get_Case_Milestone_Uker_or_Agent_OLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletionDate</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>totalSLAMilestoneId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update total SLA</description>
        <name>Copy_1_of_Update_Report_SLA_OLA</name>
        <label>Copy 1 of Update Report SLA OLA</label>
        <locationX>2415</locationX>
        <locationY>6275</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_1_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level1_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_1__c</field>
            <value>
                <elementReference>Tanggal_Target_Level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_1__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level1_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update total SLA</description>
        <name>Copy_1_of_Update_Report_SLA_OLA_1</name>
        <label>Copy 1 of Update Report SLA OLA 1</label>
        <locationX>3207</locationX>
        <locationY>5867</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Level_1_Not_Complete</name>
        <label>Update Level 1 Not Complete</label>
        <locationX>3042</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_1__c</field>
            <value>
                <elementReference>Get_Agent_level_1_Accept.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_1__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_1__c</field>
            <value>
                <elementReference>waktu_penyelesaian_all_Level_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Level_2_Not_Complete</name>
        <label>Update Level 2 Not Complete</label>
        <locationX>3394</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_2__c</field>
            <value>
                <elementReference>Get_Agent_level_2_Accept.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_2__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_2__c</field>
            <value>
                <elementReference>waktu_penyelesaian_all_Level_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Level_3_Not_Complete</name>
        <label>Update Level 3 Not Complete</label>
        <locationX>3746</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_3__c</field>
            <value>
                <elementReference>Get_Agent_Level_3_Accept.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_3__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_3__c</field>
            <value>
                <elementReference>waktu_penyelesaian_all_Level_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Level_4_Not_Complete</name>
        <label>Update Level 4 Not Complete</label>
        <locationX>4098</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_4__c</field>
            <value>
                <elementReference>Get_Agent_Level_4_Accept.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_4__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_4__c</field>
            <value>
                <elementReference>waktu_penyelesaian_all_Level_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Report_for_Complete_Uker_or_Agent_OLA</name>
        <label>Update Report for Complete Uker or Agent OLA</label>
        <locationX>3240</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>Check_status_change_to_escalated_from_waiting_doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Penyelesaian_Agent_OLA__c</field>
            <value>
                <elementReference>waktu_penyelesaian_agentOLA_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_Agent_OLA__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_agentOLA_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_Waiting_Document__c</field>
            <value>
                <elementReference>tanggalTargetWaitingDocVar</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update total SLA</description>
        <name>Update_Report_SLA_OLA</name>
        <label>Update Report SLA OLA</label>
        <locationX>2151</locationX>
        <locationY>6059</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_1_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level1_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_1__c</field>
            <value>
                <elementReference>Tanggal_Target_Level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_1__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level1_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update total SLA</description>
        <name>Update_Report_SLA_OLA_1</name>
        <label>Update Report SLA OLA 1</label>
        <locationX>2943</locationX>
        <locationY>5651</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_SLA_Escalation__c</field>
            <value>
                <elementReference>get_Milestone_Type_Agent_Ola_Customer_Service.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_SLA__c</field>
            <value>
                <elementReference>Get_Agent_Before_enter_level_1.SCC_Owner_Lama__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>Tanggal_Total_Target_SLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target_Penyelesaian_SLA__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Total_SLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Report_SLA_OLA_Draft</name>
        <label>Update Report SLA OLA Draft</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type_Ticket__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Report_SLA_OLA_level_1_Completed</name>
        <label>update Report SLA OLA level 1 Completed</label>
        <locationX>4010</locationX>
        <locationY>1895</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_1__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_1.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_1__c</field>
            <value>
                <elementReference>Tanggal_penyelesaian_level_1_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_1__c</field>
            <value>
                <elementReference>TargetLevel1Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>TotalSLAVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_1__c</field>
            <value>
                <elementReference>Get_Case_Milestone_level_1_completed.ElapsedTimeInMins</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Report_SLA_OLA_level_2</name>
        <label>Update Report SLA OLA level 2</label>
        <locationX>3746</locationX>
        <locationY>2411</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_1__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_1.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_2_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level2_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_1__c</field>
            <value>
                <elementReference>Tanggal_penyelesaian_level_1_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_1__c</field>
            <value>
                <elementReference>TargetLevel1Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_2__c</field>
            <value>
                <elementReference>tanggal_target_level_2_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Target_SLA__c</field>
            <value>
                <elementReference>TotalSLAVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_2__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level2_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_1__c</field>
            <value>
                <elementReference>waktu_penyelesaian_1_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Report_SLA_OLA_level_2_completed</name>
        <label>update Report SLA OLA level 2 completed</label>
        <locationX>4890</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_2__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_2.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_2__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_level_2_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_2__c</field>
            <value>
                <elementReference>Get_Case_Milestone_level_2_completed.ElapsedTimeInMins</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Report_SLA_OLA_level_3</name>
        <label>update Report SLA OLA level 3</label>
        <locationX>4626</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_2__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_2.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_3_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level3_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_2__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_level_2_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_3__c</field>
            <value>
                <elementReference>tanggal_target_level_3_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_3__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level3_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_2__c</field>
            <value>
                <elementReference>waktu_penyelesaian_2_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Report_SLA_OLA_level_3_Completed</name>
        <label>Update Report SLA OLA level 3 Completed</label>
        <locationX>5770</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_3__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_3.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_3__c</field>
            <value>
                <elementReference>Tanggal_Penyelesaian_level_3_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_3__c</field>
            <value>
                <elementReference>Get_Case_Milestone_level_3_completed.ElapsedTimeInMins</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Report_SLA_OLA_Level_4</name>
        <label>Update Report SLA OLA Level 4</label>
        <locationX>5506</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agent_Level_3__c</field>
            <value>
                <elementReference>get_Agent_Accept_level_3.SCC_Owner_Baru__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_4_Escalation_Team__c</field>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.SCC_Level4_Escalation_team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_3__c</field>
            <value>
                <elementReference>Tanggal_Penyelesaian_level_3_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Target_4__c</field>
            <value>
                <elementReference>Tanggal_target_level_4_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Penyelesaian_4__c</field>
            <value>
                <stringValue>{!$Record.SCC_Call_Type__r.SCC_Level4_OLA__c} Hari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waktu_Penyelesaian_3__c</field>
            <value>
                <elementReference>waktu_penyelesaian_3_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tanggal_Penyelesaian_Waiting_Document</name>
        <label>Update Tanggal Penyelesaian Waiting Document</label>
        <locationX>3108</locationX>
        <locationY>4403</locationY>
        <connector>
            <targetReference>Check_Total_SLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tanggal_Penyelesaian_Waiting_Document__c</field>
            <value>
                <elementReference>tanggalPenyelesaianWaitingDocVar</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_SLA_Not_Complete</name>
        <label>Update Total SLA Not Complete</label>
        <locationX>2690</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Loop_All_Case_Milestone_not_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Ticket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Call_Type__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanggal_Total_Penyelesaian_SLA__c</field>
            <value>
                <elementReference>tanggal_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Target__c</field>
            <value>
                <elementReference>waktu_penyelesaian_formula</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_OLA__c</object>
    </recordUpdates>
    <start>
        <locationX>3114</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Milestone_Types</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SCC_Sub_Escalation_Level__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SCC_Call_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>150</triggerOrder>
    <variables>
        <name>agentOLAMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agentOLAReturnedMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionIDCasemilestone</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerServiceMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerServiceReturnMilestoneTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level1MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level2MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level3MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>level4MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumAgentOla</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumLevel1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumLevel2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumLevel3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumWaktuPenyelesaianAllLevel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Tanggal_Target_Level_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tanggal_Total_Target_SLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tanggalPenyelesaianWaitingDocVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tanggalTargetWaitingDocVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetLevel1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalSLAMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalSLAVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaitingDocumentMilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
