force-app/main/default/flows/SCC_Data_admins_cant_delete_case_type_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Cant_delete_case_type_record</name>
        <label>Cant delete case type record</label>
        <locationX>452</locationX>
        <locationY>443</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Data_admins_cant_delete_case_type_record}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Running_Record</name>
        <label>Running Record</label>
        <locationX>771</locationX>
        <locationY>442</locationY>
        <customErrorMessages>
            <errorMessage>Cannot Delete Case Type that is used in Ticket</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_user_is_data_administrator</name>
        <label>If user is data administrator</label>
        <locationX>572</locationX>
        <locationY>451</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RunningCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRunning.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Running_Record</targetReference>
            </connector>
            <label>RunningCase</label>
        </rules>
        <rules>
            <name>To_check_if_user_is_data_administraor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Data_Administrator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cant_delete_case_type_record</targetReference>
            </connector>
            <label>To check if user is data administraor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Data_admins_cant_delete_case_type_record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data_admins_cant_delete_case_type_record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseOfCaseType</name>
        <label>GetCaseOfCaseType</label>
        <locationX>576</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_user_is_data_administrator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Call_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRunning</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCaseOfCaseType</targetReference>
        </connector>
        <object>SSC_Call_Type__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRunning</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
