force-app/main/default/flows/Sch_Set_Lead_More_Than_30_Days_to_Canceled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Lead_Status</name>
        <label>Set Lead Status</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Leads_To_be_Canceled.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Leads_To_be_Canceled.Is_Canceled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_All_Leads_To_be_Canceled.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled due to more than SLA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lead_To_Be_Canceled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_To_Be_Canceled</name>
        <label>Set Lead To Be Canceled</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Leads_To_Be_Canceled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Leads_To_be_Canceled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Leads_To_be_Canceled</targetReference>
        </connector>
    </assignments>
    <description>28 July 2025
1. Change from 30 days to 14 days</description>
    <environments>Default</environments>
    <formulas>
        <name>Date_14Days_Ago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 14</expression>
    </formulas>
    <interviewLabel>[] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sch] Set Lead More Than 30 Days to Canceled</label>
    <loops>
        <name>Loop_All_Leads_To_be_Canceled</name>
        <label>Loop All Leads To be Canceled</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Leads_Created_14_Days_Ago</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Lead_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_to_Be_Canceled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leads_Created_14_Days_Ago</name>
        <label>Get Leads Created 14 Days Ago</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Leads_To_be_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Date_14Days_Ago</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Convert</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_to_Be_Canceled</name>
        <label>Update Lead to Be Canceled</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>Leads_To_Be_Canceled</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads_Created_14_Days_Ago</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Leads_To_Be_Canceled</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
