force-app/main/default/flows/Scr_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_varR_LoggedUser1</name>
        <label>set varR_LoggedUser</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_LoggedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cur_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_Branch_ID_By_NIK</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cek_IsDebug</name>
        <label>cek IsDebug</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Cek_Session_Get_LoggedUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_IsDebug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cur_User.Is_Debug_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Session_Classic</targetReference>
            </connector>
            <label>Yes IsDebug</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_LoggedUser</name>
        <label>Cek LoggedUser</label>
        <locationX>204</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Login_Save_Session_to_LoggedUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tidak</defaultConnectorLabel>
        <rules>
            <name>Ada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_LoggedUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frmInfo</targetReference>
            </connector>
            <label>Ada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dapat_SessionId</name>
        <label>Dapat SessionId?</label>
        <locationX>413</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Login Mobile</defaultConnectorLabel>
        <rules>
            <name>Dapat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varS_SessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cek_LoggedUser</targetReference>
            </connector>
            <label>Dapat</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBRO</name>
        <label>IsBRO ?</label>
        <locationX>649</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>cur_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bukan BRO</defaultConnectorLabel>
        <rules>
            <name>BRO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cek_IsDebug</targetReference>
            </connector>
            <label>Role : BRO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Login_as_diff_User</name>
        <label>Login as diff User?</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Branch_ID_By_NIK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same User</defaultConnectorLabel>
        <rules>
            <name>Diff_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cboDiffUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Login_Save_Session_to_LoggedUser</targetReference>
            </connector>
            <label>Diff User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_TblHeader</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;1&quot;&gt;&lt;th&gt;Cur&lt;/th&gt;&lt;th&gt;SessionId&lt;/th&gt;&lt;th&gt;ParentId&lt;/th&gt;&lt;th&gt;Login Type&lt;/th&gt;&lt;th&gt;User ID&lt;/th&gt;&lt;th&gt;Session Type&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>[Scr] Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>cur_User</name>
        <label>cur User</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_varR_LoggedUser1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>frmInfo</name>
        <label>frmInfo</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Login_as_diff_User</targetReference>
        </connector>
        <fields>
            <name>lblInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: verdana;&quot;&gt;This machine already logged as ..&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;User Logged :&lt;/strong&gt;{!varR_LoggedUser.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;SessionId :&lt;/strong&gt;&lt;strong&gt;  &lt;/strong&gt;{!varS_SessionId}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cboDiffUser</name>
            <dataType>Boolean</dataType>
            <fieldText>Login as different user ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmSyncBranch</name>
        <label>frmSyncBranch</label>
        <locationX>649</locationX>
        <locationY>1484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblLogin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Checking Branch to Employee Services :&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 155, 0);&quot;&gt;User&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt; : &lt;/strong&gt;{!varR_LoggedUser.Name}&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 155, 0);&quot;&gt;BranchId&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt; :&lt;/strong&gt;&lt;strong&gt;  &lt;/strong&gt;{!varS_BranchId}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Login</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>523</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsBRO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cek_Session_Get_LoggedUser</name>
        <label>Cek Session &amp; Get LoggedUser</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Dapat_SessionId</targetReference>
        </connector>
        <flowName>Gen_Get_LoggedUser_from_Session</flowName>
        <inputAssignments>
            <name>varS_UserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_LoggedUser</assignToReference>
            <name>VarR_LoggedUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varS_SessionId</assignToReference>
            <name>varS_SessionId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Debug_Session_Classic</name>
        <label>Debug Session - Classic</label>
        <locationX>281</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Dapat_SessionId</targetReference>
        </connector>
        <flowName>Gen_Debug_Session_Classic</flowName>
        <inputAssignments>
            <name>varS_UserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_LoggedUser</assignToReference>
            <name>varR_LoggedUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varS_SessionId</assignToReference>
            <name>varS_SessionId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Employee_Branch_ID_By_NIK</name>
        <label>Get Employee Branch ID By NIK</label>
        <locationX>649</locationX>
        <locationY>1376</locationY>
        <connector>
            <targetReference>frmSyncBranch</targetReference>
        </connector>
        <flowName>Get_Employee_Branch_ID_By_NIK</flowName>
        <outputAssignments>
            <assignToReference>varS_BranchId</assignToReference>
            <name>BranchId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Login_Save_Session_to_LoggedUser</name>
        <label>Login &amp; Save Session to LoggedUser</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>cek_IsDebug</targetReference>
        </connector>
        <flowName>Scr_Login_Screen</flowName>
        <inputAssignments>
            <name>varS_SessionId</name>
            <value>
                <elementReference>varS_SessionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varB_IsDebug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_LoggedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varS_BranchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_TblBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
