force-app/main/default/flows/Scr_Approval_Info_Replacement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_ParentId</name>
        <label>Set ParentId</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PIS.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurOpty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CA_Area</name>
        <choiceText>CA Area</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA Area</stringValue>
        </value>
    </choices>
    <choices>
        <name>CA_Cabang_itm</name>
        <choiceText>CA Cabang</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA Cabang</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAO_itm</name>
        <choiceText>LAO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SPV_AO_itm</name>
        <choiceText>SPV AO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spv AO</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cek_recordId</name>
        <label>Cek recordId</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Ada_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PIS</targetReference>
            </connector>
            <label>Ada recordId</label>
        </rules>
        <rules>
            <name>Ada_parentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurOpty</targetReference>
            </connector>
            <label>Ada parentId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opty_Or_OtherObject</name>
        <label>Is Opty Or OtherObject</label>
        <locationX>270</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Opty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurOpty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurSurvey</targetReference>
            </connector>
            <label>Opty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.DeveloperName}</expression>
    </formulas>
    <interviewLabel>[Scr] Approval Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Approval Info Replacement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CurOpty</name>
        <label>CurOpty</label>
        <locationX>270</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opty_Or_OtherObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CurSurvey</name>
        <label>CurSurvey</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PIS</name>
        <label>Get PIS</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ParentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Loan_Info</name>
        <label>Loan Info</label>
        <locationX>138</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Approval_Details</name>
            <fieldText>Approval Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Asset_Name</name>
                    <fieldText>&lt;p&gt;{!slds_border_bottom}&lt;/p&gt;&lt;p&gt;{!slds_label}&lt;/p&gt;&lt;p&gt;Asset Name :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!txtS_Link}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Notes1</name>
                    <fieldText>&lt;p&gt;{!slds_border_bottom}&lt;/p&gt;&lt;p&gt;{!slds_label}&lt;/p&gt;&lt;p&gt;Spv AO :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!CurOpty.SPV_Notes2__c}{!nbsp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Notes3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!slds_border_bottom}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!slds_label}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;CA Cabang :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!CurOpty.CA_Notes2__c}{!nbsp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Loan_Owner</name>
                    <fieldText>&lt;p&gt;{!slds_border_bottom}&lt;/p&gt;&lt;p&gt;{!slds_label}&lt;/p&gt;&lt;p&gt;Loan Owner :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!CurOpty.Input_By__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Notes2</name>
                    <fieldText>&lt;p&gt;{!slds_border_bottom}&lt;/p&gt;&lt;p&gt;{!slds_label}&lt;/p&gt;&lt;p&gt;LAO :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!CurOpty.LAO_Notes2__c}{!nbsp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Notes4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!slds_border_bottom}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!slds_label}&lt;/p&gt;&lt;p&gt;BM :&lt;/p&gt;&lt;p&gt;{!slds_field}&lt;/p&gt;&lt;p&gt;{!CurOpty.BM_Notes2__c}{!nbsp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cek_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>nbsp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&amp;nbsp;</text>
    </textTemplates>
    <textTemplates>
        <name>slds_border_bottom</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-border_bottom&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>slds_field</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-text-body_regular&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>slds_label</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-form-element__label&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtS_Link</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/{!CurSurvey.Id}/view&quot; target=&quot;_self&quot;&gt;{!CurOpty.Name}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_UserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
