force-app/main/default/flows/Scr_Account_BFI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cek_LoggedUser</name>
        <label>Cek LoggedUser</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ReLogin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tidak</defaultConnectorLabel>
        <rules>
            <name>Ada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_LoggedUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccoByUser</targetReference>
            </connector>
            <label>Ada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>btnS_Calculator</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_self&quot; href=&quot;/lightning/action/quick/Account.Pop_Calculator?objectApiName&amp;context=RECORD_DETAIL&amp;recordId=001MR000006ulqPYAQ&amp;backgroundContext=%2Flightning%2Fn%2FLead_PBF&quot; &gt; Calculator &lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>funcB_IsDebugUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Is_Debug_User__c}</expression>
    </formulas>
    <interviewLabel>[Scr] Account BFI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Account BFI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccoByUser</name>
        <label>AccoByUser</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>frmWarning</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Federated_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_LoggedUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>frmWarning</name>
        <label>frmWarning</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_lblWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead</name>
        <label>Acco</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReLogin</targetReference>
        </connector>
        <fields>
            <name>Lead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lnkNewLead</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!btnS_NewLead}{!btnS_Calculator}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Lead_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lblInfo_User</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 255);&quot;&gt;User&lt;/strong&gt;&lt;strong&gt; :&lt;/strong&gt; {!varR_LoggedUser.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblInfo_Session</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Session Id : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varS_SessionId}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>funcB_IsDebugUser</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>tblListView</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Lead_ID__c&quot;,&quot;guid&quot;:&quot;column-544a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Lead ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Link__c&quot;,&quot;guid&quot;:&quot;column-8046&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;First_Loan_Product_Type__c&quot;,&quot;guid&quot;:&quot;column-5476&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;First_Loan_NTF_Pengajuan__c&quot;,&quot;guid&quot;:&quot;column-a21e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;NTF Pengajuan&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;First_Loan_Activity__c&quot;,&quot;guid&quot;:&quot;column-a87b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Activity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;First_Loan_Referral_Name__c&quot;,&quot;guid&quot;:&quot;column-c41b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Referral Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Input_By__c&quot;,&quot;guid&quot;:&quot;column-119c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Input By&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-8c7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-0697&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AccoByUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Login As Different User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Debug_Session</name>
        <label>Debug Session</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_LoggedUser_from_Session</targetReference>
        </connector>
        <flowName>Gen_Debug_Session_Lightning</flowName>
    </subflows>
    <subflows>
        <name>Get_LoggedUser_from_Session</name>
        <label>Get LoggedUser from Session</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Cek_LoggedUser</targetReference>
        </connector>
        <flowName>Gen_Get_LoggedUser_from_Session</flowName>
        <outputAssignments>
            <assignToReference>varR_LoggedUser</assignToReference>
            <name>VarR_LoggedUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varS_SessionId</assignToReference>
            <name>varS_SessionId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ReLogin</name>
        <label>Login / ReLogin</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_LoggedUser_from_Session</targetReference>
        </connector>
        <flowName>Scr_Login_Screen</flowName>
        <inputAssignments>
            <name>varS_SessionId</name>
            <value>
                <elementReference>varS_SessionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>btnS_NewLead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_top&quot; href=&quot;/lightning/o/Account/new?count=1&amp;nooverride=1&amp;useRecordTypeCheck=1&amp;navigationLocation=LIST_VIEW&amp;backgroundContext=%2Flightning%2Fn%2FLead_PBF&quot; target=&quot;_self&quot;&gt; New Lead &lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>varR_LoggedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varS_SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
