force-app/main/default/flows/Scr_Add_NST_by_LTV_DSR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>cek_Error</name>
        <label>cek Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>frm_NST_Clean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aman</defaultConnectorLabel>
        <rules>
            <name>Ada_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gen_Add_NST_by_LTV_DSR.Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frm_NST_Error</targetReference>
            </connector>
            <label>Ada Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Scr] Add NST by LTV &amp; DSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Add NST by LTV &amp; DSR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>frm_NST_Clean</name>
        <label>NST Clean</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frm_NST_Error</name>
        <label>NST Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>&lt;p&gt;{!$Label.slds_warning}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Warning! &lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Gen_Add_NST_by_LTV_DSR.Error}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gen_Add_NST_by_LTV_DSR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gen_Add_NST_by_LTV_DSR</name>
        <label>[Gen] Add NST by LTV &amp; DSR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cek_Error</targetReference>
        </connector>
        <flowName>Gen_Add_NST_by_LTV_DSR</flowName>
        <inputAssignments>
            <name>recordId_Application</name>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
