force-app/main/default/flows/Scr_Return_to_Input_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unlock_App</name>
        <label>Unlock App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>Lock_App_for_Initatior</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>frmError_Unlock</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedId</name>
            <value>
                <elementReference>get_Loan.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Loan</name>
        <label>Unlock Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>Unlock_Survey</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>frmError_Unlock</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId_Loan</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedId</name>
            <value>
                <elementReference>get_Loan.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Ops</name>
        <label>Unlock Ops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>upd_Survey</targetReference>
        </connector>
        <faultConnector>
            <targetReference>frmError_Unlock</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId_Operation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedId</name>
            <value>
                <elementReference>get_Loan.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Survey</name>
        <label>Unlock Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>Unlock_App</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>frmError_Unlock</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedId</name>
            <value>
                <elementReference>get_Loan.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_RecipientId</name>
        <label>add RecipientId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Survey.Lead__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cek_Owner_Is_Spv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_RecipientId2</name>
        <label>add RecipientId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_recipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SPV_AO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_LeadOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_recordId_Application</name>
        <label>set recordId_Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId_Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Ops.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cek_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_recordId_Loan</name>
        <label>set recordId_Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId_Loan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_App.Loan_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_recordId_Loan2</name>
        <label>set recordId_Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId_Loan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Ops.Loan_Information__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Loan2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_the_Loan</name>
        <label>set the_Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>the_Loan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_recordId_Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_the_Loan2</name>
        <label>set the_Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>the_Loan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_recordId_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>upd_Loan_Status</name>
        <label>upd Loan Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_Loan.Loan_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey (Data Correction)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>upd_Survey</name>
        <label>upd Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_Survey.Return_Initiator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Survey.Return_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Survey.Return_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtReturnReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Survey.Return_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Structural</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Survey.Button_Selanjutnya_Is_Clicked__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Survey.IsAgreementReseted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Latest_Loan_Status_Before_Return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Latest_Loan_Status_Before_Return</name>
        <label>update Latest Loan Status Before Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>get_Loan.Latest_Loan_Status_Before_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Loan.Loan_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd_Loan_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>cek_AKAD</name>
        <label>cek AKAD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Before AKAD</defaultConnectorLabel>
        <rules>
            <name>After_AKAD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Loan.Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AKAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Loan.Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frmError_AKAD</targetReference>
            </connector>
            <label>After AKAD</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_App</name>
        <label>cek App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>frmError_Akses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kosong</defaultConnectorLabel>
        <rules>
            <name>ada_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_App</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_App.Loan_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_URA</targetReference>
            </connector>
            <label>ada App</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_App2</name>
        <label>cek App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>frmError_Akses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kosong</defaultConnectorLabel>
        <rules>
            <name>ada_App2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_App2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_App2.Loan_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_URA2</targetReference>
            </connector>
            <label>ada App</label>
        </rules>
    </decisions>
    <decisions>
        <description>[Scr] Return to Input Survey</description>
        <name>Cek_Is_Lead_Owner</name>
        <label>Cek Is Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Agreement_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Lead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Loan.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frmError</targetReference>
            </connector>
            <label>Yes, Lead Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_Ops</name>
        <label>cek Ops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>upd_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Belum Ada</defaultConnectorLabel>
        <rules>
            <name>ada_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId_Operation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Ops</targetReference>
            </connector>
            <label>ada Ops</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_Owner_Is_Spv</name>
        <label>cek Owner Is Spv</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>add_RecipientId2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Is_Spv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Survey.Lead__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_SPV_AO.varS_theUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_LeadOwner</targetReference>
            </connector>
            <label>Yes, Owner Is Spv</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_recordId</name>
        <label>cek recordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>on_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_App</targetReference>
            </connector>
            <label>on Application</label>
        </rules>
        <rules>
            <name>on_Operation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId_Operation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Ops</targetReference>
            </connector>
            <label>on Operation</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_URA</name>
        <label>cek URA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>frmError_Akses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>URA_edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_EditAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cek_AKAD</targetReference>
            </connector>
            <label>URA edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_URA2</name>
        <label>cek URA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>frmError_Akses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>URA_edit2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_EditAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPV_AO</targetReference>
            </connector>
            <label>URA edit</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tidak bisa return jika sudah ada agreement number</description>
        <name>Check_Agreement_Number</name>
        <label>Check Agreement Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>cek_App2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ada_agreement_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_App2.agreement_number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_frmError</targetReference>
            </connector>
            <label>Ada agreement number</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tidak bisa return jika sudah ada agreement number</description>
        <name>Copy_1_of_Check_Agreement_Number</name>
        <label>Copy 1 of Check Agreement Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>frmReturn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Ada_agreement_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_App.agreement_number__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_frmError</targetReference>
            </connector>
            <label>Copy 1 of Ada agreement number</label>
        </rules>
    </decisions>
    <description>Perbaikan Locking</description>
    <environments>Default</environments>
    <interviewLabel>[Scr] Return to Input Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Return to Input Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Lock_App_for_Initatior</name>
        <label>Lock App for Initatior</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cek_Ops</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Loan</name>
        <label>Share Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_RecipientId</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>get_Loan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_App</name>
        <label>get App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_recordId_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_App2</name>
        <label>get App</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Agreement_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan_Information__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead</name>
        <label>get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Is_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Loan.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Loan</name>
        <label>get Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_the_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Loan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Loan2</name>
        <label>get Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_the_Loan2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Loan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Ops</name>
        <label>get Ops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_recordId_Loan2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Operation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Survey</name>
        <label>get Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unlock_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Loan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_URA</name>
        <label>Get URA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_URA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>record_EditAccess</assignToReference>
            <field>HasEditAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId_Application</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_URA2</name>
        <label>Get URA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_URA2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>record_EditAccess</assignToReference>
            <field>HasEditAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId_Application</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>set_recordId_Operation</name>
        <label>set recordId_Operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cek_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Application</elementReference>
            </value>
        </filters>
        <object>Operation__c</object>
        <outputAssignments>
            <assignToReference>recordId_Operation</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>save_Loan</name>
        <label>save Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Share_Loan</targetReference>
        </connector>
        <inputReference>get_Loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>save_Survey</name>
        <label>save Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>save_Loan</targetReference>
        </connector>
        <inputReference>get_Survey</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_frmError</name>
        <label>Copy 1 of frmError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_lblError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Anda tidak bisa menginisiasi process return karena sudah ada nomor agreement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmError</name>
        <label>frmError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Anda adalah Owner dari Lead ini.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Anda tidak bisa menginisiasi process return pada Lead anda sendiri.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmError_AKAD</name>
        <label>frmError_AKAD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_lblError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Anda tidak bisa menginisiasi process return, karena proses sudah AKAD&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmError_Akses</name>
        <label>frmError_Akses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_lblError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Anda tidak bisa menginisiasi process return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmError_Unlock</name>
        <label>frmError Unlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_lblError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmReturn</name>
        <label>frmReturn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_App2</targetReference>
        </connector>
        <fields>
            <name>txtReturnReason</name>
            <fieldText>Return Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lblInitiator</name>
            <fieldText>&lt;p&gt;{!$Label.slds_border_bottom}{!$Label.slds_label}&lt;/p&gt;&lt;p&gt;Return Initiator&lt;/p&gt;&lt;p&gt;{!$Label.slds_field}&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cek_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_SPV_AO</name>
        <label>Get SPV AO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Survey</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T3528</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <elementReference>the_Loan.BranchId_formula__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Notify_LeadOwner</name>
        <label>Notify LeadOwner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>tplS_BodyNotif</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Return To Input Survey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_recipientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tplS_BodyNotif</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Aplikasi Anda dengan No Aplikasi [{!get_App.Application_ID__c}] dan nama Debitur [{!get_Lead.Name}] dikembalikan untuk di revisi. Returned to Input Survey on [{!get_Survey.Return_Time__c}] by [{!get_Survey.Return_Initiator__r.FirstName} {!get_Survey.Return_Initiator__r.LastName}]</text>
    </textTemplates>
    <variables>
        <name>record_EditAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Lead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Loan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId_Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>the_Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varC_recipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
