force-app/main/default/flows/Scr_Proses_Survey_Selanjutnya.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Golive</name>
        <label>Is Golive?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>frmKosong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Golive</defaultConnectorLabel>
        <rules>
            <name>Not_Golive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey.Loan_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Golive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Selanjutnya</targetReference>
            </connector>
            <label>Not Golive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_LinkSelanjutnya</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_top&quot; href=&quot;/lightning/action/quick/Survey__c.Submit_Komite_Survey_CAA?objectApiName&amp;context=RECORD_DETAIL&amp;recordId=&apos; &amp;CASESAFEID({!recordId})&amp; &apos;&amp;backgroundContext=%2Flightning%2Fr%2FSurvey__c%2F&apos; &amp;CASESAFEID({!recordId})&amp; &apos;%2Fview&quot;&gt;Selanjutnya&lt;/a&gt;&apos;</expression>
    </formulas>
    <interviewLabel>[Scr] Proses Survey Selanjutnya {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Proses Survey Selanjutnya</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Survey</name>
        <label>Get Survey</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Golive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Flagging_Button_Selanjutnya</name>
        <label>Flagging Button Selanjutnya</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Button_Selanjutnya_Is_Clicked__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <screens>
        <name>frmKosong</name>
        <label>frmKosong</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Selanjutnya</name>
        <label>scr_Selanjutnya</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flagging_Button_Selanjutnya</targetReference>
        </connector>
        <fields>
            <name>Selanjutnya</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;{!funcS_LinkSelanjutnya}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
