force-app/main/default/flows/Scr_Request_Legal_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_Set_Documents</name>
        <label>Set Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Document</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_rpt_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Empty</name>
        <label>Set Document Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Document</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_Documents</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>is_document_empty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_rpt_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Empty2</name>
        <label>Set Document Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>is_document_empty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_file_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Group</name>
        <label>Set Document Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Document.Document_Group__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Application.LO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Documents</name>
        <label>Set Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Document</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.DMS_Doc_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_rpt_Document.upload_Document.documentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.DMS_Document_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_rpt_Document.upload_Document.documentUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Document.Document_Filename__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_rpt_Document.upload_Document.fileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_rpt_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient</name>
        <label>Set Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_RecipientIdsLAO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_LAO_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_RecipientIdsAO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Application.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notif_to_LAO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_theLAO_Id</name>
        <label>Set theLAO_Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_theLAO_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LAO.varS_theUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LAO_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_theLAO_Id2</name>
        <label>Set theLAO_Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_theLAO_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Delegated_LAO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_LAO_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cek_Delegated_LAO</name>
        <label>Cek Delegated LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_LAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Ada_Delegated_LAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.Delegated_LAO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_theLAO_Id2</targetReference>
            </connector>
            <label>Ada Delegated LAO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document</name>
        <label>Check Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>new_file_uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>belum_upload_ke_DMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_rpt_Document.upload_Document.documentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Document.DMS_Doc_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Empty2</targetReference>
            </connector>
            <label>belum upload ke DMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Document_Empty</name>
        <label>Check Document Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Legal_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_document_empty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LAO_Error</name>
        <label>Check LAO Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_LAO_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LAO.Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Legal_Document</name>
        <label>Check Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Legal_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Legal_Document</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Is_Request_Legal_Document</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Semua_Document_Sesuai</name>
        <label>Check Semua Document Sesuai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_LD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LD_Document_Check_Sesuai</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_file_uploaded</name>
        <label>new file uploaded ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep existing file</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_rpt_Document.upload_Document.documentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_NotifBodyAO</name>
        <dataType>String</dataType>
        <expression>&apos;Permintaan Legal Document untuk Application ID (&apos; &amp; {!Get_Application.Application_ID__c} &amp; &apos; - &apos; &amp; {!Get_Application.Name} &amp; &apos;) telah dikirimkan ke (&apos; &amp; {!Get_LAO_User.FirstName} &amp; &apos; &apos; &amp; {!Get_LAO_User.LastName} &amp; &apos;).&apos;</expression>
    </formulas>
    <formulas>
        <name>funcS_NotifBodyLAO</name>
        <dataType>String</dataType>
        <expression>&apos;Mohon lakukan Proses Legal Document untuk Application ID (&apos; &amp; {!Get_Application.Application_ID__c} &amp; &apos; - &apos; &amp; {!Get_Application.Name} &amp; &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>[Scr] Request Legal Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Request Legal Document</label>
    <loops>
        <name>Loop_rpt_Document</name>
        <label>Loop rpt Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rpt_Documents.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Legal_Document</name>
        <label>Create Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Legal_Document_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varS_theLAO_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>application_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Legal_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Delegated_LAO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Document_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_rpt_Document.UniqueField__Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_LD</name>
        <label>Get Document LD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Semua_Document_Sesuai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Group__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>Application.LO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Document_Check_Sesuai__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Legal_Document</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Group__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Application.LO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_BFI__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAO_User</name>
        <label>Get LAO User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_LD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varS_theLAO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Document</name>
        <label>Get Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Legal_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>application_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legal_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document</name>
        <label>Update Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Document_Empty</targetReference>
        </connector>
        <inputReference>varC_Documents</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Is_Request_Legal_Document</name>
        <label>Update Is Request Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Request_Legal_Document__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LD_Document_Check_Sesuai</name>
        <label>Update LD Document Check Sesuai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Legal_Document__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Legal_Document_Checklist_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Legal_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_Document_Id</name>
        <label>Update Legal Document Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Is_Request_Legal_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Document__c</field>
            <value>
                <elementReference>Create_Legal_Document</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Request_Legal_Document</name>
        <label>Request Legal Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Empty</targetReference>
        </connector>
        <fields>
            <name>rpt_Documents</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>upload_Document</name>
                <extensionName>c:fileUploadToken</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>allowedFileTypes</name>
                    <value>
                        <stringValue>.docx,.pdf,.jpeg,.jpg,.png,.xlsx</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>title</name>
                    <value>
                        <elementReference>varC_LDDocuments[$EachItem].Name</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>documentType</name>
                    <value>
                        <elementReference>varC_LDDocuments[$EachItem].Document_Type_Lookup__r.type__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>fileName</name>
                    <value>
                        <elementReference>varC_LDDocuments[$EachItem].Document_Filename__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>refId</name>
                    <value>
                        <elementReference>varC_LDDocuments[$EachItem].Reference_ID__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>IdType</name>
                    <value>
                        <stringValue>application</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>dpl_PreviousFile</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Previous File&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!varC_LDDocuments[$EachItem].Preview__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>dpl_ErrorMessage</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Silakan upload dokumen terlebih dahulu.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Loop_rpt_Document.upload_Document.documentId</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                    <conditions>
                        <leftValueReference>varC_LDDocuments[$EachItem].DMS_Doc_Id__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>varC_LDDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Error</name>
        <label>scr_Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dpl_Error</name>
            <fieldText>&lt;p&gt;{!Get_LAO.Error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Information</name>
        <label>scr_Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Document_LD</targetReference>
        </connector>
        <fields>
            <name>dpl_Info</name>
            <fieldText>&lt;p&gt;Document has been submitted to LAO ({!Get_LAO_User.FirstName} {!Get_LAO_User.LastName})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_LD</name>
        <label>Generate LD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
        <flowName>Gen_Generate_Legal_Document_Checklist</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varC_LDDocuments</assignToReference>
            <name>varC_Documents</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_LAO</name>
        <label>Get LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_theLAO_Id</targetReference>
        </connector>
        <flowName>Gen_Get_Employee_By_Job_And_Worklocation</flowName>
        <inputAssignments>
            <name>JobTitleCode</name>
            <value>
                <stringValue>T2441</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoleOnAreaGroup</name>
            <value>
                <stringValue>LAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkLocationCode</name>
            <value>
                <elementReference>Get_Application.BranchId_formula__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Notif_to_LAO</name>
        <label>Send Notif to LAO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sent_Notif_to_AO</targetReference>
        </connector>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>funcS_NotifBodyLAO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Request Legal Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_RecipientIdsLAO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sent_Notif_to_AO</name>
        <label>Sent Notif to AO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>funcS_NotifBodyAO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Request Legal Document Terkirim</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>varC_RecipientIdsAO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>is_document_empty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_BFI__c</objectType>
    </variables>
    <variables>
        <name>varC_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_BFI__c</objectType>
    </variables>
    <variables>
        <name>varC_LDDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_BFI__c</objectType>
    </variables>
    <variables>
        <name>varC_RecipientIdsAO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_RecipientIdsLAO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_theLAO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
