force-app/main/default/flows/Scr_Customer_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Consent_Progress</name>
        <label>Check Consent Progress</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_frmCustomerConsent_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Melewati Batas Waktu</defaultConnectorLabel>
        <rules>
            <name>Tidak_Setuju_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_Account.Customer_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tidak Setuju</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_frmCustomerConsent_1</targetReference>
            </connector>
            <label>Tidak Setuju &amp; Canceled</label>
        </rules>
        <rules>
            <name>Sent_Under_10_Minutes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_Account.Lead_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Is_Last_Consent_More_Than_10_Minutes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Customer_Consent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Setuju</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>frmCustomerConsent_1</targetReference>
            </connector>
            <label>Sent Under 10 Minutes</label>
        </rules>
        <rules>
            <name>Sent_More_Than_10_Minutes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_Account.Lead_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Is_Last_Consent_More_Than_10_Minutes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Customer_Consent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_frmCustomerConsent_1</targetReference>
            </connector>
            <label>Sent More Than 10 Minutes</label>
        </rules>
        <rules>
            <name>Debitur_Not_Agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_Account.Lead_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Customer_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tidak Setuju</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curr_Account.Is_Last_Consent_More_Than_10_Minutes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_frmCustomerConsent_1</targetReference>
            </connector>
            <label>Debitur Not Agree</label>
        </rules>
        <rules>
            <name>Debitur_Agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_Account.Customer_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setuju</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_frmCustomerConsent_1</targetReference>
            </connector>
            <label>Debitur Agree</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_LinkTombol</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a class=&quot;slds-button slds-button_brand&quot; target=&quot;_top&quot; href=&quot;/lightning/action/quick/Account.Loan_Information?objectApiName&amp;context=RECORD_DETAIL&amp;recordId=&apos; &amp;CASESAFEID({!recordId_Acco})&amp; &apos;&amp;backgroundContext=%2Flightning%2Fr%2FAccount%2F&apos; &amp;CASESAFEID({!recordId_Acco})&amp; &apos;%2Fview&quot;&gt;Kirim ulang&lt;/a&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>funcS_LinkTombol_Disabled</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;span style=&quot;pointer-events: none; background-color: rgb(201, 199, 197); border-color: rgb(201, 199, 197); color:#ffffff&quot; class=&quot;slds-button slds-button_brand slds-button_disabled&quot;&gt;Kirim ulang&lt;/span&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>funS_BackToLeads</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;a class=&quot;slds-button slds-button_neutral&quot; target=&quot;_top&quot; href=&quot;/lightning/o/Account/list?filterName=AllAccounts&quot;&gt;Kembali Daftar Leads&lt;/a&gt;&apos;</expression>
    </formulas>
    <interviewLabel>[Scr] Customer Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Customer Consent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>curr_Account</name>
        <label>curr_Account</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Consent_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_Acco</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_frmCustomerConsent_1</name>
        <label>Copy 1 of frmCustomerConsent-1</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>reject_doc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Debitur tidak menyetujui pengajuan ini.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Silakan untuk membuat pengajuan baru.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!slds_hr}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!funS_BackToLeads}{!funcS_LinkTombol}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_frmCustomerConsent_1</name>
        <label>Copy 2 of frmCustomerConsent-1</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>conflict_doc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Leads sudah melewati batas waktu.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Silakan untuk membuat pengajuan baru.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!slds_hr}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!funS_BackToLeads}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_frmCustomerConsent_1</name>
        <label>Copy 3 of frmCustomerConsent-1</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>approved_doc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_3_of_lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Debitur Telah Menyetujui.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Data sudah disetujui oleh debitur , Anda bisa melanjutkan proses selanjutnya.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!slds_hr}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_frmCustomerConsent_1</name>
        <label>Copy 4 of frmCustomerConsent-1</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_4_of_imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>otp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_4_of_lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Pesan telah terkirim kepada debitur.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Silakan tunggu debitur menyetujui data yang telah di input. Atau anda bisa mengirimkan data kembali ke debitur.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!slds_hr}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!funcS_LinkTombol}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_frmCustomerConsent_1</name>
        <label>Copy 5 of frmCustomerConsent-1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>reject_doc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Debitur tidak menyetujui pengajuan ini.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Silakan untuk membuat pengajuan baru.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>frmCustomerConsent_1</name>
        <label>frmCustomerConsent-1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>imgNothing</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>otp</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lblPesan</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Pesan telah terkirim kepada debitur.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Silakan tunggu debitur menyetujui data yang telah di input.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!slds_hr}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!funcS_LinkTombol_Disabled}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selanjutnya</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>curr_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Disabled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;https://example.com&quot; class=&quot;slds-button slds-button_brand slds-button_disabled&quot; style=&quot;pointer-events: none; opacity: 0.5;&quot;&gt;    Disabled Link Button&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>slds_hr</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr/&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId_Acco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
