force-app/main/default/flows/Scr_Update_Accrued_Interest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit_Transaction</name>
        <label>Commit Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UUIDV4Generator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Potong_Funding</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>UUIDV4Generator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Potong_Funding</name>
        <label>Check Potong Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>scr_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Potong_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Loan_Information__r.Survey__r.Is_Potong_Funding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commit_Transaction</targetReference>
            </connector>
            <label>Potong Funding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_EffectiveDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!recordId.effective_date__c})</expression>
    </formulas>
    <formulas>
        <name>funcS_GoliveDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>[Scr] Update Accrued Interest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Update Accrued Interest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_Info</name>
        <label>scr_Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Accrued_Interest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Accrued_Interest</name>
        <label>Update Accrued Interest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Potong_Funding</targetReference>
        </connector>
        <flowName>Gen_Update_Accrue_Interest</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Potong_Funding</name>
        <label>Update Potong Funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Info</targetReference>
        </connector>
        <flowName>Gen_Update_RO_Potong_Funding_Outstanding</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Loan_Information__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Operation__c</objectType>
    </variables>
</Flow>
