force-app/main/default/flows/Scr_Credit_Review_PDF_Versioning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Credit_Review_PDF</name>
        <label>Generate Credit Review PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>spdf__MergeSimplePDFInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_PDF_Content</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>noSave</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Credit_Review_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnPDFContent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simplePdfName</name>
            <value>
                <stringValue>Credit Review PDF</stringValue>
            </value>
        </inputParameters>
        <nameSegment>spdf__MergeSimplePDFInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Credit_Review_PDF_No_FS</name>
        <label>Generate Credit Review PDF No FS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>spdf__MergeSimplePDFInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Set_PDF_Content</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>noSave</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Credit_Review_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnPDFContent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simplePdfName</name>
            <value>
                <stringValue>Credit Review PDF Non FS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>spdf__MergeSimplePDFInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Credit_Review_PDF_No_FS_No_Spouse</name>
        <label>Generate Credit Review PDF No FS No Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>spdf__MergeSimplePDFInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_3_of_Set_PDF_Content</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>noSave</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Credit_Review_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnPDFContent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simplePdfName</name>
            <value>
                <stringValue>Credit Review PDF Non FS Non Spouse</stringValue>
            </value>
        </inputParameters>
        <nameSegment>spdf__MergeSimplePDFInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Credit_Review_PDF_No_Spouse</name>
        <label>Generate Credit Review PDF No Spouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>spdf__MergeSimplePDFInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Set_PDF_Content</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>noSave</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Credit_Review_Version.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnPDFContent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>simplePdfName</name>
            <value>
                <stringValue>Credit Review PDF Non Spouse</stringValue>
            </value>
        </inputParameters>
        <nameSegment>spdf__MergeSimplePDFInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_PDF_Content</name>
        <label>Copy 1 of Set PDF Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_PDFContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Credit_Review_PDF_No_Spouse.pdfContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_PDFViewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_PDF_Content</name>
        <label>Copy 2 of Set PDF Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_PDFContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Credit_Review_PDF_No_FS.pdfContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_PDFViewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_PDF_Content</name>
        <label>Copy 3 of Set PDF Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_PDFContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Credit_Review_PDF_No_FS_No_Spouse.pdfContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_PDFViewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PDF_Content</name>
        <label>Set PDF Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varS_PDFContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Credit_Review_PDF.pdfContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_PDFViewer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Switch_Document_PDF</name>
        <label>Switch Document PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>scr_PDFViewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fnc_isFS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Information.Marital_Status__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Credit_Review_PDF</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>No_FS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fnc_isFS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Information.Marital_Status__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Credit_Review_PDF_No_FS</targetReference>
            </connector>
            <label>No FS</label>
        </rules>
        <rules>
            <name>No_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fnc_isFS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Information.Marital_Status__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Credit_Review_PDF_No_Spouse</targetReference>
            </connector>
            <label>No Spouse</label>
        </rules>
        <rules>
            <name>No_FS_No_Spouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fnc_isFS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Customer_Information.Marital_Status__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Married</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Credit_Review_PDF_No_FS_No_Spouse</targetReference>
            </connector>
            <label>No FS No Spouse</label>
        </rules>
    </decisions>
    <description>Tidak menampilkan FS dan Spouse jika kosong</description>
    <dynamicChoiceSets>
        <name>Picklist_CreditReviewVersion</name>
        <dataType>String</dataType>
        <displayField>related_id__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doc_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>credit_review_pdf</stringValue>
            </value>
        </filters>
        <filters>
            <field>related_id__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Get_Application.Application_ID__c</elementReference>
            </value>
        </filters>
        <object>pdf_content__c</object>
        <outputAssignments>
            <assignToReference>varS_SelectedVersion</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fnc_isFS</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Application.Financial_Statement_Attached__c}), IF(ISBLANK(TEXT({!Get_Application.Neraca_Keuangan_Terlampir__c})), &apos;No&apos;, TEXT({!Get_Application.Neraca_Keuangan_Terlampir__c})), {!Get_Application.Financial_Statement_Attached__c})</expression>
    </formulas>
    <interviewLabel>[Scr] Credit Review PDF Versioning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scr] Credit Review PDF Versioning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Review_Version</name>
        <label>Get Credit Review Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_Document_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varS_SelectedVersion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pdf_content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Information</name>
        <label>Get Customer Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_CreditReviewPDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Loan_Information__r.Account.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_CreditReviewPDF</name>
        <label>scr_CreditReviewPDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Credit_Review_Version</targetReference>
        </connector>
        <fields>
            <name>dpl_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Credit Review PDF Versioning&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Version</name>
            <choiceReferences>Picklist_CreditReviewVersion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Version</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_PDFViewer</name>
        <label>scr_PDFViewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>pdfViewer</name>
            <extensionName>spdf:pdfJsViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pdfContent</name>
                <value>
                    <elementReference>varS_PDFContent</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_PDFContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varS_SelectedVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
