force-app/main/default/flows/SSC_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Dokumen_Pendukung_Tidak_Lengkap_Survey</name>
        <label>Close Dokumen Pendukung Tidak Lengkap_Survey</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <actionName>Case.Close_Dokumen_Pendukung_Tidak_Lengkap_lightning</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Close_Dokumen_Pendukung_Tidak_Lengkap_lightning</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Close_Non_Transaksional_Secara_Umum_Survey</name>
        <label>Close Non-Transaksional Secara Umum_Survey</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <actionName>Case.Close_Non_Transaksional_Secara_Umum_Survey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Close_Non_Transaksional_Secara_Umum_Survey</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_1_H_1_butuh_doc_Action_1</name>
        <label>Reminder 1 (H+1) butuh doc Action 1</label>
        <locationX>1513</locationX>
        <locationY>1511</locationY>
        <actionName>Case.Reminder_1_H_1_butuh_doc</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Reminder_1_H_1_butuh_doc</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reminder_H_1_SLA_butuh_doc</name>
        <label>Reminder (H-1 SLA) butuh doc</label>
        <locationX>2250</locationX>
        <locationY>492</locationY>
        <actionName>Case.Reminder_H_1_butuh_doc</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Reminder_H_1_butuh_doc</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tiket_Diterima_Hari_H_butuh_doc</name>
        <label>Tiket Diterima (Hari H) - butuh doc</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <actionName>Case.Tiket_Diterima_Hari_H_butuh_doc</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Tiket_Diterima_Hari_H_butuh_doc</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tiket_Diterima_Hari_H_non_doc_perlu_tindak_lanjut_back_office</name>
        <label>Tiket Diterima (Hari H) - non doc perlu tindak lanjut back office</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <actionName>Case.Tiket_Diterima_Hari_H_non_doc_perlu_tindak_lanjut_back_office</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Notification_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Tiket_Diterima_Hari_H_non_doc_perlu_tindak_lanjut_back_office</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Email_Notification_Status_is_Not_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification</targetReference>
            </connector>
            <label>Status is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Notification_4</name>
        <label>Copy 1 of Notification 4</label>
        <locationX>2382</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_List_of_Required_Documents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Attached_Doc_on_case</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_H_1_SLA_butuh_doc</targetReference>
            </connector>
            <label>Copy 1 of Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Resolution_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Transactional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Survey_Invitation_13</targetReference>
            </connector>
            <label>Notification 12</label>
        </rules>
        <rules>
            <name>Notification_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Resolution_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dokumen Tidak Lengkap</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Invitation_13</targetReference>
            </connector>
            <label>Notification 13</label>
        </rules>
        <rules>
            <name>Notification_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Resolution_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tidak Mengirimkan Notifikasi</stringValue>
                </rightValue>
            </conditions>
            <label>Notification 14</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Notification_Status_is_Not_Closed</name>
        <label>Email Notification (Status is Not Closed)</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notification_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_List_of_Required_Documents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiket_Diterima_Hari_H_butuh_doc</targetReference>
            </connector>
            <label>Notification 3</label>
        </rules>
        <rules>
            <name>Notification_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Sub_Escalation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notification_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_List_of_Required_Documents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiket_Diterima_Hari_H_non_doc_perlu_tindak_lanjut_back_office</targetReference>
            </connector>
            <label>Notification 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_4</name>
        <label>Notification 4</label>
        <locationX>1645</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_List_of_Required_Documents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Attached_Doc_on_case</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_1_H_1_butuh_doc_Action_1</targetReference>
            </connector>
            <label>Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSC Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Survey_Invitation_13</name>
        <label>Survey Invitation 12</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>invitationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Survey_Invitation_12</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>$Label.CommunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>surveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>$Label.SurveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordCreates>
        <name>Survey_Invitation_13</name>
        <label>Survey Invitation 13</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>invitationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Survey_Invitation_13</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>$Label.CommunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>surveyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>$Label.SurveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Attached_Doc_on_case</name>
        <label>Copy 1 of Get Attached Doc on case</label>
        <locationX>2382</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Notification_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attached_Doc_on_case</name>
        <label>Get Attached Doc on case</label>
        <locationX>1645</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_12</name>
        <label>Get Survey Invitation 12</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Notification_12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_13</name>
        <label>Get Survey Invitation 13</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Notification_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Notification_12</name>
        <label>Update Notification 12</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Close_Non_Transaksional_Secara_Umum_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Done_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invitation_Link__c</field>
            <value>
                <elementReference>Get_Survey_Invitation_12.InvitationLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_12__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notification_13</name>
        <label>Update Notification 13</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Close_Dokumen_Pendukung_Tidak_Lengkap_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Done_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invitation_Link__c</field>
            <value>
                <elementReference>Get_Survey_Invitation_13.InvitationLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_13__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notification_2</name>
        <label>Update Notification 2</label>
        <locationX>1370</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Notification_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Notification_3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Escalation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1519</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Notification</name>
            <connector>
                <targetReference>Get_Attached_Doc_on_case</targetReference>
            </connector>
            <label>Scheduled Notification</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SCC_Escalation_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_Notification_5</name>
            <connector>
                <targetReference>Get_Attached_Doc_on_case</targetReference>
            </connector>
            <label>Schedule Notification +5</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SCC_Escalation_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>H_1_Total_SLA</name>
            <connector>
                <targetReference>Copy_1_of_Get_Attached_Doc_on_case</targetReference>
            </connector>
            <label>H-1 Total SLA</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Target_H_1_SLA__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>surveyName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Close Case Survey - {!$Record.CaseNumber}</text>
    </textTemplates>
    <triggerOrder>450</triggerOrder>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
