force-app/main/default/flows/Sync_Master_Data_Occupation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Occupation</name>
        <label>Get Occupation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GeneralMasterDataByParentCode.GetGeneralByParentCode</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Profession</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parent_code</name>
            <value>
                <stringValue>PROFESSION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GeneralMasterDataByParentCode.GetGeneralByParentCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Profession</name>
        <label>Get Profession</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>GeneralMasterDataByParentCode.GetGeneralByParentCode</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_Occupation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parent_code</name>
            <value>
                <stringValue>OCCUPATION</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GeneralMasterDataByParentCode.GetGeneralByParentCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Cover Profession and Occupation - Switch Data</description>
    <environments>Default</environments>
    <interviewLabel>Sync Master Data Ocupation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sync] Master Occupation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Occupation</name>
        <label>Save Occupation</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputReference>Transform_Occupation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Profession</name>
        <label>Save Profession</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Save_Occupation</targetReference>
        </connector>
        <inputReference>Transform_Profession</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profession</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Transform_Occupation</name>
        <label>Transform Occupation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Save_Profession</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Master_Occupation_New__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Master_Data_Code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Occupation.2XX[$EachItem].code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Master_Data_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Occupation.2XX[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Master_Data_Level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Occupation.2XX[$EachItem].level</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Master_Data_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Occupation.2XX[$EachItem].name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Master_Data_Parent_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Occupation.2XX[$EachItem].parentx5fid</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Profession</name>
        <label>Transform Profession</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Transform_Occupation</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Master_Occupation__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Profession.2XX[$EachItem].code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Profession.2XX[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Profession.2XX[$EachItem].level</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Profession.2XX[$EachItem].name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>parent_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Profession.2XX[$EachItem].parentx5fid</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
