force-app/main/default/flows/Sync_Master_Sertifikat_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Sertifikat_Type</name>
        <label>Get Sertifikat Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>GeneralMasterDataByParentCode.GetGeneralByParentCode</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parent_code</name>
            <value>
                <stringValue>SERTIFIKAT_TYPE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GeneralMasterDataByParentCode.GetGeneralByParentCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Sync] Master Sertifikat Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sync] Master Sertifikat Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Transform_Response</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sertifikat_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Response</name>
        <label>Transform Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Master_Sertifikat_Type__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Sertifikat_Type.2XX[$EachItem].code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Sertifikat_Type.2XX[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Sertifikat_Type.2XX[$EachItem].level</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Sertifikat_Type.2XX[$EachItem].name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>parent_id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Sertifikat_Type.2XX[$EachItem].parentx5fid</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
