force-app/main/default/flows/Test_ParseJSONtoDocumentBFI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TestParse</name>
        <label>TestParse</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>SfJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>cek</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>strJson</name>
            <value>
                <elementReference>funcS_json</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SfJsonParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>colDocument</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>debug</name>
        <label>debug</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>cek.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cek.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cek.DMS_Doc_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cek.DMS_Doc_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cek.Document_Type_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cek.Document_Type_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cek</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>funcS_json</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;Name&quot;: &quot;test1&quot;, &quot;DMS_Doc_Id__c&quot;: &quot;12345&quot;, &quot;Document_Type_Lookup__c&quot;: &quot;TYPE1&quot;}, {&quot;Name&quot;: &quot;test2&quot;, &quot;DMS_Doc_Id__c&quot;: &quot;67890&quot;, &quot;Document_Type_Lookup__c&quot;: &quot;TYPE2&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>[Test] ParseJSONtoDocumentBFI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Test] ParseJSONtoDocumentBFI</label>
    <loops>
        <name>cek</name>
        <label>cek</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>colDocument</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>debug</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TestParse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Document_BFI__c</objectType>
    </variables>
</Flow>
