force-app/main/default/flows/testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2a5f91d5_148a_4914_848c_365bb5be36ee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_78ed38e2_2902_4038_b119_180a98ce696f</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a8430d96_2d18_4fc1_9293_b4aa130b1885</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_c715e190_90e6_48da_9b28_11496d9ce5d6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fb5fc7e7_4eb4_4767_a068_92435158a0fb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank0&quot;,&quot;rankText&quot;:&quot;{!q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank1&quot;,&quot;rankText&quot;:&quot;{!q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank2&quot;,&quot;rankText&quot;:&quot;{!q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank3&quot;,&quot;rankText&quot;:&quot;{!q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank4&quot;,&quot;rankText&quot;:&quot;{!q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_03d2f629_7648_4f46_b536_05d7b116eaeb</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0aacbe14_9abb_4b46_81dd_7d12c2be4bf6</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0e03dff5_0cb6_448a_bbaa_e80994139440</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0f2a9805_7252_46a2_b828_38bf114ffe31</name>
        <choiceText>Layanan Pelanggan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Layanan Pelanggan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_176aa8f0_372f_4e99_9234_2535f72e9f57</name>
        <choiceText>Aksesori</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aksesori</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_19471404_77f7_4a2a_9d01_8ffa57539035</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2c3fba87_b0e4_445e_bc5e_8aee6fae0192</name>
        <choiceText>Elektronik</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Elektronik</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_38b86212_499d_4276_bb4b_332a53520d7c</name>
        <choiceText>Lainnya (Sebutkan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lainnya (Sebutkan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_391905fe_6580_4a13_8a52_22e2f51dc1ff</name>
        <choiceText>Harga Terjangkau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Harga Terjangkau</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_419482e1_59e8_4701_b7d8_dad29acb5f77</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4a403d8c_5f8a_44b3_b493_cf14c8971c74</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4be522b8_d112_4de0_86b2_ed3921ca91d9</name>
        <choiceText>Tunai</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tunai</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4f5e7b57_5713_4757_9cb6_743e6ad0a2a3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4fa3fbd1_4db1_46b1_95e5_5593ed26f719</name>
        <choiceText>Pakaian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pakaian</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_537fd6ad_e340_4ff5_90d8_94b04626550c</name>
        <choiceText>Kartu Kredit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kartu Kredit</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_69b8d644_636c_4446_9b6e_8a97d81e3267</name>
        <choiceText>Kualitas Produk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kualitas Produk</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_78953a17_3ce8_4689_b8e8_18d13dd4540c</name>
        <choiceText>Kemudahan Penggunaan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kemudahan Penggunaan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7be430ff_48e2_44fa_96de_9f2e16bde66c</name>
        <choiceText>Peralatan Rumah Tangga</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Peralatan Rumah Tangga</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81511dff_4b01_40b4_a006_b771aa7610e4</name>
        <choiceText>Transfer Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a1a8834a_b896_419a_8d61_4a496203cfe0</name>
        <choiceText>Kecepatan Layanan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kecepatan Layanan</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af1bf845_1b5c_4697_ace6_2d11f75f46b1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd869ddf_52c4_4824_b1fa_0d7f0ef8bb4e</name>
        <choiceText>Fitur Lainnya</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fitur Lainnya</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf938630_b862_4adc_a456_6117b267ac79</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ece30be0_64c7_4488_8b1c_a21b8fe2d98f</name>
        <choiceText>Pembayaran melalui Aplikasi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pembayaran melalui Aplikasi</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3ba5923_94bb_4837_8fe9_14868e9053b0</name>
        <choiceText>Lainnya (Sebutkan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lainnya (Sebutkan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f97f4ff5_470f_49c3_8da4_59ab016e67e3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>TESTING</interviewLabel>
    <label>TESTING</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_2a5f91d5_148a_4914_848c_365bb5be36ee</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_78ed38e2_2902_4038_b119_180a98ce696f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dd81336f_7c62_4f24_aa22_24220f1e598b</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Kapan Anda pertama kali menggunakan layanan kami?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Kapan Anda pertama kali menggunakan layanan kami?</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>thumbsUp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Apakah Anda menyukai produk/layanan kami?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Apakah Anda menyukai produk/layanan kami?</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_10dac898_14ff_4995_a42e_3627c0e1393d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Berikan pendapat atau komentar Anda tentang layanan kami.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Berikan pendapat atau komentar Anda tentang layanan kami.</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bb048f49_15fe_4ed7_952c_6b261115c02b</name>
            <choiceReferences>c_78953a17_3ce8_4689_b8e8_18d13dd4540c</choiceReferences>
            <choiceReferences>c_a1a8834a_b896_419a_8d61_4a496203cfe0</choiceReferences>
            <choiceReferences>c_69b8d644_636c_4446_9b6e_8a97d81e3267</choiceReferences>
            <choiceReferences>c_391905fe_6580_4a13_8a52_22e2f51dc1ff</choiceReferences>
            <choiceReferences>c_0f2a9805_7252_46a2_b828_38bf114ffe31</choiceReferences>
            <choiceReferences>c_bd869ddf_52c4_4824_b1fa_0d7f0ef8bb4e</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Fitur apa saja yang paling Anda sukai dari produk kami? (Pilih lebih dari satu jika perlu)&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_71c6d4b7_13f7_4b13_843a_2887a134307c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsLeftLabel</name>
                <value>
                    <stringValue>{!q_71c6d4b7_13f7_4b13_843a_2887a134307c_nllref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsRightLabel</name>
                <value>
                    <stringValue>{!q_71c6d4b7_13f7_4b13_843a_2887a134307c_nrlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_71c6d4b7_13f7_4b13_843a_2887a134307c</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Seberapa besar kemungkinan Anda akan merekomendasikan produk kami kepada teman atau kolega Anda? (Skala 0-10)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Seberapa besar kemungkinan Anda akan merekomendasikan produk kami kepada teman atau kolega Anda? (Skala 0-10)</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_529ebde0_2f60_4e54_91ae_26dbe373aa84</name>
            <choiceReferences>c_2c3fba87_b0e4_445e_bc5e_8aee6fae0192</choiceReferences>
            <choiceReferences>c_4fa3fbd1_4db1_46b1_95e5_5593ed26f719</choiceReferences>
            <choiceReferences>c_7be430ff_48e2_44fa_96de_9f2e16bde66c</choiceReferences>
            <choiceReferences>c_176aa8f0_372f_4e99_9234_2535f72e9f57</choiceReferences>
            <choiceReferences>c_38b86212_499d_4276_bb4b_332a53520d7c</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;em&gt;Seberapa besar kemungkinan Anda akan merekomendasikan produk kami kepada teman atau kolega Anda? (Skala 0-10)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Pilih kategori produk yang Anda beli.</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[6,5,4,3,2]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Urutkan fitur berikut dari yang paling penting hingga yang paling tidak penting bagi Anda.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Urutkan fitur berikut dari yang paling penting hingga yang paling tidak penting bagi Anda.</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b5a5aa8c_8add_414f_8716_6f0287ed00be_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b5a5aa8c_8add_414f_8716_6f0287ed00be</name>
            <choiceReferences>c_cf938630_b862_4adc_a456_6117b267ac79</choiceReferences>
            <choiceReferences>c_f97f4ff5_470f_49c3_8da4_59ab016e67e3</choiceReferences>
            <choiceReferences>c_0aacbe14_9abb_4b46_81dd_7d12c2be4bf6</choiceReferences>
            <choiceReferences>c_0e03dff5_0cb6_448a_bbaa_e80994139440</choiceReferences>
            <choiceReferences>c_03d2f629_7648_4f46_b536_05d7b116eaeb</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Beri rating untuk kualitas produk kami pada skala 1 hingga 5.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Beri rating untuk kualitas produk kami pada skala 1 hingga 5.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_18bb8e22_32a8_43a9_8d54_ccce51475588_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_18bb8e22_32a8_43a9_8d54_ccce51475588</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Berikan skor untuk kepuasan Anda terhadap produk kami pada skala 1 hingga 10.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Berikan skor untuk kepuasan Anda terhadap produk kami pada skala 1 hingga 10.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]*</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed282f6a_94b6_4225_9ba7_16f38134f76b</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Apa yang menurut Anda perlu diperbaiki dalam produk kami?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Apa yang menurut Anda perlu diperbaiki dalam produk kami?</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_ed282f6a_94b6_4225_9ba7_16f38134f76b},&quot;[0-9]*&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_06a62af8_c936_40a0_912b_71fe851d6784</name>
            <choiceReferences>c_537fd6ad_e340_4ff5_90d8_94b04626550c</choiceReferences>
            <choiceReferences>c_81511dff_4b01_40b4_a006_b771aa7610e4</choiceReferences>
            <choiceReferences>c_ece30be0_64c7_4488_8b1c_a21b8fe2d98f</choiceReferences>
            <choiceReferences>c_4be522b8_d112_4de0_86b2_ed3921ca91d9</choiceReferences>
            <choiceReferences>c_f3ba5923_94bb_4837_8fe9_14868e9053b0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Pilih jenis pembayaran yang paling sering Anda gunakan saat bertransaksi.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <name>q_288416e0_177a_4358_8168_d05fc9c2d91b</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;em&gt;Seberapa puas Anda dengan pengalaman berbelanja di situs kami?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Seberapa puas Anda dengan pengalaman berbelanja di situs kami?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_78ed38e2_2902_4038_b119_180a98ce696f</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a8430d96_2d18_4fc1_9293_b4aa130b1885</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4aaf03b9_94fd_415a_9114_36ab41f79e8b</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;sd&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>sd</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a8430d96_2d18_4fc1_9293_b4aa130b1885</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c715e190_90e6_48da_9b28_11496d9ce5d6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9e06d984_8ee0_4d98_8d82_69791cae7cf5</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;We couldn&apos;t activate the survey. Fix the errors and try again.&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c715e190_90e6_48da_9b28_11496d9ce5d6</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_fb5fc7e7_4eb4_4767_a068_92435158a0fb</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_01b9f33e_dbb6_4f77_a4ef_0113799c5d7a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_01b9f33e_dbb6_4f77_a4ef_0113799c5d7a</name>
            <choiceReferences>c_419482e1_59e8_4701_b7d8_dad29acb5f77</choiceReferences>
            <choiceReferences>c_4f5e7b57_5713_4757_9cb6_743e6ad0a2a3</choiceReferences>
            <choiceReferences>c_af1bf845_1b5c_4697_ace6_2d11f75f46b1</choiceReferences>
            <choiceReferences>c_19471404_77f7_4a2a_9d01_8ffa57539035</choiceReferences>
            <choiceReferences>c_4a403d8c_5f8a_44b3_b493_cf14c8971c74</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;NEW VERSION 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>NEW VERSION 2</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fb5fc7e7_4eb4_4767_a068_92435158a0fb</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1acce52a_2a14_4254_8bde_74fadc16772a</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;VERSION 4&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_2a5f91d5_148a_4914_848c_365bb5be36ee</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dislike</text>
    </textTemplates>
    <textTemplates>
        <name>q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Like</text>
    </textTemplates>
    <textTemplates>
        <name>q_71c6d4b7_13f7_4b13_843a_2887a134307c_nllref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Not at all likely</text>
    </textTemplates>
    <textTemplates>
        <name>q_71c6d4b7_13f7_4b13_843a_2887a134307c_nrlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Extremely likely</text>
    </textTemplates>
    <textTemplates>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Kecepatan Layanan</text>
    </textTemplates>
    <textTemplates>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Kualitas Produk</text>
    </textTemplates>
    <textTemplates>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Harga</text>
    </textTemplates>
    <textTemplates>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Kemudahan Penggunaan</text>
    </textTemplates>
    <textTemplates>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Layanan Pelanggan</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Jika Anda memiliki pertanyaan atau ingin memberikan saran lebih lanjut, jangan ragu untuk menghubungi kami di [email@domain.com]. Kami selalu siap untuk mendengarkan masukan Anda.</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Terima kasih telah menyelesaikan survei ini! Masukan Anda sangat berarti bagi kami dan akan membantu kami untuk terus berinovasi. Kami menghargai waktu yang Anda luangkan dan berharap dapat memberikan layanan yang lebih baik di masa mendatang.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Ini deskripsi survey yang akanSurvei ini terdiri dari 3 pertanyaan singkat yang akan membantu kami memahami pandangan Anda. Jawaban Anda sangat berharga dan akan digunakan untuk meningkatkan kualitas produk/layanan kami. Survei ini tidak memerlukan waktu lama dan akan sangat membantu kami dalam mengambil keputusan yang lebih baik. dilakukan</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Selamat datang di survei kami! Terima kasih telah meluangkan waktu untuk berpartisipasi. Survei ini bertujuan untuk mengumpulkan pendapat Anda agar kami dapat terus meningkatkan layanan dan pengalaman yang kami tawarkan.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_f3b339b7_ab28_4880_b47a_ece721b5a6b2_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_01b9f33e_dbb6_4f77_a4ef_0113799c5d7a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_18bb8e22_32a8_43a9_8d54_ccce51475588_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_308f12ef_78c0_4b1e_96bb_16eec6ecadf9_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_71c6d4b7_13f7_4b13_843a_2887a134307c_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_b5a5aa8c_8add_414f_8716_6f0287ed00be_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
