force-app/main/default/flows/Tgr_OnChange_KomiteSurvey_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Result_Step_1</name>
        <label>Set Result Step 1</label>
        <locationX>534</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varS_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Komite_Survey_1_Result__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Step_2</name>
        <label>Set Result Step 2</label>
        <locationX>798</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varS_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Komite_Survey_2_Result__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Role</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Err_GaAdaNotes</name>
        <label>Err GaAdaNotes</label>
        <locationX>886</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>Tolong isi [Notes/Catatan - Komite Survey] untuk role {!funcS_UserRole} terlebih dahulu</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Err_Role</name>
        <label>Err Role</label>
        <locationX>1722</locationX>
        <locationY>695</locationY>
        <customErrorMessages>
            <errorMessage>Mohon maaf role anda [{!funcS_UserRole}] tidak bisa memberikan approval ini</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>BM_Notes_Ada</name>
        <label>BM Notes Ada ?</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Save_BM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ada Notes</defaultConnectorLabel>
        <rules>
            <name>BM_Notes_Kosong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BM_Notes2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Err_GaAdaNotes</targetReference>
            </connector>
            <label>BM Notes Kosong</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_Notes_Ada</name>
        <label>CA Notes Ada ?</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Save_CA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ada Notes</defaultConnectorLabel>
        <rules>
            <name>CA_Notes_Kosong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CA_Notes2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Err_GaAdaNotes</targetReference>
            </connector>
            <label>CA Notes Kosong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Komite_Survey_Step</name>
        <label>Cek Komite Survey Step</label>
        <locationX>886</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Cek_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Komite_Survey_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Result_Step_1</targetReference>
            </connector>
            <label>Step 1</label>
        </rules>
        <rules>
            <name>Step_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Komite_Survey_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Result_Step_2</targetReference>
            </connector>
            <label>Step 2</label>
        </rules>
        <rules>
            <name>Step_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Komite_Survey_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cek_Role</targetReference>
            </connector>
            <label>Step 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Role</name>
        <label>Cek Role</label>
        <locationX>886</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Err_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Spv_AO_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Spv_AO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spv_Notes_Ada</targetReference>
            </connector>
            <label>Spv AO</label>
        </rules>
        <rules>
            <name>CA_Cabang_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CA_Cabang</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Notes_Ada</targetReference>
            </connector>
            <label>CA Cabang</label>
        </rules>
        <rules>
            <name>LAO_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAO_Notes_Ada</targetReference>
            </connector>
            <label>LAO</label>
        </rules>
        <rules>
            <name>BM_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>funcS_UserRole</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BM_Notes_Ada</targetReference>
            </connector>
            <label>BM</label>
        </rules>
    </decisions>
    <decisions>
        <name>LAO_Notes_Ada</name>
        <label>LAO Notes Ada ?</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Save_LAO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ada Notes</defaultConnectorLabel>
        <rules>
            <name>LAO_Notes_Kosong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LAO_Notes2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Err_GaAdaNotes</targetReference>
            </connector>
            <label>LAO Notes Kosong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spv_Notes_Ada</name>
        <label>Spv Notes Ada ?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Save_Spv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ada Notes</defaultConnectorLabel>
        <rules>
            <name>Spv_Notes_Kosong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SPV_Notes2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Err_GaAdaNotes</targetReference>
            </connector>
            <label>Spv Notes Kosong</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>funcS_UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.DeveloperName}</expression>
    </formulas>
    <interviewLabel>[Tgr] OnChange KomiteSurvey Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tgr] OnChange KomiteSurvey Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Save_BM</name>
        <label>Save BM</label>
        <locationX>1458</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>BM_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BM_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_CA</name>
        <label>Save CA</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>CA_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Result__c</field>
            <value>
                <elementReference>varS_Result</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_LAO</name>
        <label>Save LAO</label>
        <locationX>1018</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>LAO_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAO_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAO_Result__c</field>
            <value>
                <elementReference>varS_Result</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Spv</name>
        <label>Save Spv</label>
        <locationX>138</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>SPV_ApprovedBy__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_ApprovedDt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPV_Result__c</field>
            <value>
                <elementReference>varS_Result</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cek_Komite_Survey_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Komite_Survey_Step__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Komite_Survey_Step__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varS_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
