force-app/main/default/flows/Tgr_OnChange_Approval_Result_FKD_Marketing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_recordId</name>
        <label>set recordId</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>recordId_FKD_Marketing_Shadow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cur_FKD_Marketing_Shadow</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_pop_Error_CommentError_Comment_Loan_Status_Return_Input_Survey</name>
        <label>Error Comment Loan Status Return Input Survey</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Loan Status pengajuan ini dalam statu Survey (Data Correction)</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>pop_Error</name>
        <label>pop Error</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>{!Gen_OnChange_Approval_Result_FKD_Marketing.Error}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>pop_Error_Comment</name>
        <label>pop Error Comment</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>Tolong isi [Comment/Notes - FKD Legal] terlebih dahulu</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>cek_Comment</name>
        <label>cek Comment</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>pop_Error_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kosong</defaultConnectorLabel>
        <rules>
            <name>Ada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PIS.Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PIS.StepStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gen_OnChange_Approval_Result_FKD_Marketing</targetReference>
            </connector>
            <label>Ada</label>
        </rules>
    </decisions>
    <decisions>
        <name>cek_Error</name>
        <label>cek Error</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Aman</defaultConnectorLabel>
        <rules>
            <name>ada_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gen_OnChange_Approval_Result_FKD_Marketing.Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pop_Error</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ada Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Return_Input_Survey</name>
        <label>Is Return Input Survey</label>
        <locationX>347</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>cek_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Loan_Status_Return_Input_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Operation.Loan_Information__r.Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey (Data Correction)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_pop_Error_CommentError_Comment_Loan_Status_Return_Input_Survey</targetReference>
            </connector>
            <label>Is Loan Status Return Input Survey</label>
        </rules>
    </decisions>
    <description>Penjagaan Return Loan Status Survey (Data Correction)</description>
    <environments>Default</environments>
    <interviewLabel>[Tgr] OnChange Approval Result - FKD Marketing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tgr] OnChange Approval Result - FKD Marketing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>cur_FKD_Marketing_Shadow</name>
        <label>cur FKD Marketing [Shadow]</label>
        <locationX>347</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_FKD_Marketing_Shadow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FKD_Marketing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operation</name>
        <label>Get Operation</label>
        <locationX>347</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Return_Input_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cur_FKD_Marketing_Shadow.Operation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Operation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PI</name>
        <label>PI</label>
        <locationX>347</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PIS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_FKD_Marketing_Shadow</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PIS</name>
        <label>PIS</label>
        <locationX>347</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Operation</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Result__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Result__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>FKD_Marketing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gen_OnChange_Approval_Result_FKD_Marketing</name>
        <label>[Gen] OnChange Approval Result - FKD Marketing</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>cek_Error</targetReference>
        </connector>
        <flowName>Gen_OnChange_Approval_Result_FKD_Marketing</flowName>
        <inputAssignments>
            <name>recordId_FKD_Marketing_Shadow</name>
            <value>
                <elementReference>recordId_FKD_Marketing_Shadow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varS_Comments</name>
            <value>
                <elementReference>PIS.Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varS_PIS_StepStatus</name>
            <value>
                <elementReference>PIS.StepStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId_FKD_Marketing_Shadow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
