force-app/main/default/flows/Tgr_Create_FKD_Legal_and_Marketing_after_Operation_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_varC</name>
        <label>Set varC</label>
        <locationX>264</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varC_SharedApplication</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SharedApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_SharedFKDMarketing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SharedFKDMarketing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varR_SharedApplication</name>
        <label>Set varR_SharedApplication</label>
        <locationX>264</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varR_SharedApplication.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedApplication.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedApplication.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedApplication.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_varR_SharedFKDMarketing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varR_SharedFKDMarketing</name>
        <label>Set varR_SharedFKDMarketing</label>
        <locationX>264</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varR_SharedFKDMarketing.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedFKDMarketing.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedFKDMarketing.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_FKD_Marketing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SharedFKDMarketing.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_varC</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Tgr] Create FKD Legal and Marketing after Operation Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tgr] Create FKD Legal and Marketing after Operation Created</label>
    <loops>
        <name>Loop_User</name>
        <label>Loop User</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_User_PBF_Sales_Processing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_varR_SharedApplication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SharedApplication</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FKD_Legal</name>
        <label>Create FKD Legal</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_FKD_Marketing</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FKD_Legal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FKD_Marketing</name>
        <label>Create FKD Marketing</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Operation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FKD_Marketing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SharedApplication</name>
        <label>Create SharedApplication</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <inputReference>varC_SharedApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Role_PBF_Sales_Processing</name>
        <label>Get Role PBF Sales Processing</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_PBF_Sales_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PBF_Sales_Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_PBF_Sales_Processing</name>
        <label>Get User PBF Sales Processing</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Role_PBF_Sales_Processing.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Role_PBF_Sales_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FKD_Legal__c</field>
            <value>
                <elementReference>Create_FKD_Legal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FKD_Marketing__c</field>
            <value>
                <elementReference>Create_FKD_Marketing</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Operation</name>
        <label>Update Operation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>FKD_Legal__c</field>
            <value>
                <elementReference>Create_FKD_Legal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FKD_Marketing__c</field>
            <value>
                <elementReference>Create_FKD_Marketing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_FKD_Legal</targetReference>
        </connector>
        <object>Operation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_SharedApplication</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__Share</objectType>
    </variables>
    <variables>
        <name>varC_SharedFKDMarketing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FKD_Marketing__Share</objectType>
    </variables>
    <variables>
        <name>varR_SharedApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__Share</objectType>
    </variables>
    <variables>
        <name>varR_SharedFKDMarketing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FKD_Marketing__Share</objectType>
    </variables>
</Flow>
