force-app/main/default/flows/Tgr_OnChange_Status_to_Cancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Push_Notif_Canceled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner_Status_Convert</name>
        <label>Notify Owner Status Convert</label>
        <locationX>314</locationX>
        <locationY>3120</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Is_Canceled_to_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner_Status_to_Hold</name>
        <label>Notify Owner Status to Hold</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Push_Notif_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_list_of_Surveys_Loans_and_Apps</name>
        <label>Add list of Surveys, Loans and Apps</label>
        <locationX>534</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>var_Surveys</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Survey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Loan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_ID_Contact</name>
        <label>Set Application ID Contact</label>
        <locationX>534</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Contact.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>534</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>var_RelatedContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecipientIds_Canceled</name>
        <label>Set RecipientIds (Canceled)</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Is_Canceled_to_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecipientIds_Convert</name>
        <label>Set RecipientIds (Convert)</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecipientIds_Hold</name>
        <label>Set RecipientIds (Hold)</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Owner_Status_to_Hold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Survey</name>
        <label>Set Survey</label>
        <locationX>534</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>var_Survey.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Loan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Survey.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Survey.Meet_With__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Survey.Status_Input_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Survey.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Survey.Product_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Loan.Product_Offering__r.text_package_id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_list_of_Surveys_Loans_and_Apps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Survey_Contact</name>
        <label>Set Survey Contact</label>
        <locationX>534</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>var_SurveyContact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_2_Related_Loan.Name} - {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SurveyContact.Loan_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Related_Loan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SurveyContact.Customer_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SurveyContact.Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application.Loan_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2_Related_Loan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application.Config_Application_Tab__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Config_App_Tab_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Application.Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2_Related_Loan.Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Survey_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Survey_Contacts</name>
        <label>Set Survey Contacts</label>
        <locationX>534</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>var_SurveyContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SurveyContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RelatedLoan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2_Related_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2_Related_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apakah_Owner_adalah_BRO</name>
        <label>Apakah Owner adalah BRO ?</label>
        <locationX>446</locationX>
        <locationY>2796</locationY>
        <defaultConnector>
            <targetReference>Push_Notif_Convert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bukan</defaultConnectorLabel>
        <rules>
            <name>BRO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ganti_Owner_menjadi_AO</targetReference>
            </connector>
            <label>BRO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_To</name>
        <label>Status Changed To?</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Is_Canceled_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecipientIds_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecipientIds_Convert</targetReference>
            </connector>
            <label>Convert</label>
        </rules>
        <rules>
            <name>Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecipientIds_Hold</targetReference>
            </connector>
            <label>Hold</label>
        </rules>
    </decisions>
    <description>Change Survey Name format to Customer Name</description>
    <environments>Default</environments>
    <formulas>
        <name>func_AdditionalNotifToBRO</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Federated_Owner__c} != &quot;&quot;, &quot; dan assignment diberikan kepada &quot; &amp; {!Get_Current_AO_Owner.Owner.FirstName} &amp; &quot; &quot; &amp; {!Get_Current_AO_Owner.Owner.LastName}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>[Tgr] OnChange Status to Cancel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tgr] OnChange Lead Status</label>
    <loops>
        <name>Loop_2_Related_Loan</name>
        <label>Loop 2 Related Loan</label>
        <locationX>446</locationX>
        <locationY>1956</locationY>
        <collectionReference>Get_Related_Loan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Created_Survey</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Contact</name>
        <label>Loop Related Contact</label>
        <locationX>446</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Related_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Application_ID_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Related_Loan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Loan</name>
        <label>Loop Related Loan</label>
        <locationX>446</locationX>
        <locationY>1332</locationY>
        <collectionReference>Get_Related_Loan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Survey</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>446</locationX>
        <locationY>2580</locationY>
        <connector>
            <targetReference>Create_Survey_Contact</targetReference>
        </connector>
        <inputReference>var_Applications</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>446</locationX>
        <locationY>1848</locationY>
        <connector>
            <targetReference>Loop_2_Related_Loan</targetReference>
        </connector>
        <inputReference>var_Surveys</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Contact</name>
        <label>Create Survey Contact</label>
        <locationX>446</locationX>
        <locationY>2688</locationY>
        <connector>
            <targetReference>Apakah_Owner_adalah_BRO</targetReference>
        </connector>
        <inputReference>var_SurveyContacts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Config_App_Tab_Id</name>
        <label>Get Config App Tab Id</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Contact</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Config_Application_Tab__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Survey</name>
        <label>Get Created Survey</label>
        <locationX>534</locationX>
        <locationY>2064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Survey_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2_Related_Loan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_AO_Owner</name>
        <label>Get Current AO Owner</label>
        <locationX>314</locationX>
        <locationY>3012</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Owner_Status_Convert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Loan</name>
        <label>Get Related Loan</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Config_App_Tab_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_From_LMS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spv</name>
        <label>Get Spv</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Changed_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.UserRole.ParentRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>446</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <inputReference>var_RelatedContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Is_Canceled_to_False</name>
        <label>Update Is Canceled to False</label>
        <locationX>578</locationX>
        <locationY>3396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Canceled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Is_Canceled_to_True</name>
        <label>Update Is Canceled to True</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Canceled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>446</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <inputReference>var_RelatedLoan</inputReference>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Spv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Ganti_Owner_menjadi_AO</name>
        <label>Ganti Owner menjadi AO</label>
        <locationX>314</locationX>
        <locationY>2904</locationY>
        <connector>
            <targetReference>Get_Current_AO_Owner</targetReference>
        </connector>
        <flowName>Gen_Auto_assign_AO</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Push_Notif_Canceled</name>
        <label>Push Notif (Canceled)</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Canceled Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Push_Notif_Convert</name>
        <label>Push Notif (Convert)</label>
        <locationX>578</locationX>
        <locationY>2904</locationY>
        <connector>
            <targetReference>Update_Is_Canceled_to_False</targetReference>
        </connector>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Convert Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Push_Notif_Hold</name>
        <label>Push Notif (Hold)</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Is_Canceled_to_False</targetReference>
        </connector>
        <flowName>Gen_Send_Push_Notification</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>tplS_Chatter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>Hold Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tplS_Chatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status Leads Id ({!$Record.Lead_ID__c}) atas nama ({!$Record.Name}) telah diubah menjadi {!$Record.Status__c}{!func_AdditionalNotifToBRO}.
Terima kasih.</text>
    </textTemplates>
    <textTemplates>
        <name>tplS_ChatterSpv</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!Get_Spv.Name}],
Status Lead anda [{!$Record.Name}] telah diubah menjadi {!$Record.Status__c}.
Terima kasih.</text>
    </textTemplates>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>var_Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>var_LoanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_RelatedLoan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>var_SurveyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Contact__c</objectType>
    </variables>
    <variables>
        <name>var_SurveyContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Contact__c</objectType>
    </variables>
    <variables>
        <name>var_Surveys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
</Flow>
