force-app/main/default/flows/Tgr_Automatically_Set_SOA_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Tgr] Automatically Set SOA ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Tgr] OnChange Automatically Set SOA ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SOA_Activity</name>
        <label>Get SOA Activity</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SOA_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Activity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity_AO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity_BRO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_SOA_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOA_Name</name>
        <label>Get SOA Name</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SOA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>attributes_confins_soa_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SOA_Activity.SOA__r.attributes_confins_soa_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_SOA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_SOA</name>
        <label>Set SOA</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>SOA_ID__c</field>
            <value>
                <elementReference>Get_SOA_Name.attributes_confins_soa_id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOA_Source__c</field>
            <value>
                <elementReference>Get_SOA_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SOA_Activity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
