force-app/main/default/flows/Transhipment_Input_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Value_For_Confirmation_Screen</name>
        <label>Assign Value For Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varVesselName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vessel_Aircraft_Carrier_Name.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRadioSelect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vesselFromMasterData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transhipment_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_For_Confirmation_Screen_Manual</name>
        <label>Assign Value For Confirmation Screen (Manual)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varVesselName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vessel_Aircraft_Carrier_Name_manual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRadioSelect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vesselManualInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transhipment_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>vesselFromMasterData</name>
        <choiceText>Search From Master Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MasterData</stringValue>
        </value>
    </choices>
    <choices>
        <name>vesselManualInput</name>
        <choiceText>Manual Input</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Vessel_Input_Type</name>
        <label>Check Vessel Input Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_For_Confirmation_Screen_Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Master_Data_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vessel_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vesselFromMasterData</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_For_Confirmation_Screen</targetReference>
            </connector>
            <label>Master Data Input</label>
        </rules>
    </decisions>
    <description>change relation from Oppty to Risk. Still using Transaction Data</description>
    <dynamicChoiceSets>
        <name>countryList</name>
        <collectionReference>Get_Country_List</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vesselList</name>
        <collectionReference>Get_Vessel_List</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Master_Data__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaTransactionDataName</name>
        <dataType>String</dataType>
        <expression>&quot;Transhipment - &quot;&amp;{!Transhipment_At}</expression>
    </formulas>
    <interviewLabel>Transhipment Input Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transhipment Input Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Transhipment_Input</name>
        <label>Save Transhipment Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaTransactionDataName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Transhipment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk__c</field>
            <value>
                <elementReference>Risk_Detail.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transhipment_At__c</field>
            <value>
                <elementReference>Transhipment_At</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vessel_Aircraft_Carrier_Name_Manual__c</field>
            <value>
                <elementReference>Vessel_Aircraft_Carrier_Name_manual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vessel_Aircraft_Carrier_Name__c</field>
            <value>
                <elementReference>Vessel_Aircraft_Carrier_Name.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vessel_Aircraft_Carrier_Number__c</field>
            <value>
                <elementReference>Vessel_Aircraft_Carrier_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Country_List</name>
        <label>Get Country List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Vessel_Master_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Transhipment</name>
        <label>Get Record Type Transhipment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Transhipment_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Data__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transhipment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Vessel_Master_Data</name>
        <label>Get Record Type Vessel Master Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vessel_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master_Data__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vessel_Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vessel_List</name>
        <label>Get Vessel List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transhipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Vessel_Master_Data.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Master_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Detail</name>
        <label>Risk Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Country_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>finalScreen</name>
        <label>finalScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finalConfirmationText</name>
            <fieldText>&lt;p&gt;Transhipment berhasil disimpan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Selesai</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transhipment</name>
        <label>Transhipment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Vessel_Input_Type</targetReference>
        </connector>
        <fields>
            <name>textTitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transhipment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transhipment_At</name>
            <dataType>String</dataType>
            <fieldText>Transhipment At</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>countryList</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Country</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Country</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vessel_Input</name>
            <choiceReferences>vesselFromMasterData</choiceReferences>
            <choiceReferences>vesselManualInput</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>vesselFromMasterData</defaultSelectedChoiceReference>
            <fieldText>Vessel Input</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vessel_Aircraft_Carrier_Name</name>
            <choiceReferences>vesselList</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Vessel/Aircraft/Carrier Name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Vessel Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Vessel_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>vesselFromMasterData</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vessel_Aircraft_Carrier_Name_manual</name>
            <dataType>String</dataType>
            <fieldText>Vessel/Aircraft/Carrier Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Vessel_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>vesselManualInput</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vessel_Aircraft_Carrier_Number</name>
            <dataType>String</dataType>
            <fieldText>Vessel/Aircraft/Carrier Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Lanjutkan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transhipment_Confirmation_Screen</name>
        <label>Transhipment Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Kembali</backButtonLabel>
        <connector>
            <targetReference>Get_Record_Type_Transhipment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_textTitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transhipment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transhipment_At_confirm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Transhipment_At</elementReference>
            </defaultValue>
            <fieldText>Transhipment At</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Country_confirm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Country.selectedChoiceLabels</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vessel_Input_confirm</name>
            <choiceReferences>vesselFromMasterData</choiceReferences>
            <choiceReferences>vesselManualInput</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varRadioSelect</elementReference>
            </defaultValue>
            <fieldText>Vessel Input</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vessel_Aircraft_Carrier_Name_confirm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varVesselName</elementReference>
            </defaultValue>
            <fieldText>Vessel/Aircraft/Carrier Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vessel_Aircraft_Carrier_Number_confirm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Vessel_Aircraft_Carrier_Number</elementReference>
            </defaultValue>
            <fieldText>Vessel/Aircraft/Carrier Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>confirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Pastikan data Transhipment di atas sudah benar! Klik tombol &lt;strong&gt;Lanjutkan&lt;/strong&gt; untuk menyimpan data Transhipment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Lanjutkan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Risk_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRadioSelect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVesselName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
