force-app/main/default/flows/Upsert_Insurance_Policy_Product_Clause.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Clause.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.opportunityid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.InsurancePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.insurancepolicyid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Master_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.mdclausaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Clause_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clausename</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.ClauseText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clausename</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Clause_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clausedesccl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Unique_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.uniqueid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Partition_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.partitionCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Lintaswata_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LintaswataSync</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Lintaswata_Last_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LintaswataDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Clause_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clausaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Busreq_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.busreqid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Is_Additional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.isadditional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.Is_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ischanged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Clause.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LClauseUpsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Clause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UniqueId</name>
        <label>Assignment UniqueId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsUnique</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_IsUnique</name>
        <label>Check IsUnique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Insert_Clause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUnique_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUnique</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Clause</targetReference>
            </connector>
            <label>IsUnique is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UniqueId</name>
        <label>Check UniqueId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueId_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.uniqueid</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UniqueId</targetReference>
            </connector>
            <label>UniqueId Found</label>
        </rules>
    </decisions>
    <description>CreatedMethod removed</description>
    <environments>Default</environments>
    <interviewLabel>Upsert Insurance Policy Product Clause {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upsert Insurance Policy Product Clause</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ListClause</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_UniqueId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_IsUnique</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Error_Cause__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Messages__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Run__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Logs__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Clause</name>
        <label>Insert Clause</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputReference>LClauseUpsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Upsert_Clause</name>
        <label>Upsert Clause</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputReference>LClauseUpsert</inputReference>
        <upsertExternalIdField>Unique_ID__c</upsertExternalIdField>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Clause</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicyProductClause</objectType>
    </variables>
    <variables>
        <name>IsUnique</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LClauseUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>InsurancePolicyProductClause</objectType>
    </variables>
    <variables>
        <name>LintaswataDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>LintaswataSync</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListClause</name>
        <apexClass>ApexDefinedFlow</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
