force-app/main/default/flows/User_UpdateQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Branch_Queue</name>
        <label>Copy 1 of Set Branch Queue</label>
        <locationX>732</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Queue_RO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Queue_Branch_Old</name>
        <label>Copy 1 of Set Queue Branch Old</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>QueueNameOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Last_Queue_RO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Old</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Branch_Queue</name>
        <label>Set Branch Queue</label>
        <locationX>996</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Orgeh_Queue</name>
        <label>Set Orgeh Queue</label>
        <locationX>204</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orgeh.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Branch_Old</name>
        <label>Set Queue Branch Old</label>
        <locationX>666</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>QueueNameOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Old.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Old</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Queue_Orgeh_Old</name>
        <label>Set Queue Orgeh Old</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>QueueNameOld</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Orgeh_old.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Old</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cek_Area</name>
        <label>Cek Area</label>
        <locationX>633</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Cek_Queue_RO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Branch</defaultConnectorLabel>
        <rules>
            <name>Area_Pusat</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SCC_Orgeh__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>229</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SCC_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00229</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Orgeh</targetReference>
            </connector>
            <label>Area Pusat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Area_Old</name>
        <label>Cek Area Old</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Cek_Last_RO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Branch</defaultConnectorLabel>
        <rules>
            <name>Area_Pusat_Old</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SCC_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>229</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SCC_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00229</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Orgeh_old</targetReference>
            </connector>
            <label>Area Pusat Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Branch</name>
        <label>Cek Branch</label>
        <locationX>1128</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Branch_Queue</targetReference>
            </connector>
            <label>Branch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Group_Member_Old</name>
        <label>Cek Group Member Old</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Create_Queue_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Member_Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Queue_Prev</targetReference>
            </connector>
            <label>Group Member Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Last_RO</name>
        <label>Cek Last RO</label>
        <locationX>534</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Get_Branch_Old</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Last_Queue_RO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Last_Queue_RO__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Queue_Branch_Old</targetReference>
            </connector>
            <label>Last RO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Orgeh</name>
        <label>Cek Orgeh</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Orgeh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orgeh.Queue_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Orgeh.Queue_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Orgeh_Queue</targetReference>
            </connector>
            <label>Orgeh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Queue</name>
        <label>Cek Queue</label>
        <locationX>633</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QueueId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cek_Area_Old</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Queue_Old</name>
        <label>Cek Queue Old</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Create_Queue_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue_Old.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member</targetReference>
            </connector>
            <label>Queue Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cek_Queue_RO</name>
        <label>Cek Queue RO</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Branch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Queue_RO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Queue_RO__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Branch_Queue</targetReference>
            </connector>
            <label>Queue RO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BranchCode</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SCC_Branch__c} != NULL,RIGHT(&apos;00000&apos; + {!$Record.SCC_Branch__c},5),NULL)</expression>
    </formulas>
    <formulas>
        <name>BranchCodeOld</name>
        <dataType>String</dataType>
        <expression>IF({!$Record__Prior.SCC_Branch__c} != NULL,RIGHT(&apos;00000&apos; + {!$Record__Prior.SCC_Branch__c},5),NULL)</expression>
    </formulas>
    <interviewLabel>[User]_UpdateQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User]_UpdateQueue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Queue_Member</name>
        <label>Create Queue Member</label>
        <locationX>336</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Queue_Prev</name>
        <label>Delete Queue Prev</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Create_Queue_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Member.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Branch</name>
        <label>Get Branch</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BranchCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BranchCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Old</name>
        <label>Get Branch Old</label>
        <locationX>666</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_Branch_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BranchCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BranchCodeOld</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Group_Member_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Old.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orgeh</name>
        <label>Get Orgeh</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Orgeh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SCC_Orgeh__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Orgeh__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orgeh_old</name>
        <label>Get Orgeh old</label>
        <locationX>138</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Queue_Orgeh_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.SCC_Orgeh__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Orgeh__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Old</name>
        <label>Get Queue Old</label>
        <locationX>336</locationX>
        <locationY>1931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cek_Queue_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueNameOld</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cek_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SCC_Branch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueNameOld</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
